.products-widget {
}
.exhibitor-qa-widget {
}
.exhibitor-details-widget {
}
.app-in-iframe {
    .exhibitor-detail--members {
        .edit-users--popup {
            &.show-users {
                overflow: hidden;
                .content {
                    height: 120px;
                    margin-top: 10px;
                    .detail {
                        height: 50px;
                    }
                }
            }
        }
    }
}
