@import "../../../../assets/scss/screens-sizes";
.questionboard-admin--container {
    .search-input-box {
        position: relative;
        height: 36px;
        background-color: var(--input-background-color);
        border: var(--input-border-width) solid var(--input-border-color);
        border-radius: var(--input-border-radius);
        input {
            height: inherit;
            padding-left: 10px;
            font-size: 14px;
            font-weight: 300;
            color: var(--input-text-color);
            background-color: unset;
            border: none;
            &::placeholder {
                color: var(--input-placeholder-text-color);
            }
            &:focus {
                outline: none;
            }
        }
        i {
            position: absolute;
            top: 9px;
            right: 25px;
            display: flex;
            align-items: center;
            height: inherit;
            font-size: 17px;
            font-weight: 600;
            color: var(--input-text-color);
        }
        &.left-icon {
            input {
                padding-right: 5px;
                padding-left: 35px;
            }
            i {
                right: auto;
                left: 10px;
            }
        }
    }
}
