@import "../../../../assets/scss/screens-sizes";

.questionboard-admin--container {
    &--item {
        @include media("ag-1") {
            flex: 0 0 100%;
            max-width: 100%;
        }
        @include media("ag-2") {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include media("ag-3") {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
        margin-bottom: 30px;
        .inner-container {
            &--header {
                border-bottom: 1px solid var(--card-divider-color);
                &--title {
                    display: flex;
                    word-break: break-all;
                    i {
                        font-size: 23px;
                        color: var(--card-text-color);
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                        color: var(--card-text-color);
                    }
                }
            }
            &--content {
                &--group {
                    height: 700px;
                    overflow: auto;
                    scrollbar-color: var(--scrollbar-thumb)
                        var(--scrollbar-background);
                    scrollbar-width: thin;
                    &::-webkit-scrollbar {
                        width: 3.5px;
                    }
                    &::-webkit-scrollbar-track {
                        background: var(--scrollbar-background);
                    }
                    &::-webkit-scrollbar-thumb {
                        background: var(--scrollbar-thumb);
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        opacity: 50%;
                    }
                    .question-item {
                        overflow: hidden;
                        &--header {
                            &--title {
                                h3 {
                                    display: -webkit-box;
                                    height: 55px;
                                    overflow: hidden;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 28px;
                                    color: var(--card-text-color);
                                }
                            }
                            &--button {
                                display: flex;
                                flex-flow: wrap;
                                justify-content: flex-end;
                                a {
                                    width: 36px;
                                    i {
                                        font-size: 17px;
                                    }
                                }
                                &--arrow-right {
                                    a {
                                        i {
                                            font-weight: 700;
                                            &::before {
                                                content: "\e016";
                                            }
                                        }
                                    }
                                }
                                &--move {
                                    a {
                                        cursor: move;
                                        i {
                                        }
                                    }
                                }
                            }
                        }
                        &--content {
                            &--header {
                                display: flex;
                                align-items: center;
                                &--avatar {
                                    display: block;
                                    width: 36px;
                                    height: 36px;
                                    content: "";
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    border-radius: var(--circle-border-radius);
                                }
                                &--det {
                                    display: grid;
                                    width: 72%;
                                    h4 {
                                        display: -webkit-box;
                                        height: 16px;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 16px;
                                        color: var(--card-text-color);
                                    }
                                    span {
                                        font-size: 12px;
                                        font-weight: 500;
                                        color: var(--card-second-text-color);
                                    }
                                }
                            }
                            &--comm {
                                img {
                                    width: 100%;
                                    height: auto;
                                    cursor: pointer;
                                }
                                p {
                                    padding-left: 45px;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                            &--action {
                                &--button {
                                    @include media("qb-1") {
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        padding-right: 10px;
                                        padding-left: 10px;
                                    }
                                    a {
                                        position: relative;
                                        height: auto;
                                        min-height: 36px;
                                        padding-right: 30px !important;
                                        padding-left: 10px !important;
                                        line-height: 18px !important;
                                        word-break: break-all;
                                        i {
                                            position: absolute;
                                            right: 10px;
                                            font-size: 18px;
                                        }
                                    }
                                    &.approve {
                                        a {
                                            i {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                    &.reject {
                                        a {
                                            i {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                            &.rep {
                                border-top: 1px solid var(--card-divider-color);
                            }
                        }
                    }
                    .null {
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--card-second-text-color);
                    }
                }
            }
        }

        .text-box-container {
            position: relative;
            height: 104px;
            background-color: var(--input-background-color);
            border: var(--input-border-width) solid var(--input-border-color);
            border-radius: var(--input-border-radius);

            textarea {
                height: 75px;
                min-height: 75px;
                padding: 8px;
                color: var(--input-text-color);
                resize: none;
                background-color: var(--input-background-color);
                border: none !important;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--input-placeholder-text-color);
                }

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: var(--secondary-10);
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--scrollbar-thumb);
                }

                &::-webkit-scrollbar-thumb:hover {
                    opacity: 50%;
                }
            }

            &--options {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                &--char {
                    display: flex;
                    align-items: center;

                    .btn {
                        display: flex;
                        align-items: center;
                        padding-right: 7px;

                        &.a-icon {
                            i {
                                font-family: auto;
                                font-size: 19px;
                                font-style: normal;
                                color: var(--card-second-text-color);
                            }
                        }

                        &.smile-icon {
                            background: none !important;
                            border: unset !important;

                            i {
                                font-size: 17px;
                                color: var(--card-second-text-color);
                            }

                            &:focus,
                            &:active {
                                background: none !important;
                                border: unset !important;
                                outline: unset !important;
                                box-shadow: unset !important;
                            }
                        }
                    }
                }

                &--send {
                    display: flex;
                    align-items: center;

                    label {
                        font-size: 13px;
                        color: var(--card-second-text-color);
                    }

                    .btn-send {
                        background: none !important;
                        border: unset !important;
                        padding: 0 !important;
                        height: 30px !important;
                        margin-left: 10px;
                        font-size: 12px !important;
                        font-weight: 700;
                        color: var(--primary);
                        border-left: 1px solid var(--card-divider-color0);

                        &:focus {
                            background: none !important;
                            border: unset !important;
                            outline: unset !important;
                            box-shadow: unset !important;
                        }
                    }
                }
            }
        }
    }
}
