@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";


textarea.form-control {
    min-height: 111px;
    font-size: 14px;
    font-weight: 400;
    color: var(--input-fg-clr);
    background-color: var(--input-bg-clr);
    border: 1px solid var(--input-border-clr);
    border-radius: var(--border-radius);

    &:focus {
        color: var(--input-fg-clr);
        background-color: var(--input-bg-clr);
        border-color: var(--input-border-clr);
        box-shadow: unset;
    }
}

.form-label {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-70);

    .counter {
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-80);
    }
}

.required {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #C31F27;
}

.counter {
    position: absolute;
    right: 0;
}

.custom-input {
    &-description {
        position: relative;
        cursor: pointer;

        &:hover > &-content {
            display: block;
        }

        span {
            padding: 0 5px;
            margin-left: 2px;
            font-size: 10px;
            color: #FFF;
            background-color: #CAD0DC;
            border: unset;
            border-radius: 50%;
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1060;
            display: none;
            min-width: 200px;
            max-width: 276px;
            padding: .5rem .75rem;
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--secondary-90);
            text-align: left;
            text-align: start;
            background-color: #FFF;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: var(--border-radius);
        }
    }
}
