@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.nav-pills {
    .nav-item {
        .nav-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: fit-content;
            height: 76px;
            padding-right: 30px !important;
            font-size: 18px !important;
            font-weight: 500 !important;
            color: var(--tab-text-color);
            background-color: var(--tab-background-color);
            border-radius: var(--tab-border-radius);
            border: none;

            @include media("container-b-l") {
                width: auto;
                font-size: 16px;
            }

            @include media("mobtosmall") {
                height: 45px;
                padding: 0 15px;
                font-size: 14px;
            }

            i {
                display: flex;
                align-items: center;
                height: 80%;
                padding-right: 15px;
                padding-bottom: 4px;
                margin-right: 15px;
                font-weight: 500;
                border-right: 1px solid var(--card-divider-color);

                @include media("mobtosmall") {
                    display: none;
                }
            }

            &.active {
                color: var(--tab-text-color--active) !important;
                background-color: var(--tab-background-color--active);
                border: none;
                box-shadow: 0 2px 9px var(--tab-box-shadow-color--active);

                &:focus {
                    color: var(--tab-text-color--active);
                    background-color: var(--tab-background-color--active);
                    border: unset;
                    outline: none;
                    box-shadow: 0 2px 9px var(--tab-box-shadow-color--active);
                }

                &:active {
                    color: var(--tab-text-color--active);
                    background-color: var(--tab-background-color--active);
                    border: unset;
                    outline: none;
                    box-shadow: 0 2px 9px var(--tab-box-shadow-color--active);
                }

                &:visited {
                    color: var(--tab-text-color--active);
                    background-color: var(--tab-background-color--active);
                    border: none;
                }

                &:not(:disabled):not(.disabled) {
                    background-color: var(--tab-background-color--active) !important;
                }
            }

            &:not(:disabled):not(.disabled) {
                border: none !important;
            }
        }
    }
}

.child-tab {
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 400;
        color: var(--tab-text-color);
        border: none;

        &.active {
            color: var(--tab-text-color--active) !important;
            background-color: var(--tab-background-color--active);
            border: none;

            &:focus {
                color: var(--tab-text-color--active);
                background-color: var(--tab-background-color--active);
                border: unset;
                outline: none;
                box-shadow: 0 2px 9px var(--tab-box-shadow-color--active);
            }

            &:active {
                color: var(--tab-text-color--active);
                background-color: var(--tab-background-color--active);
                border: unset;
                outline: none;
                box-shadow: 0 2px 9px var(--tab-box-shadow-color--active);
            }

            &:visited {
                color: var(--tab-text-color--active);
                background-color: var(--tab-background-color--active);
                border: none;
            }

            &:not(:disabled):not(.disabled) {
                background-color: var(--tab-background-color--active) !important;
            }
        }

        &:not(:disabled):not(.disabled) {
            border: none !important;
        }
    }
}
