@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.event-detail-admin--workshop {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &--container {
        background-color: var(--light-clr);
        border-radius: var(--border-radius);

        &--header {
            @include media("mobile") {
                position: relative;
                height: 70px;
            }
            &--left {
                &--content {
                    @include media("mobile") {
                        position: absolute;
                        left: 0;
                        width: 100%;
                    }
                    .arrow-left-btn {
                        width: 36px;
                        @include media("mobile") {
                            position: absolute;
                            top: 35px;
                            left: -5px;
                        }
                        i {
                            font-size: 17px;
                            font-weight: 500;
                            color: var(--secondary);

                            &::before {
                                content: "\e017";
                            }
                        }
                    }
                }
            }

            &--right {
                display: flex;
                align-items: center;
                @include media("mobile") {
                    position: absolute !important;
                    left: 0;
                    width: 100% !important;
                }
                .size-dropdown {
                    display: flex;
                    align-items: center;
                    width: 125px;
                    height: 36px;
                    background-color: var(--btn-secondary-bg-clr);
                    border-radius: var(--border-radius);
                    box-shadow: 0 6px 30px var(--secondary-20);
                    @include media("mobile") {
                        position: absolute;
                        left: 10px;
                        width: 95px;
                        height: 33px;
                        margin-top: 10px;
                    }
                    .cardsize-dropdown {
                        width: 100%;
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--secondary);
                        .custom-select__value-container {
                            flex-wrap: nowrap;
                            height: 36px;
                            .custom-select__placeholder {
                                display: flex;
                                line-height: 36px;
                            }
                        }
                    }
                }
                .btn-session {
                    @include media("mobile") {
                        position: absolute;
                        right: 10px;
                        margin-top: 10px;
                    }
                }

                .btn-arrow {
                    width: 36px;
                    @include media("mobile") {
                        position: absolute;
                        top: 35px;
                        right: 10px;
                    }
                    i {
                        font-size: 17px;
                        font-weight: 500;

                        &::before {
                            content: "\e016";
                        }
                    }
                }
            }

            .swiper-button-disabled {
                cursor: unset !important;
                display: none !important;
            }
        }

        &--content {
            &--item {
                .inner-container {
                    overflow: hidden;

                    &--header {
                        &--time {
                            display: flex;

                            i {
                                font-size: 17px;
                                font-weight: 500;
                                color: var(--header-desc-fg-clr);
                            }

                            &--content {
                                display: grid;

                                h2 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--header-desc-fg-clr);

                                    span {
                                        font-size: 16px;
                                        font-weight: 700;
                                    }
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                            }
                        }

                        &--seats {
                            display: flex;

                            i {
                                font-size: 20px;
                                font-weight: 500;
                                color: var(--header-desc-fg-clr);
                            }

                            &--content {
                                display: grid;

                                h2 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--header-desc-fg-clr);

                                    span {
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: var(--header-sub-desc-fg-clr);
                                    }
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: var(--header-sub-desc-fg-clr);
                                }
                            }
                        }
                    }

                    &--banner {
                        &--content {
                            position: relative;
                            width: auto;
                            height: 133px;
                            cursor: pointer;
                            background-repeat: no-repeat;
                            background-size: cover;

                            &--button {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                            }
                        }
                    }

                    &--det {
                        &--title {
                            a {
                                h2 {
                                    display: -webkit-box;
                                    height: 60px;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 28px;
                                    color: var(--secondary);
                                }
                            }
                        }

                        &--content {
                            &--title {
                                display: flex;
                                align-items: center;

                                i {
                                    font-size: 23px;

                                    &::before {
                                        content: "\e000";
                                    }
                                }

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--secondary);
                                }
                            }

                            &--speakers {
                                height: 135px;

                                &--item {
                                    a {
                                        display: flex;
                                        align-items: center;
                                    }

                                    &--profile {
                                    }

                                    &--det {
                                    }

                                    &.user-1 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-9.png);
                                        }
                                    }

                                    &.user-2 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-2.png);
                                        }
                                    }

                                    &.user-3 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-7.png);
                                        }
                                    }
                                }
                            }

                            &--more {
                                padding-left: 43px;

                                a {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: var(--primary);
                                }
                            }
                        }

                        &--action {
                            &--join {
                                a {
                                    position: relative;

                                    i {
                                        position: absolute;
                                        left: 10px;
                                        font-size: 17px;
                                        font-weight: 500;
                                    }
                                }
                            }

                            &--other {
                                &--item {
                                    a {
                                        i {
                                            font-size: 17px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.event-1 {
                    .inner-container {
                        &--banner {
                            &--content {
                                // background-image: url(/v2/assets/images/events_banner/events-banner-1.png);
                            }
                        }
                    }
                }

                &.event-2 {
                    .inner-container {
                        &--banner {
                            &--content {
                                // background-image: url(/v2/assets/images/events_banner/events-banner-2.png);
                            }
                        }
                    }
                }
            }
        }
    }
}
