@import "../../../../assets/scss/variables";

.footer-action {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: #FFF;
    box-shadow: 0 -7px 40px var(--secondary-20);
}
