@import "../../../../assets/scss/variables";

.footer-action {
    bottom: 0;
    left: 0;
    z-index: 9;
    // background-color: var(--light-clr);
    // box-shadow: 0 -7px 40px var(--box-shadow-box-clr);
}