@import "./../../../../assets/scss/variables";
@import "./../../../../assets/scss/screens-sizes";

.app-session-detail-operator-panel {
    .inline-loader {
        position: absolute;
        height: auto;
    }
    .applyvote-btn {
        margin-top: 21px;
        @include media("mobtosmall") {
            margin-top: 0;
        }
    }
}
