@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.page-title {
    margin: 0 0 20px;
    font-weight: 700;

    h1 {
        margin-bottom: 0;
        //@TODO Credit Suisse Customization -- start
        font-family: var(--font-family-title);
        //@TODO Credit Suisse Customization -- end
        font-size: 42px;
        font-weight: 900;
        line-height: 50.4px;
        color: var(--secondary);
        word-break: break-word;
        @include media("lg") {
            font-size: 1.8rem;
        }
        @include media("mcbk-1") {
            font-size: 30px;
        }
        @include media("mcbk-2") {
            font-size: 33px;
        }
    }
}
