@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.form-group {
    .custom-select-container {
        min-height: 36px !important;

        .custom-select__control {
            min-height: 36px !important;
        }
    }
}

.custom-select {
    &__placeholder {
        position: relative !important;
        display: contents;
        height: inherit;
        padding-top: 3px;
        font-size: 14px;
    }
    &-container {
        z-index: 3;
        color: var(--select-text-color);
        background: var(--select-background-color) !important;
        border: var(--select-border-width) solid var(--select-border-color) !important;
        border-radius: var(--select-border-radius) !important;
    }

    &__control {
        background-color: unset !important;
        border-color: unset !important;
        border-style: unset !important;
        border-width: unset !important;
        border-radius: unset !important;
        box-shadow: unset !important;

        &:focus {
            background-color: unset !important;
            border-color: unset !important;
            border-style: unset !important;
            border-width: unset !important;
            border-radius: unset !important;
            box-shadow: unset !important;
        }
    }
    &__multi-value {
        margin-top: 2px !important;
        background-color: var(--primary-20) !important;

        &__label {
            color: var(--primary) !important;
        }

        &__remove {
            color: var(--primary) !important;

            &:hover {
                background-color: var(--primary-20) !important;
                cursor: pointer;
            }
        }
    }

    &__indicator-separator {
        display: none;
    }

    &__indicator {
        svg {
            color: var(--select-text-color);
        }
    }

    &__menu {
        padding: 0 !important;
        //margin: 0 !important;
        border: var(--select-border-width) solid var(--select-border-color) !important;
        border-radius: var(--select-border-radius) !important;
        box-shadow: 2px 12px 38px var(--select-box-shadow-color) !important;
        &-list {
            padding: 0 !important;
        }
    }

    &__single-value {
        color: var(--select-text-color) !important;
    }

    &__selected {
        background-color: var(--primary-20) !important;
    }

    &__option {
        color: var(--select-option-text-color) !important;
        background-color: var(--select-option-background-color) !important;
        border: unset;

        &--is-selected {
            color: var(--select-option-text-color--hover) !important;
            background-color: var(--select-option-background-color--hover) !important;
        }

        &--is-focused {
            color: var(--select-option-text-color--hover) !important;
            background-color: var(--select-option-background-color--hover) !important;
        }

        &:hover,
        &:active,
        &:focus {
            color: var(--select-option-text-color--hover) !important;
            background-color: var(--select-option-background-color--hover) !important;
        }
    }
}

.custom-select-container.form-control {
    height: auto;
    padding: 0;
    border: var(--select-border-width) solid var(--select-text-color);
}
