@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.custom-select {
    &-container {
        z-index: 2;
        height: 36px;
        color: var(--input-fg-clr);
        background: var(--input-bg-clr) !important;
        border: 1px solid var(--input-border-clr);
        border-radius: var(--border-radius);
    }

    &__control {
        background-color: unset !important;
        border-color: unset !important;
        border-style: unset !important;
        border-width: unset !important;
        border-radius: unset !important;
        box-shadow: unset !important;

        &:focus {
            background-color: unset !important;
            border-color: unset !important;
            border-style: unset !important;
            border-width: unset !important;
            border-radius: unset !important;
            box-shadow: unset !important;
        }
    }

    &__indicator-separator {
        display: none;
    }

    &__indicator {
        svg {
            color: var(--secondary);
        }
    }

    &__menu {
        padding: 0;
        border: 1px solid transparent !important;

        &-list {
            padding: 0;
        }
    }

    &__option {
        color: var(--secondary);
        border: unset;

        &:hover,
        &:active,
        &:focus {
            color: var(--secondary);
            background-color: var(--secondary-20);
        }
    }


}

.custom-select-container.form-control {
    height: auto;
    padding: 0;
    border: 1px solid var(--input-border-clr);
}