@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.card {
    background-color: var(--container-box-bg-clr) !important;
    border: unset !important;
    border-radius: var(--border-radius) !important;

    &-title {
        &.h5 {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
            color: var(--secondary);
        }

    }
}
