@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.card {
    color: var(--card-text-color);
    background-color: var(--card-background-color) !important;
    border: unset !important;
    border-radius: var(--card-border-radius) !important;
    box-shadow: 0 3px 9px var(--card-box-shadow-color);

    &.card-height {
        height: 95%;
    }

    &.card-height2 {
        height: 93%;
    }

    &.card-height3 {
        height: 90%;
    }

    &-title {
        &.h5 {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
            color: var(--card-text-color);
        }
    }
    p {
        color: var(--card-text-color);
    }
}
