@import "../../../../assets/scss/screens-sizes";
@import "./../../../../assets/scss/variables";

.app-grid {
    padding: 15px;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0 3px 9px var(--card-box-shadow-color);
    &.table-responsive {
        min-height: 65vh;
    }

    .ag-center-cols-viewport {
        overflow: hidden;
        background-color: var(--light-clr);

        @include media("lg") {
            overflow: auto;
        }
    }
    .ag-row-loading {
        justify-content: center;
        background-color: var(--card-background-color) !important;
        border-bottom: none !important;
        .ag-loading {
            padding-left: 0 !important;
            color: var(--card-text-color);
        }
    }
    .ag-body-horizontal-scroll {
        background-color: var(--light-clr);
        .ag-body-horizontal-scroll-viewport {
            scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
            scrollbar-width: thin;

            &.app-in-iframe {
                background-color: var(--iframe-body-background-color) !important;
            }

            &::-webkit-scrollbar {
                height: 7px;
            }

            &::-webkit-scrollbar-track {
                background: var(--scrollbar-background);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--scrollbar-thumb);
            }

            &::-webkit-scrollbar-thumb:hover {
                opacity: 100%;
            }
        }
    }

    .ag-cell {
        display: flex;
        align-items: center;
        text-align: right;

        .actions {
            display: flex;

            a,
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                margin: auto;
                background-color: transparent;

                &.disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                }

                svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    padding: 8px;
                    color: var(--secondary-button-text-color);
                    background-color: var(--secondary-button-background-color);
                    border-radius: var(--secondary-button-border-radius);
                    box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
                }
            }
        }
        &.action-cell {
            justify-content: flex-end;
        }
        &.title-cell {
            height: 100%;
            a {
                display: flex;
                align-items: center;
                width: 100%;
                font-weight: 500;
                color: var(--secondary);
            }
        }
    }

    .ag-theme-alpine {
        .ag-sort-ascending-icon,
        .ag-sort-descending-icon {
            position: relative;
            display: block !important;
            color: var(--primary) !important;

            &.ag-hidden {
                opacity: 0;
            }
        }

        .ag-sort-ascending-icon:not(.ag-hidden) {
            & + .ag-hidden {
                color: var(--primary) !important;
            }
        }

        .ag-sort-descending-icon:not(.ag-hidden) {
            & + .ag-hidden {
                color: var(--primary) !important;
            }
        }

        .ag-hidden {
            color: var(--secondary) !important;
        }

        .ag-icon-desc {
            position: absolute;
            bottom: -9px;
            left: -6px;

            &::before {
                //content: "\f128" !important;
            }
        }

        .ag-icon-asc {
            position: absolute;
            top: -11px;
            left: 0;

            &::before {
                //content: "\f12b" !important;
            }
        }

        .ag-icon {
            // required because Font Awesome uses bold for its icons
            font-weight: 300;
        }

        .ag-root-wrapper {
            border: 0 !important;
            border-radius: var(--card-border-radius);
        }

        .ag-react-container {
            height: 100%;
        }

        .ag-center-cols-container {
            background-color: var(--card-background-color) !important;
            .ag-row {
                &:hover {
                    background-color: var(--light-clr);
                }
                &:last-child {
                    border-width: 0;
                }
                //height: 60px !important;
                .ag-cell {
                    font-size: 14px;
                    line-height: 60px;
                    color: var(--table-row-text-color);
                    border: unset !important;
                    &:focus {
                        border: unset !important;
                    }

                    a {
                        height: 44px;
                        text-decoration: none;
                    }
                }

                .ag-cell-focus {
                    border: unset !important;
                }

                .ag-cell:first-child {
                    font-weight: 500;
                }
            }
            .ag-row-even {
                background-color: var(--table-row-even-background-color);

                &:hover {
                    background-color: var(--table-row-even-background-color);
                }
            }
            .ag-row-odd {
                background-color: var(--table-row-odd-background-color);

                &:hover {
                    background-color: var(--table-row-odd-background-color);
                }
            }
        }

        .ag-header-cell-resize {
            &::after {
                background-color: unset;
            }
        }

        .ag-header {
            background-color: var(--table-header-background-color);
            border-bottom: unset;

            .ag-header-cell {
                .ag-header-cell-label {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--secondary);
                    opacity: 0.6;
                }
                &.action-header {
                    .ag-header-cell-label {
                        justify-content: center;
                    }
                }
            }

            .ag-header-cell-sorted-asc,
            .ag-header-cell-sorted-desc {
                .ag-header-cell-label {
                    opacity: 1;
                }
            }
        }
    }
}

.app-grid-action {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--body-background-color);

    .pagination-container {
        width: 130px;
    }
}
