@import "../../../../assets/scss/screens-sizes";
@import "./../../../../assets/scss/variables";

.ag-theme-alpine {
    .action-header {
        @include media("container-d-ts") {
            max-width: 140px;
        }
    }

    .action-header {
        .ag-header-cell-label {
            width: 100%;
            text-align: right;

            span {
                width: 100%;
            }
        }
    }

    .text-right {
        .ag-react-container {
            div {
                margin-left: auto;
            }
        }
    }

    .ag-react-container {
        height: 100%;
    }

    .ag-sort-ascending-icon,
    .ag-sort-descending-icon {
        position: relative;
        display: block !important;
        color: var(--primary) !important;

        &.ag-hidden {
            opacity: .6;
        }

    }

    .ag-sort-ascending-icon:not(.ag-hidden) {
        &+.ag-hidden {
            color: var(--primary) !important;
        }
    }

    .ag-sort-descending-icon:not(.ag-hidden) {
        &+.ag-hidden {
            color: var(--primary) !important;
        }

    }

    .ag-hidden {
        color: var(--secondary) !important;
    }

    .ag-icon-desc {
        position: absolute;
        bottom: -12px;
        left: -6px;

        &::before {
            content: "\f128" !important;
        }
    }

    .ag-icon-asc {
        position: absolute;
        top: -12px;
        left: 0;

        &::before {
            content: "\f12b" !important;
        }
    }

    //noinspection Stylelint
    .ag-icon {
        // required because Font Awesome uses bold for its icons
        font-weight: bold;
    }

    .ag-root-wrapper {
        border: 0 !important;
    }

    .ag-center-cols-container {
        .ag-row {
            background-color: $widget-background-color;
            border-bottom: unset;
            border-bottom: 1px solid var(--primary-20);

            .ag-cell {
                font-family: $font-family-sans-serif;
                font-size: 14px;

                a {
                    width: 44px;
                    height: 44px;
                    text-decoration: none;

                }
            }
        }
    }

    .ag-header {
        background: unset !important;
        border-bottom: 2px solid var(--primary);

        .ag-header-cell {
            .ag-header-cell-label {
                font-family: $font-family-sans-serif;
                font-size: 12px;
                font-weight: 400;
                opacity: .6;

            }
        }

        .ag-header-cell-sorted-asc,
        .ag-header-cell-sorted-desc {
            .ag-header-cell-label {
                opacity: 1;
            }
        }

    }
}