@import "./../../../../assets/scss/variables";

.ag-theme-alpine {
    .ag-sort-ascending-icon,
    .ag-sort-descending-icon {
        position: relative;
        display: block !important;
        color: $primary !important;

        &.ag-hidden {
            opacity: .6;
        }

    }

    .ag-sort-ascending-icon:not(.ag-hidden) {
        & + .ag-hidden {
            color: $primary !important;
        }
    }

    .ag-sort-descending-icon:not(.ag-hidden) {
        & + .ag-hidden {
            color: $primary !important;
        }

    }

    .ag-hidden {
        color: $secondary !important;
    }

    .ag-icon-desc {
        position: absolute;
        bottom: -12px;
        left: -6px;

        &::before {
            content: "\f128" !important;
        }
    }

    .ag-icon-asc {
        position: absolute;
        top: -12px;
        left: 0;

        &::before {
            content: "\f12b" !important;
        }
    }

    //noinspection Stylelint
    .ag-icon {
        // required because Font Awesome uses bold for its icons
        font-weight: bold;
    }

    .ag-root-wrapper {
        border: 0 !important;
    }

    .ag-center-cols-container {
        .ag-row {
            height: 60px !important;
            margin: 10px 0;
            background-color: $widget-background-color;
            border-bottom: unset;
            border-radius: $border-radius;

            .ag-cell {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                line-height: 60px;

                a {
                    width: 44px;
                    height: 44px;
                    text-decoration: none;

                }
            }

            .ag-cell:first-child {
                font-weight: 700;
            }
        }
    }

    .ag-header {
        background: unset !important;
        border-bottom: unquote("1px" + " solid " + $secondary + "20") !important;

        .ag-header-cell {
            .ag-header-cell-label {
                font-family: $font-family-sans-serif;
                font-size: 12px;
                font-weight: 400;
                opacity: .6;

            }
        }

        .ag-header-cell-sorted-asc,
        .ag-header-cell-sorted-desc {
            .ag-header-cell-label {
                opacity: 1;
            }
        }

    }
}
