@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.streaming-tab {
    .nav-link {
        height: 52px;
        padding: 10px;
        background-color: var(--tab-background-color) !important;

        &.active {
            border: 1px solid var(--primary) !important;
            background-color: var(--tab-background-color--active) !important;
        }
    }
}
