@import "../../../../assets/scss/variables";

.es-breadcrumb {
    margin-bottom: 29px;
    //font-family: var(--font-family-sans-serif);
    //@TODO Credit Suisse Customization -- start
    font-family: var(--font-family-body);
    //@TODO Credit Suisse Customization --end
    font-size: 16px;
    font-weight: 700;
    color: var(--primary) !important;

    a {
        color: var(--primary);

        &:hover {
            color: var(--primary);
        }
    }

    svg {
        color: var(--primary);
    }
}
