@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.create-session {



    &--docs {
        &--header {
            margin-bottom: 6px;

            &--name {
                display: flex;
                align-items: center;

                h3 {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--secondary);

                    i {
                        padding-right: 10px;
                        padding-bottom: 5px;
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }

            &--button {
                a {
                    padding-top: 9px;

                    i {
                        padding-right: 10px;
                        padding-bottom: 4px;
                    }
                }
            }
        }

        &--container {
            width: 100%;
            height: 350px;
            overflow: auto;
            scrollbar-color: var(--secondary) var(--secondary-10);
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                background: var(--secondary-10);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--secondary);
            }

            &::-webkit-scrollbar-thumb:hover {
                opacity: 50%;
            }

            &--item {
                position: relative;

                a {
                    &.btn {
                        padding: 9px !important;

                    }

                    .doc-row {
                        display: flex;

                        @include media("smallmob") {
                            width: 80%;
                        }

                        .doc-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 21.08px;
                            height: 27.5px;
                            padding: 0 10px;
                            margin-right: 15px;
                            font-size: 7px;
                            font-style: normal;
                            font-weight: 900;
                            color: var(--file-icon-bg-clr);
                            border-radius: var(--border-radius);
                        }

                        .doc-title {
                            margin-right: 15px;

                            @include media("smallmob2") {
                                padding-left: 0;
                            }

                            h3 {
                                margin-bottom: 0;
                                font-size: 14px;
                                font-weight: 500;
                                color: var(--secondary);
                            }

                            p {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 500;
                                color: var(--secondary-70);
                            }
                        }

                        .doc-icon {
                            @include media("smallmob2") {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                .btn-delete {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    width: 36px;
                    padding: 9px !important;

                    i {
                        font-size: 17px;
                    }
                }

                &.docx {
                    .doc-icon {
                        background-color: var(--docx-i-bg-clr);
                    }
                }

                &.pdf {
                    .doc-icon {
                        background-color: var(--pdf-i-bg-clr);
                    }
                }

                &.pptx {
                    .doc-icon {
                        background-color: var(--pptx-i-bg-clr);
                    }
                }

                &.xls {
                    .doc-icon {
                        background-color: var(--xls-i-bg-clr);
                    }
                }
            }
        }
    }

}