@import "../../../../assets/scss/variables";

.questions-and-answers-wrapper {
    &--column {
        height: 90vh;
        overflow: hidden;
        background: white;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 10px;
    }

    &--title {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    &--thread {
        overflow: scroll;
        height: 100%;
    }
}
