@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.form-check {
    padding-left: 0 !important;

    .form-check-input {
        margin-left: 0 !important;
        position: relative;
        display: none;

        &:checked~.form-check-label::after {
            background-image: url(../images/svg/circle_radio.svg);
        }

        &:checked~.form-check-label::before {
            background-color: unset;
            border-color: var(--primary);
        }

        &:focus~.form-check-label::before {
            box-shadow: unset;
        }
    }

    &-label {
        cursor: pointer;
        position: relative;
        margin-bottom: 12px !important;
        padding: 0 20px;
        color: var(--secondary-70);
        font-size: 12px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            content: "";
            border: 2px solid var(--primary-50);
            border-radius: 50%;
        }

        &::after {
            position: absolute;
            top: 0;
            left:0;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background: 50%/50% 50% no-repeat;
        }
    }
}