@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.form-check {
    padding-left: 0 !important;

    input[type="radio"] {
        display: none;
        &:checked {
            & + label {
                &::after {
                    position: absolute;
                    left: 0.25rem;
                    display: block;
                    width: 0.5rem;
                    height: 0.5rem;
                    content: " ";
                    background: var(--primary);
                    border-radius: var(--circle-border-radius);
                }
                &::before {
                    border-color: var(--primary);
                }
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary);
        span {
            padding-top: 3px;
            padding-left: 7px;
        }
        &::before {
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            content: " ";
            background-color: transparent;
            border: 1px solid var(--secondary-70);
            border-radius: var(--circle-border-radius);
        }
    }
}
