@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.fa-tags {
    &::before {
        content: "\e014";
    }
}

.event-detail-admin--det {
    &--container {
        overflow: hidden;
        .inner-container {
            &.top {
                background-color: var(--card-background-color);
            }

            &.bottom {
                display: none;
                background-color: var(--widget-bg-clr);
            }

            &--title {
                .back-btn {
                    width: fit-content;
                    min-width: 100px;
                    padding-left: 30px !important;
                    white-space: nowrap;
                    i {
                        position: absolute;
                        left: 10px;
                        &::before {
                            content: "\e017";
                        }
                    }
                }
                a {
                    h1 {
                        font-size: 42px;
                        font-weight: 700;
                        line-height: 50px;
                        color: var(--card-text-color);

                        @include media("tabtolap2") {
                            font-size: 36px;
                            font-weight: 500;
                            line-height: initial;
                        }

                        @include media("mobile") {
                            font-size: 33px;
                            font-weight: 500;
                            line-height: initial;
                        }

                        @include media("mobtosmall") {
                            font-size: 22px;
                            line-height: initial;
                        }
                    }
                }
            }

            &--action {
                &--base {
                    display: flex;
                    justify-content: flex-end;

                    a {
                    }
                }

                &--exclusive {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        width: 36px;
                        i {
                            font-size: 18px;
                        }
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 36px;
                        font-size: 18px;
                        font-weight: 500;

                        i {
                        }

                        &.add-to-calendar {
                            i {
                                &::before {
                                    content: "\e01a";
                                }
                            }
                        }
                    }
                }
            }

            &--cover {
                width: 100%;
                height: 100%;
                i {
                    //position: absolute;
                    //left: 0;
                    z-index: 1;
                    display: flex;
                    width: 100%;
                    padding-bottom: 56.5%;
                    margin-bottom: 10px;
                    // background-image: url(/v2/assets/images/events_banner/events-banner-1.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: var(--card-border-radius);
                    @include media("container-b-l") {
                        position: inherit;
                    }
                }
            }

            &--det {
                z-index: 1;
                margin-top: -35px;
                border-radius: var(--card-border-radius);

                &--desc {
                    display: flex;

                    i {
                        padding-right: 10px;
                        font-size: 22px;
                    }

                    &--content {
                        margin-top: 3px;

                        h2 {
                            font-size: 16px;
                            font-weight: 700;
                            color: var(--card-text-color);
                        }

                        p {
                            display: grid;
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--card-second-text-color);
                            .read-or-hide {
                                font-size: 12px;
                                font-weight: 700;
                                color: var(--primary);
                                cursor: pointer;
                            }
                            p {
                                display: block;
                            }
                        }
                    }
                }

                &--sponsors {
                    &--title {
                        h2 {
                            font-size: 16px;
                            font-weight: 700;
                            color: var(--card-text-color);

                            i {
                                position: relative;
                                top: 3px;
                                padding-right: 10px;
                                font-size: 20px;
                            }
                        }
                    }

                    &--content {
                        display: flex;
                        overflow: auto;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        &--item {
                            flex: 0 0 auto;
                            width: 150px;
                            padding: 15px;
                            margin-right: 15px;
                            border-radius: var(--card-border-radius);

                            @include media("xl") {
                                width: 115px;
                            }

                            a {
                                i {
                                    display: block;
                                    height: 50px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                            }

                            &.sponsor-1 {
                                a {
                                    i {
                                        // background-image: url(/v2/assets/images/sponsors_logo/sponsor-1.png);
                                    }
                                }
                            }

                            &.sponsor-2 {
                                background-color: var(--custom-bg-clr-sp2);

                                a {
                                    i {
                                        // background-image: url(/v2/assets/images/sponsors_logo/sponsor-2.png);
                                    }
                                }
                            }

                            &.sponsor-3 {
                                a {
                                    i {
                                        // background-image: url(/v2/assets/images/sponsors_logo/sponsor-3.png);
                                    }
                                }
                            }

                            &.sponsor-4 {
                                a {
                                    i {
                                        // background-image: url(/v2/assets/images/sponsors_logo/sponsor-4.png);
                                    }
                                }
                            }

                            &.sponsor-5 {
                                background-color: var(--secondary);

                                a {
                                    i {
                                        // background-image: url(/v2/assets/images/sponsors_logo/sponsor-5.png);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
