@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.pagination {
    flex-flow: wrap;
    .page-item {
        display: flex;
        align-items: center;
        margin-left: 5px;
        @include media("mobile") {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &.active {
            .page-link {
                color: var(--primary);
                background-color: var(--primary-20);
            }
        }

        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            font-size: 14px;
            font-weight: 500;
            color: var(--secondary-button-text-color);
            background-color: var(--secondary-button-background-color);
            border: unset;
            border-radius: var(--secondary-button-border-radius);
            box-shadow: 0 3px 9px var(--select-box-shadow-color);

            &:hover {
                color: var(--secondary-button-text-color);
                background-color: var(--secondary-button-background-color);
            }

            &:focus {
                box-shadow: none;
            }
            @include media("mobile") {
                width: 25px;
                height: 25px;
            }
        }
    }
}
