@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.pagination {
    .page-item {
        margin-left: 5px;

        &.active {
            .page-link {
                color: var(--primary);
                background-color: var(--primary-20);
            }
        }

        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            font-size: 14px;
            font-weight: 500;
            color: var(--secondary);
            background-color: var(--light-clr);
            border: unset;
            border-radius: var(--border-radius);
            box-shadow: 0 3px 9px var(--select-box-shadow-color);

            &:hover {
                color: var(--primary);
                background-color: var(--light-clr);
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}
