@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.update-profile {
    .local-container {
        z-index: 8;
    }
    @include media("mobtoinf") {
        .user-profile-uploader {
            .app-uploader {
                width: 380px;
                .image-container {
                    width: 350px;
                    height: 360px;
                }
            }
        }
    }
    @include media("mobtosmall") {
        .user-profile-uploader {
            .app-uploader {
                width: 200px;
                .image-container {
                    width: 170px;
                    height: 160px;
                }
            }
        }
    }
    @include media("smallmob3") {
        .user-profile-uploader {
            .app-uploader {
                width: 100%;
                .image-container {
                    width: 100%;
                    height: 160px;
                }
            }
        }
    }
}

.agreement-box {
    border: 1px solid var(--input-border-color);
    border-radius: var(--card-border-radius);

    &--inner {
        height: 149px;
        min-height: 100px;
        overflow: auto;
        scrollbar-color: var(--secondary) var(--scrollbar-background);
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: var(--scrollbar-background);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
        }

        &::-webkit-scrollbar-thumb:hover {
            opacity: 50%;
        }

        // p {
        //     font-size: 14px;
        //     font-weight: 400;
        //     color: var(--secondary);
        //     text-align: left;
        // }
    }
}
