@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.cropper-modal-dialog {
    .modal-dialog {
        max-width: 700px;
        .modal-header {
            background: none;
            padding-bottom: 0;
        }
        .modal-title.h4 {
            color: black;
        }
        .close {
            color: black;
            font-size: 35px;
        }
        .modal-body {
            padding-top: 1em !important;
        }
    }

    .text-reset {
        padding-left: 1em;
    }
}
