@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.cropper-modal-dialog {
    .modal-dialog {
        max-width: 850px !important;
        .modal-header {
            background: none;
            padding-bottom: 0;
        }
        .modal-title.h4 {
            color: black;
        }
        .close {
            color: black;
            font-size: 35px;
        }
        .modal-body {
            padding-top: 1em !important;
            .cropper-bg {
                background-image: none;
            }
        }
    }

    .text-reset {
        padding-left: 1em;
    }

    .text-cancel {
        padding-left: 1em;
    }

    .input-range {
        height: 0;
        width: 125px;
    }
    .input-range__label {
        display: none;
    }

    .input-range__slider {
        background: #7ebde9;
        border: 1px solid #7ebde9;
    }

    .input-range__track--active {
        background: #7ebde9;
    }

    .btn-minus {
        margin-right: 1em;
        margin-left: 2em;
    }

    .btn-plus {
        margin-left: 1em;
    }
}
