@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.session-details-header {
    .live-now-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 500;
        color: var(--light-clr);
        background-color: var(--danger);
        border-radius: var(--danger-button-border-radius);

        &:hover {
            text-decoration: none;
        }

        i {
            margin-right: 5px;
            margin-bottom: 1px;
            font-size: 20px;
        }
    }

    .back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 400;

        i {
            margin-right: 15px;
            margin-bottom: 1px;
            font-size: 15px;

            &::before {
                content: "\e017";
            }
        }
    }

    .watching-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 36px;
        font-size: 14px;
        font-weight: 500;
        color: var(--primary);
        background-color: var(--primary-10);
        border: 1px solid var(--primary);
        border-radius: var(--primary-button-border-radius);

        &:hover {
            color: var(--primary);
        }

        span {
        }

        i {
            margin-right: 5px;
            margin-bottom: 1px;
            font-size: 16px;
        }
    }

    &--detail {
        &--buttons {
            @include media("mobile") {
                flex-wrap: wrap;
            }
            .watching-btn {
                @include media("mobile") {
                    display: inline-flex !important;
                    margin-right: 0;
                    margin-left: auto;
                }
            }
        }

        &--title {
            .row {
                display: flex;
                align-items: center;
            }

            &--text {
                h1 {
                    margin-bottom: 0;
                    font-size: 42px;
                    font-weight: 700;
                    line-height: 50.4px;
                    color: var(--card-text-color);

                    @include media("csc-3") {
                        font-size: 28px;
                        font-weight: 500;
                        line-height: initial;
                    }

                    @include media("mobile") {
                        font-size: 25px;
                        font-weight: 500;
                        line-height: initial;
                    }
                }
            }

            &--time {
                border-left: 1px solid var(--card-divider-color);

                .date {
                    display: block;
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--card-text-color);

                    @include media("csc-3") {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: initial;
                    }

                    @include media("mobile") {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: initial;
                    }
                }

                .period {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--card-second-text-color);

                    @include media("csc-3") {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: initial;
                    }

                    @include media("mobile") {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: initial;
                    }
                }
            }
        }

        &--action {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include media("mobile") {
                justify-content: flex-start;
            }
            .edit-btn {
                width: 36px;
                i {
                    font-size: 18px;
                }
            }
            .language-dropdown {
                .dropdown {
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 36px;
                        background-color: var(--secondary-button-background-color);
                        border: none;
                        border-radius: var(--secondary-button-border-radius);
                        box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);

                        &:hover {
                            & ~ .dropdown-menu {
                                display: block;
                            }
                        }

                        &::after {
                            margin-left: 10px;
                            font-family: "Font Awesome Kit";
                            font-size: 13px;
                            font-weight: 700;
                            color: var(--primary);
                            content: "\e018";
                            border-top: none;
                        }

                        i {
                            display: block;
                            width: 24px;
                            height: 24px;
                            &.en {
                                background: url(../../../AppFormTranslatable/assets/images/en_flag.svg) no-repeat;
                                background-position: center;
                                background-size: contain;
                            }

                            &.it {
                                background: url(../../../AppFormTranslatable/assets/images/it_flag.svg) no-repeat;
                                background-position: center;
                                background-size: contain;
                            }

                            &.de {
                                background: url(../../../AppFormTranslatable/assets/images/de_flag.svg) no-repeat;
                                background-position: center;
                                background-size: contain;
                            }

                            &.pt {
                                background: url(../../../AppFormTranslatable/assets/images/pt_flag.svg) no-repeat;
                                background-position: center;
                                background-size: contain;
                            }

                            &.fr {
                                background: url(../../../AppFormTranslatable/assets/images/fr_flag.svg) no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                            &.zh {
                                background: url(../../../AppFormTranslatable/assets/images/zh_flag.svg) no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }
                    }

                    .dropdown-menu {
                        &:hover {
                            display: block;
                        }
                        right: 0;
                        left: auto;
                        min-width: 120px;
                        padding-top: 10px;
                        margin-top: 0;
                        background-color: unset;
                        border: none;
                        @include media("mobile") {
                            right: auto;
                            left: 0;
                        }
                        .dropdown-content {
                            min-width: unset;
                            margin-top: 0;
                            overflow: hidden;
                            background-color: var(--select-background-color);
                            border: var(--select-border-width) solid var(--select-border-color);
                            border-radius: var(--select-border-radius);
                            box-shadow: 0 1px 9px var(--select-box-shadow-color);
                        }
                        .dropdown-item {
                            display: flex;
                            align-items: center;
                            padding: 7px;
                            color: var(--select-option-text-color);
                            background-color: var(--select-option-background-color);
                            cursor: pointer;

                            i {
                                display: block;
                                width: 28px;
                                height: 28px;
                                margin-right: 10px;
                                background-position: center;
                                background-size: 24px;
                                image-rendering: -webkit-optimize-contrast;

                                &.en {
                                    background: url(../../../AppFormTranslatable/assets/images/en_flag.svg) no-repeat;
                                    background-position: center;
                                    background-size: 24px;
                                }

                                &.it {
                                    background: url(../../../AppFormTranslatable/assets/images/it_flag.svg) no-repeat;
                                    background-position: center;
                                    background-size: 24px;
                                }

                                &.de {
                                    background: url(../../../AppFormTranslatable/assets/images/de_flag.svg) no-repeat;
                                    background-position: center;
                                    background-size: 24px;
                                }

                                &.pt {
                                    background: url(../../../AppFormTranslatable/assets/images/pt_flag.svg) no-repeat;
                                    background-position: center;
                                    background-size: 24px;
                                }

                                &.fr {
                                    background: url(../../../AppFormTranslatable/assets/images/fr_flag.svg) no-repeat;
                                    background-position: center;
                                    background-size: 24px;
                                }
                                &.zh {
                                    background: url(../../../AppFormTranslatable/assets/images/zh_flag.svg) no-repeat;
                                    background-position: center;
                                    background-size: 24px;
                                }
                            }

                            &:hover {
                                color: var(--select-option-text-color--hover);
                                background-color: var(--select-option-background-color--hover);
                            }
                        }
                    }
                }
            }

            .button-action-session {
                display: flex;
                align-items: center;

                @include media("mobile") {
                    justify-content: flex-end;
                    margin-right: 0;
                    margin-left: auto;
                }

                &--left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    color: var(--secondary-button-text-color);
                    background-color: unset;
                    border: unset;
                    border-radius: var(--secondary-button-border-radius);
                    box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);

                    i {
                        font-size: 15px;
                        font-weight: 600;

                        &::before {
                            content: "\e017";
                        }
                    }

                    &--popup {
                        position: absolute;
                        top: 38px;
                        right: 45px;
                        z-index: 1000;
                        display: none;
                        align-items: center;
                        width: 328px;
                        height: 129px;
                        background-color: var(--select-background-color);
                        border-radius: var(--select-border-radius);
                        box-shadow: 0 12px 38px var(--select-box-shadow-color);

                        &--pic {
                            &--container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 109px;
                                height: 109px;
                                // background-image: url(/v2/assets/images/popup-session.png);
                                background-repeat: no-repeat;
                                background-size: contain;
                                border-radius: var(--card-border-radius);

                                &::after {
                                    font-family: "Font Awesome Kit";
                                    font-size: 50px;
                                    font-weight: 300;
                                    color: var(--secondary-button-background-color);
                                    content: "\e00b";
                                }
                            }
                        }

                        &--detail {
                            display: flex;
                            text-align: left;

                            &--top-title {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 700;
                                color: var(--primary);
                            }

                            &--title {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 19px;
                                color: var(--secondary);
                            }

                            &--hosted-by {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 700;
                                color: var(--primary);
                            }

                            &--hosted-by-user {
                                &--avatar {
                                    span {
                                        display: block;
                                        width: 24px;
                                        height: 24px;
                                        // background-image: url(/v2/assets/images/profiles_pic_speakers/user-5.png);
                                        background-size: contain;
                                    }
                                }

                                &--name {
                                    span {
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: var(--secondary);
                                    }
                                }
                            }
                        }
                    }

                    &:hover > .button-action-session--left--popup {
                        display: flex;

                        @include media("md") {
                            display: none;
                        }
                    }
                }

                &--right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    color: var(--secondary-button-text-color);
                    background-color: unset;
                    border: unset;
                    border-radius: var(--secondary-button-border-radius);
                    box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);

                    i {
                        font-size: 15px;
                        font-weight: 600;

                        &::before {
                            content: "\e016";
                        }
                    }

                    &--popup {
                        position: absolute;
                        top: 38px;
                        right: 2px;
                        z-index: 1000;
                        display: none;
                        align-items: center;
                        width: 328px;
                        height: 129px;
                        background-color: var(--select-background-color);
                        border-radius: var(--select-border-radius);
                        box-shadow: 0 12px 38px var(--select-box-shadow-color);

                        &--pic {
                            &--container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 109px;
                                height: 109px;
                                // background-image: url(/v2/assets/images/popup-session.png);
                                background-repeat: no-repeat;
                                background-size: contain;
                                border-radius: var(--card-border-radius);

                                &::after {
                                    font-family: "Font Awesome Kit";
                                    font-size: 50px;
                                    font-weight: 300;
                                    color: var(--secondary-button-background-color);
                                    content: "\e00b";
                                }
                            }
                        }

                        &--detail {
                            display: flex;
                            text-align: left;

                            &--top-title {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 700;
                                color: var(--primary);
                            }

                            &--title {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 19px;
                                color: var(--secondary);
                            }

                            &--hosted-by {
                                margin-bottom: 0;
                                font-size: 12px;
                                font-weight: 700;
                                color: var(--primary);
                            }

                            &--hosted-by-user {
                                &--avatar {
                                    span {
                                        display: block;
                                        width: 24px;
                                        height: 24px;
                                        // background-image: url(/v2/assets/images/profiles_pic_speakers/user-3.png);
                                        background-size: contain;
                                    }
                                }

                                &--name {
                                    span {
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: var(--secondary);
                                    }
                                }
                            }
                        }
                    }

                    &:hover > .button-action-session--right--popup {
                        display: flex;

                        @include media("md") {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &--banner {
        img {
            width: inherit;
        }
    }
}
