@import "../../../../assets/scss/variables";

.app-language-switcher {
    .flag {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-left: -10px;
        background-size: 20px;
        border-radius: 50%;
        &-en {
            background-image: url("../images/en_flag.svg");
        }
        &-pt {
            background-image: url("../images/pt_flag.svg");
        }
        &-it {
            background-image: url("../images/it_flag.svg");
        }
        &-fr {
            background-image: url("../images/fr_flag.svg");
        }
        &-de {
            background-image: url("../images/de_flag.svg");
        }
        &-zh {
            background-image: url("../images/zh_flag.svg");
        }
    }
    .btn-secondary {
        &.active {
            color: var(--primary) !important;
            background-color: var(--primary-20) !important;
            border-color: transparent !important;
        }
    }
}
