@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.app-language-switcher {
    .lang-item {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 5px 20px;
        font-size: 14px;
        color: var(--tab-text-color);
        cursor: pointer;
        background-color: var(--tab-background-color) !important;
        border-radius: var(--tab-border-radius);
        box-shadow: 0 3px 9px var(--tab-box-shadow-color);
        @include media("mcbk-1") {
            height: 30px;
            padding: 5px 15px;
        }
        @include media("mcbk-2") {
            height: 30px;
            padding: 5px 15px;
        }
        &.active {
            color: var(--tab-text-color--active);
            background-color: var(--tab-background-color--active) !important;
            box-shadow: 0 3px 9px var(--tab-box-shadow-color--active);
        }
        .flag {
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            margin-left: -10px;
            background-size: 20px;
            border-radius: 50%;
            @include media("mcbk-1") {
                width: 18px;
                height: 18px;
            }
            @include media("mcbk-2") {
                width: 18px;
                height: 18px;
            }
            &-en {
                background-image: url("../images/en_flag.svg");
            }
            &-pt {
                background-image: url("../images/pt_flag.svg");
            }
            &-it {
                background-image: url("../images/it_flag.svg");
            }
            &-fr {
                background-image: url("../images/fr_flag.svg");
            }
            &-de {
                background-image: url("../images/de_flag.svg");
            }
            &-zh {
                background-image: url("../images/zh_flag.svg");
            }
        }
    }
}
