@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.collapse-chat {
    width: 250px !important;
    margin-top: 444px !important;
    transition: width 300ms, margin-top 300ms;
}

.app-chat-one-to-one {
    width: 384px;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    transition: width 300ms, margin-top 300ms;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0 -3px 9px var(--card-box-shadow-color);
    @include media("mb-1") {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: block;
        width: 100%;
        height: initial;
        margin-right: 0;
    }

    .inner-container {
        .details {
            &--content {
                display: flex;
                align-items: center;

                .avatar {
                    i {
                        display: block;
                        width: 36px;
                        height: 36px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: var(--circle-border-radius);

                        //&::after {
                        //    position: relative;
                        //    top: -1px;
                        //    left: 24px;
                        //    display: block;
                        //    width: 11px;
                        //    height: 11px;
                        //    content: "";
                        //    background-color: var(--online-badge-bg-clr);
                        //    border: 2px solid var(--border-border-radius-clr);
                        //    border-radius: var(--circle-border-radius);
                        //}
                    }
                }

                .name {
                    &--sender {
                        h3 {
                            display: -webkit-box;
                            max-width: 255px;
                            height: 22px;
                            margin-bottom: 0;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--secondary);
                            @include media("smallmob") {
                                max-width: 190px;
                            }
                            .time {
                                font-size: 12px;
                                font-weight: 400;
                                color: var(--secondary-70);
                            }
                        }
                    }

                    &--comment {
                        line-height: initial;
                        p {
                            margin-bottom: 0;
                            font-size: 12px;
                            font-weight: 500;
                            color: var(--secondary);
                        }

                        span {
                            display: -webkit-box;
                            max-width: 255px;
                            height: 14px;
                            margin-top: 0;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-size: 12px;
                            font-weight: 400;
                            color: var(--secondary-70);
                            @include media("smallmob") {
                                max-width: 190px;
                            }
                        }
                    }
                }
            }
        }

        .action {
            display: flex;
            align-items: center;

            .btn-collapse {
                a {
                    cursor: pointer;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 36px;
                        font-size: 22px;
                        color: var(--secondary);
                        border-radius: var(--secondary-button-border-radius);
                        box-shadow: 0 -2px 9px var(--secondary-button-box-shadow-color);

                        &::before {
                            content: "\e018";
                        }
                    }
                }
            }

            .btn-close {
                a {
                    cursor: pointer;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 36px;
                        font-size: 22px;
                        color: var(--secondary-button-text-color);
                        background-color: var(--secondary-button-background-color);
                        border: var(--primary-button-border-width) solid var(--primary-button-border-color);
                        border-radius: var(--secondary-button-border-radius);
                        box-shadow: 0 -1px 9px var(--secondary-button-box-shadow-color);
                    }
                }
            }
        }

        .chat-list {
            height: 370px;
            overflow-x: hidden;
            overflow-y: auto;
            border-top: 1px solid var(--card-divider-color);
            border-bottom: 1px solid var(--card-divider-color);
            scrollbar-color: var(--secondary) var(--secondary-10);
            scrollbar-width: thin;
            @include media("mobile") {
                height: 70vh;
            }
            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: var(--secondary-10);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--scrollbar-thumb);
            }

            &::-webkit-scrollbar-thumb:hover {
                opacity: 50%;
            }

            &--container {
                .divider-time {
                    text-align: center;

                    span {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--secondary-70);

                        &::before,
                        &::after {
                            flex-grow: 1;
                            height: 1px;
                            content: "";
                            background-color: var(--secondary-70);
                        }

                        &::before {
                            margin-right: 7px;
                        }

                        &::after {
                            margin-left: 7px;
                        }
                    }

                    &.new {
                        span {
                            color: var(--primary);

                            &::before,
                            &::after {
                                background-color: var(--primary);
                            }
                        }
                    }
                }

                .message-item {
                    display: flex;

                    .avatar {
                        i {
                            display: block;
                            width: 36px;
                            height: 36px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: var(--circle-border-radius);
                        }
                    }

                    .content {
                        &--header {
                            h4 {
                                margin-bottom: 0;
                                font-size: 16px;
                                font-weight: 500;
                                color: var(--secondary);

                                .time {
                                    padding-left: 4px;
                                    font-size: 12px;
                                    font-weight: 400;
                                    color: var(--secondary-70);
                                }
                            }
                        }

                        &--comment {
                            p {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 150%;
                                color: var(--secondary);
                                word-break: break-word;
                            }
                        }
                    }

                    &.in {
                        .content {
                            padding-left: 12px;

                            &--comment {
                                p {
                                    background-color: var(--secondary-10);
                                    border-radius: 0 var(--card-border-radius) var(--card-border-radius)
                                        var(--card-border-radius);
                                }
                            }
                        }
                    }

                    &.out {
                        flex-direction: row-reverse;

                        .content {
                            padding-right: 12px;

                            &--header {
                                h4 {
                                    display: flex;
                                    flex-direction: row-reverse;
                                    align-items: baseline;

                                    span {
                                        padding-right: 4px;
                                        padding-left: 0;
                                    }
                                }
                            }

                            &--comment {
                                p {
                                    background-color: var(--message-in-box-fg-clr);
                                    border-radius: var(--card-border-radius) 0 var(--card-border-radius)
                                        var(--card-border-radius);
                                }
                            }
                        }
                    }
                }
            }
        }

        .tab {
            &--item {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 36px;
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--secondary-button-text-color);
                    background-color: var(--secondary-button-background-color);
                    border: var(--secondary-button-border-color);
                    border-radius: var(--secondary-button-border-radius);
                    box-shadow: 2px 3px 9px var(--secondary-button-box-shadow-color);

                    i {
                        padding-right: 8px;
                        font-size: 22px;
                        color: var(--secondary-button-text-color);
                    }
                }

                &.active {
                    a {
                        color: var(--primary);
                        background-color: var(--primary-10);

                        i {
                            font-size: 17px;
                            font-weight: 500;
                            color: var(--primary);
                        }
                    }
                }

                &.text {
                    a {
                        i {
                            &::before {
                                content: "\e003";
                            }
                        }
                    }
                }

                &.audio {
                    a {
                        i {
                        }
                    }
                }

                &.video {
                    a {
                        i {
                            &::before {
                                content: "\e007";
                            }
                        }
                    }
                }
            }
        }

        .insert {
            &--container {
                display: flex;
                align-items: center;
                min-height: 36px;
                overflow: hidden;
                background-color: var(--input-background-color);
                border: var(--input-border-width) solid var(--input-border-color);
                border-radius: var(--input-border-radius);
                textarea {
                    width: 85%;
                    height: 36px;
                    padding-top: 9px;
                    padding-left: 35px;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--input-text-color);
                    resize: none;
                    background-color: var(--input-background-color);
                    border: none;
                    scrollbar-color: var(--secondary) var(--secondary-10);
                    scrollbar-width: thin;
                    scroll-behavior: auto;
                    &::-webkit-scrollbar {
                        width: 3px;
                    }

                    &::-webkit-scrollbar-track {
                        background: var(--secondary-10);
                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--scrollbar-thumb);
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        opacity: 50%;
                    }
                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: var(--input-placeholder-text-color);
                    }
                }

                .btn-link {
                    &.btn-send {
                        position: absolute;
                        top: 3px;
                        right: 0;
                        padding-right: 10px !important;
                        padding-left: 10px !important;
                        font-size: 12px !important;
                        font-weight: 700 !important;
                        color: var(--primary) !important;
                        border-left: 1px solid var(--secondary-20);
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .char {
                    .row {
                        position: absolute;
                        top: 3px;
                        left: 11px;
                        display: flex;
                        align-items: center;
                    }

                    &--a {
                        i {
                            font-family: auto;
                            font-size: 19px;
                            font-style: normal;
                            color: var(--secondary-70);
                        }
                    }

                    &--smile {
                        margin-top: 5px;
                        i {
                            font-size: 17px;
                            color: var(--secondary-70);
                        }
                    }
                }
            }
        }
    }

    &.collapsed {
        height: 74px;
        margin-top: auto;
        margin-bottom: 0;
        overflow: hidden;

        .btn-collapse {
            transform: rotate(180deg);
        }
    }
}
