@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

// @TODO: Duplicate style with AppFormDropdown
.custom-select {
    &-container {
        background: var(--input-bg-clr) !important;
        border-radius: var(--border-radius);
        color: var(--input-fg-clr);
        z-index: 2;

    }

    &__control {
        background-color: unset !important;
        border-color: unset !important;
        border-radius: unset !important;
        border-style: unset !important;
        border-width: unset !important;
        box-shadow: unset !important;

        &:focus {
            background-color: unset !important;
            border-color: unset !important;
            border-radius: unset !important;
            border-style: unset !important;
            border-width: unset !important;
            box-shadow: unset !important;
        }
    }

    &__indicator-separator {
        display: none;
    }

    &__indicator {
        svg {
            color: var(--secondary);
        }
    }

    &__menu {
        border: 1px solid transparent !important;
        padding: 0 ;

        &-list {
            padding: 0;
        }
    }

    &__option {
        color: var(--secondary);
        border: unset;

        &:hover,
        &:active,
        &:focus {
            color: var(--secondary);
            background-color: var(--secondary-20);
        }
    }
}

.custom-select-container.form-control{
    height: auto;
    padding: 0;
    border: 1px solid var(--input-border-clr);
}

.required {

    font-size: 12px;

    font-weight: 400;

    color: #C31F27;

}
