@import "../../../../../AppModule/assets/scss/variables";

.edit {
    &-client {
        margin-top: 24px;

        .input-wrap-pr {
            @media screen and (min-width: 1200px) {
                padding-right: 43px;
            }

        }

        .text-area {
            display: block;
            width: 100%;
            height: 300px;
            min-height: 300px;
            padding: 10px;
            margin: 10px 0;
            color: $input-clr;
            background-color: $input-bg;
            border: 1px solid $input-border-clr;
            border-radius: $border-radius;
        }
    }

    &-client-packages {
        .custom-checkbox {
            padding: 10px 14px;
        }
    }


    &-client-footer-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    &-client-footer {
        background-color: #fff;
        box-shadow: 0 -7px 40px var(--secondary-20);
    }
}