@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.header-search {
    overflow: hidden;
    border: var(--input-border-width) solid var(--input-border-color) !important;
    border-radius: var(--input-border-radius);
    .form-control {
        border: none !important;
    }

    .input-group-text {
        padding: 9px;
        color: var(--input-text-color) !important;
        background-color: var(--input-background-color) !important;
        border: none;
    }
}
