@import "../../../../../AppModule/assets/scss/screens-sizes";
@import "../../../../../AppModule/assets/scss/variables";

.swiper-container {
    width: 100%;
    display: flex;
}

.category-btn {
    padding: 0 !important;

    span {
        padding: 0 15px;
        border-radius: var(--secondary-button-border-radius);
    }
}
