@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";


.event-detail-admin--workshop {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &--container {
        min-width: 1500px;
        background-color: var(--light-clr);
        border-radius: var(--border-radius);


        &--content {
            &--item {
                .inner-container {
                    overflow: hidden;

                    &.small-size {

                        .inner-container--header {
                            background-color: var(--morning-workshops-bg-clr);

                            &--seats {
                                justify-content: flex-end;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin-top: -35px;
                            background-color: var(--light-clr);
                            border-radius: var(--border-radius);

                            .inner-container--title {
                                a {
                                    h2 {
                                        height: 90px;
                                        -webkit-line-clamp: 3;
                                    }
                                }
                            }
                        }

                    }

                    &.medium-size {

                        .inner-container--header {
                            background-color: var(--morning-bg-clr);
                        }

                        .inner-container--banner {
                            &--content {
                                height: 180px;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin-top: -35px;
                            background-color: var(--light-clr);
                            border-radius: var(--border-radius);

                            &--title {
                                a {
                                    h2 {
                                        height: 60px;
                                        -webkit-line-clamp: 2;
                                    }
                                }
                            }
                        }

                    }

                    &.large-size {

                        .inner-container--header {
                            background-color: var(--main-stage-purple-bg-clr);
                        }

                        .inner-container--banner {
                            &--content {
                                height: 276px;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin-top: -35px;
                            background-color: var(--light-clr);
                            border-radius: var(--border-radius);

                            &--title {
                                a {
                                    h2 {
                                        height: 30px;
                                        -webkit-line-clamp: 1;
                                    }
                                }
                            }
                        }

                    }

                    &.xlarge-size {

                        .inner-container--header {
                            background-color: var(--main-stage-orange-bg-clr);
                        }

                        .inner-container--banner {
                            &--content {
                                height: 436px;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin: auto;
                            margin-left: -50px !important;
                            background-color: var(--light-clr);
                            border-radius: var(--border-radius);

                            &--title {
                                a {
                                    h2 {
                                        height: 60px;
                                        -webkit-line-clamp: 2;
                                    }
                                }
                            }
                        }


                        .inner-container--action {
                            position: absolute;
                            right: 25%;
                            bottom: 18px;
                            z-index: 1;
                        }
                    }

                    &--header {
                        border-top-left-radius: var(--border-radius);
                        border-top-right-radius: var(--border-radius);

                        &--time {
                            display: flex;

                            i {
                                font-size: 17px;
                                font-weight: 500;
                                color: var(--header-desc-fg-clr);
                            }

                            &--content {
                                display: grid;

                                h2 {
                                    font-size: 16px;
                                    font-weight: 700;

                                    span {
                                        font-size: 14px;
                                        font-weight: 700;
                                        opacity: 0.6;
                                    }
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                            }
                        }

                        &--seats {
                            display: flex;

                            i {
                                font-size: 20px;
                                font-weight: 500;
                                color: var(--header-desc-fg-clr);
                            }

                            &--content {
                                display: grid;

                                h2 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--header-desc-fg-clr);

                                    span {
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: var(--header-sub-desc-fg-clr);
                                    }
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: var(--header-sub-desc-fg-clr);
                                }
                            }
                        }
                    }

                    &--banner {
                        &--content {
                            position: relative;
                            width: auto;
                            height: 133px;
                            cursor: pointer;
                            background-repeat: no-repeat;
                            background-size: cover;

                            &--button {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                            }
                        }
                    }

                    &--det {
                        &--title {
                            a {
                                h2 {
                                    display: -webkit-box;
                                    height: 60px;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 28px;
                                    color: var(--secondary);
                                }
                            }
                        }

                        &--content {
                            &--title {
                                display: flex;
                                align-items: center;

                                i {
                                    font-size: 23px;

                                    &::before {
                                        content: "\e000";
                                    }
                                }

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--secondary);
                                }
                            }

                            &--speakers {
                                height: 150px;
                                scrollbar-color: var(--secondary) var(--secondary-10);
                                scrollbar-width: thin;

                                &::-webkit-scrollbar {
                                    width: 3px;
                                    height: 4px;
                                }

                                &::-webkit-scrollbar-track {
                                    background: var(--secondary-10);
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: var(--secondary);
                                }

                                &::-webkit-scrollbar-thumb:hover {
                                    opacity: 50%;
                                }

                                &--item {
                                    a {
                                        display: flex;
                                        align-items: center;
                                    }

                                    &--profile {
                                        i {
                                            display: block;
                                            width: 36px;
                                            height: 36px;
                                            margin-bottom: 5px;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            border-radius: 50%;

                                            &::after {
                                                position: relative;
                                                top: 0;
                                                left: 24px;
                                                display: block;
                                                width: 10px;
                                                height: 10px;
                                                content: "";
                                                background-color: var(--primary);
                                                border: 1px solid var(--border-radius-clr);
                                                border-radius: 50%;
                                            }
                                        }
                                    }

                                    &--det {
                                        display: grid;

                                        h4 {
                                            display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 1;
                                            overflow: hidden;
                                            font-size: 16px;
                                            font-weight: 500;
                                            color: var(--secondary);
                                        }

                                        span {
                                            display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 1;
                                            overflow: hidden;
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: var(--secondary-70);
                                        }
                                    }

                                    &.user-1 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-9.png);
                                        }
                                    }

                                    &.user-2 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-2.png);
                                        }
                                    }

                                    &.user-3 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-7.png);
                                        }
                                    }
                                }
                            }

                            &--more {
                                padding-left: 43px;

                                span {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: var(--primary);
                                    cursor: pointer;
                                }
                            }
                        }

                        &--action {
                            &--join {
                                a {
                                    position: relative;

                                    i {
                                        position: absolute;
                                        left: 10px;
                                        font-size: 17px;
                                        font-weight: 500;
                                    }
                                }
                            }

                            &--other {
                                &--item {

                                    a,
                                    button {
                                        i {
                                            font-size: 17px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.event-1 {
                    .inner-container {
                        &--banner {
                            &--content {
                                // background-image: url(/v2/assets/images/events_banner/events-banner-1.png);
                            }
                        }
                    }
                }

                &.event-2 {
                    .inner-container {
                        &--banner {
                            &--content {
                                // background-image: url(/v2/assets/images/events_banner/events-banner-2.png);
                            }
                        }
                    }
                }
            }
        }
    }


}