@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.live-now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--danger-button-text-color);
    background-color: var(--danger-button-background-color);
    border-radius: var(--danger-button-border-radius);

    &:hover {
        text-decoration: none;
    }

    i {
        margin-right: 5px;
        margin-bottom: 1px;
        font-size: 20px;
    }
}

.archived-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--light-clr);
    background-color: var(--secondary);
    border-radius: var(--secondary-button-border-radius);

    &:hover {
        text-decoration: none;
    }

    i {
        margin-right: 5px;
        margin-bottom: 1px;
        font-size: 20px;
    }
}

.event-detail-admin--workshop {
    overflow: auto;
    border-radius: var(--card-border-radius);
    box-shadow: 0 2px 12px var(--card-box-shadow-color);

    &::-webkit-scrollbar {
        display: none;
    }

    &--container {
        background-color: var(--card-background-color);

        &--content {
            &--item {
                .inner-container {
                    overflow: hidden;

                    &.small-size {
                        .inner-container--header {
                            background-color: var(--card-background-color);

                            &--seats {
                                justify-content: flex-end;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin-top: -35px;
                            background-color: var(--card-background-color);
                            border-radius: var(--card-border-radius);

                            .inner-container--title {
                                a {
                                    h2 {
                                        height: 90px;
                                        -webkit-line-clamp: 3;
                                    }
                                }
                            }
                        }
                    }

                    &.medium-size {
                        .inner-container--header {
                            background-color: var(--card-background-color);
                        }

                        .inner-container--banner {
                            &--content {
                                // height: 180px;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin-top: -35px;
                            background-color: var(--card-background-color);
                            border-radius: var(--card-border-radius);

                            &--title {
                                a {
                                    h2 {
                                        height: 60px;
                                        -webkit-line-clamp: 2;
                                    }
                                }
                            }
                        }
                    }

                    &.large-size {
                        .inner-container--header {
                            background-color: var(--card-background-color);
                        }

                        .inner-container--banner {
                            &--content {
                                // height: 276px;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin-top: -35px;
                            background-color: var(--card-background-color);
                            border-radius: var(--card-border-radius);

                            &--title {
                                a {
                                    h2 {
                                        height: 30px;
                                        -webkit-line-clamp: 1;
                                    }
                                }
                            }
                        }
                    }

                    &.xlarge-size {
                        .inner-container--header {
                            background-color: var(--card-background-color);
                        }

                        .inner-container--banner {
                            &--content {
                                // height: 436px;
                            }
                        }

                        .inner-container--det {
                            z-index: 1;
                            margin: auto;
                            margin-left: -50px !important;
                            background-color: var(--card-background-color);
                            border-radius: var(--card-border-radius);

                            @include media("ea-1") {
                                margin: auto;
                                margin-left: 0 !important;
                            }

                            @include media("ea-2") {
                                margin: 25px 0;
                            }

                            &--title {
                                a {
                                    h2 {
                                        height: 60px;
                                        -webkit-line-clamp: 2;
                                    }
                                }
                            }
                        }

                        .inner-container--action {
                            position: absolute;
                            right: 25%;
                            bottom: 18px;
                            z-index: 1;
                        }
                    }

                    &--header {
                        border-top-left-radius: var(--card-border-radius);
                        border-top-right-radius: var(--card-border-radius);

                        &--time {
                            display: flex;

                            i {
                                font-size: 20px;
                                font-weight: 500;
                            }

                            &--content {
                                display: grid;

                                h2 {
                                    font-size: 16px;
                                    font-weight: 700;

                                    span {
                                        margin-left: 2px;
                                        font-size: 16px;
                                        font-weight: 700;
                                        opacity: 0.6;
                                    }
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                    opacity: 0.6;
                                }
                            }
                        }

                        &--seats {
                            display: flex;

                            i {
                                font-size: 20px;
                                font-weight: 500;
                                color: var(--card-text-color);
                            }

                            &--content {
                                display: grid;

                                h2 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--card-text-color);

                                    span {
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: var(--card-text-color);
                                    }
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: var(--card-text-color);
                                }
                            }
                        }
                    }

                    &--banner {
                        a {
                            width: 100%;
                            height: 100%;
                        }

                        &--content {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            padding-bottom: 56.5%;
                            cursor: pointer;
                            background-color: var(--default-session-card-background);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;

                            &--button {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                            }
                        }
                    }

                    &--det {
                        &--title {
                            a {
                                h2 {
                                    display: -webkit-box;
                                    height: 60px;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 28px;
                                    color: var(--card-text-color);
                                }
                            }
                        }

                        &--content {
                            height: 212px;

                            &--title {
                                display: flex;
                                align-items: center;

                                i {
                                    font-size: 23px;

                                    &::before {
                                        content: "\e000";
                                    }
                                }

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: var(--card-text-color);
                                }
                            }

                            &--speakers {
                                height: 150px;
                                scrollbar-color: var(--secondary) var(--secondary-10);
                                scrollbar-width: thin;

                                &::-webkit-scrollbar {
                                    width: 3px;
                                    height: 4px;
                                }

                                &::-webkit-scrollbar-track {
                                    background: var(--secondary-10);
                                }

                                &::-webkit-scrollbar-thumb {
                                    background: var(--scrollbar-thumb);
                                }

                                &::-webkit-scrollbar-thumb:hover {
                                    opacity: 50%;
                                }

                                &--item {
                                    a {
                                        display: flex;
                                        align-items: center;
                                    }

                                    &--profile {
                                        i {
                                            display: block;
                                            width: 36px;
                                            height: 36px;
                                            margin-bottom: 5px;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            border-radius: 50%;

                                            // &::after {
                                            //     position: relative;
                                            //     top: 0;
                                            //     left: 24px;
                                            //     display: block;
                                            //     width: 10px;
                                            //     height: 10px;
                                            //     content: "";
                                            //     background-color: var(--live-badge-bg-clr);
                                            //     border: var(--secondary-button-border-width) solid var(--secondary-button-border-color);
                                            //     border-radius: 50%;
                                            // }
                                        }
                                    }

                                    &--det {
                                        display: grid;

                                        h4 {
                                            display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 1;
                                            overflow: hidden;
                                            font-size: 16px;
                                            font-weight: 500;
                                            color: var(--card-text-color);
                                        }

                                        span {
                                            display: -webkit-box;
                                            -webkit-box-orient: vertical;
                                            -webkit-line-clamp: 1;
                                            overflow: hidden;
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: var(--card-second-text-color);
                                        }
                                    }

                                    &.user-1 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-9.png);
                                        }
                                    }

                                    &.user-2 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-2.png);
                                        }
                                    }

                                    &.user-3 {
                                        i {
                                            // background-image: url(/v2/assets/images/profiles_pic_speakers/user-7.png);
                                        }
                                    }
                                }
                            }

                            &--more {
                                padding-left: 43px;
                                span {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: var(--primary);
                                    cursor: pointer;
                                }
                            }
                        }

                        &--action {
                            &--join {
                                a {
                                    position: relative;

                                    i {
                                        position: absolute;
                                        left: 10px;
                                        font-size: 17px;
                                        font-weight: 500;
                                    }
                                }
                            }

                            &--other {
                                &--item {
                                    a,
                                    button {
                                        i {
                                            font-size: 17px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.event-1 {
                    .inner-container {
                        &--banner {
                            &--content {
                                // background-image: url(/v2/assets/images/events_banner/events-banner-1.png);
                            }
                        }
                    }
                }

                &.event-2 {
                    .inner-container {
                        &--banner {
                            &--content {
                                // background-image: url(/v2/assets/images/events_banner/events-banner-2.png);
                            }
                        }
                    }
                }
            }
        }
    }
}
