@import "../../../../../AppModule/assets/scss/screens-sizes";
@import "../../../../../AppModule/assets/scss/variables";
.bottom-nav .user-header-width {
    @include media("mobtosmall") {
        width: 100%;
    }
    @include media("md") {
        flex-flow: wrap;
    }
    @include media("lr-1") {
        flex: none;
    }
}
.right-container {
    .user-header-width {
        @include media("tabtomob") {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .user-filter {
            @include media("tabtomob") {
                margin-bottom: 10px;
            }
        }
        .user-ex {
            @include media("tabtomob") {
                margin-right: 0 !important;
            }
        }
        .form-row {
            .col-sm-auto {
                @include media("container-b-lw") {
                    width: 50%;
                }
            }
        }
    }
}
.user-filter {
    @include media("mobtosmall") {
        position: absolute;
        top: -60px;
        right: 5px;
        width: 80px;
    }
}
.user-inv {
    @include media("mobtosmall") {
        position: absolute;
        left: 15px;
        min-width: 80px;
    }
}
.user-ex {
    @include media("mobtosmall") {
        position: absolute;
        right: 5px;
        min-width: 80px;
    }
}
.ag-theme-alpine {
    margin-bottom: 120px;

    .ag-react-container {
        display: flex;
    }
}

.role-container {
    z-index: 7;
}

.rm-container {
    z-index: 6;
}

.local-container {
    z-index: 5;
}

.info {
    display: flex;

    &--profile-pic {
        display: flex;

        i {
            display: block;
            width: 36px;
            height: 36px;
            margin: auto;
            background-repeat: no-repeat;
            background-size: 36px;
            border-radius: var(--circle-border-radius);

            //&::after {
            //    position: relative;
            //    top: -3px;
            //    left: 24px;
            //    display: block;
            //    width: 11px;
            //    height: 11px;
            //    content: "";
            //    background-color: var(--live-badge-bg-clr);
            //    border: 2px solid var(--border-border-radius-clr);
            //    border-radius: var(--circle-border-radius);
            //}
        }
    }

    &--det {
        h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 60px;
        }
    }
}

.list-deopdown {
    min-width: 130px;
    height: 36px;
    margin: auto 0;
    background-color: var(--light-clr);
    border: none;
    box-shadow: 0 3px 9px var(--box-shadow-box-clr);
    padding: 5px;

    &:focus {
        outline: none;
        border: none;
    }
}

.list-checkbox {
    margin: auto;
    padding-left: 0;
    height: 20px;
}

.bulk-menu {
    position: fixed;
    bottom: 80px;
    width: content;
    background-color: var(--light-clr);
    box-shadow: 0 3px 9px var(--box-shadow-box-clr);
}
