@import "../../../../../AppModule/assets/scss/variables";

.translation-page {
    width: 600px;
    .custom-select-container {
        height: 36px !important;
    }

    .input-group {
        .form-control {
            border-right: 1px solid var(--input-border-color) !important;
            border-left: 0 !important;
        }

        .input-group-text {
            padding: 9px;
            color: var(--input-text-color) !important;
            background-color: var(--input-background-color) !important;
            border-right: 0 !important;
            border-top-left-radius: var(--input-border-radius) !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: var(--input-border-radius) !important;
        }
    }
}
