@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.inner-container--det--content--speakers--item {
    display: flex;
    min-height: 50px;
    @include media("mcbk-2") {
        min-height: 45px;
    }
    a {
        display: flex;
        margin: auto 0;
    }

    &--det {
        display: grid;
        margin: auto 0;

        h4 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: var(--card-text-color);
            @include media("mcbk-1") {
                font-size: 14px !important;
                font-weight: 500 !important;
                line-height: 16px;
            }
            @include media("mcbk-2") {
                font-size: 14px !important;
                font-weight: 500 !important;
                line-height: 16px;
            }
        }

        span {
            display: -webkit-box;
            height: 16px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 12px;
            font-weight: 500;
            color: var(--card-second-text-color);
            @include media("mcbk-1") {
                font-weight: 400;
            }
            @include media("mcbk-2") {
                font-weight: 400;
            }
        }
    }

    &--profile {
        margin: auto 0;

        i {
            display: block;
            width: 36px;
            height: 36px;
            margin-bottom: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            @include media("mcbk-1") {
                width: 32px !important;
                height: 32px !important;
            }
            @include media("mcbk-2") {
                width: 32px !important;
                height: 32px !important;
            }

            // &::after {
            //     position: relative;
            //     top: 0;
            //     left: 24px;
            //     display: block;
            //     width: 10px;
            //     height: 10px;
            //     content: "";
            //     background-color: var(--online-badge-bg-clr);
            //     border: 1px solid var(--border-border-radius-clr);
            //     border-radius: 50%;
            // }
        }
    }
}
