@import "../../../../../AppModule/assets/scss/variables";
@import "../../../../../AppModule/assets/scss/screens-sizes";

.auth-container {
    display: grid;
    min-height: 100vh;

    &--box {
        box-sizing: border-box;
        display: inline-table;
        width: 550px;
        height: min-content;
        padding: 30px;
        margin: 40px auto;
        user-select: none;
        background-color: var(--card-background-color);
        border-radius: var(--card-border-radius);
        -webkit-touch-callout: none;

        @include media("mobile") {
            width: 90%;
            padding: 10px;
            margin: 20px auto;
        }

        @include media("lapto4k") {
            margin: 80px auto;
        }
    }
}

.active-account-box {
    width: 100%;

    &--auth-form {
        .form-group {
            input {
                height: 36px;
                font-size: 14px;
                font-weight: 400;
                color: var(--input-text-color);
                border: 1px solid var(--input-border-color);
                border-radius: var(--input-border-radius);

                &::placeholder {
                    color: var(--input-placeholder-text-color);
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
