@import "../../../../../AppModule/assets/scss/variables";
@import "../../../../../AppModule/assets/scss/screens-sizes";

.active-account-box {
    &--logo-box {
        a {
            i {
                display: block;
                width: 208px;
                height: 52px;
                margin: auto;
                background-image: url("../../../../../AppModule/assets/images/credits-blue.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    &--text-box {
        h2 {
            font-size: 20px;
            font-weight: 700;
            color: var(--primary);
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: var(--card-second-text-color);
        }

        .error-message {
            color: red;
        }
    }
}
