@import "./../../../../assets/scss/variables";
@import "./../../../../assets/scss/screens-sizes";

.sidebar {
    z-index: 10;
    background-color: var(--navigation-background-color);
    @include media("mobile") {
        position: relative;
    }
    &.left-sidebar.left-container {
        @include media("mobile") {
            width: 100%;
        }

        @include media("lr-0") {
            position: relative !important;
            width: 100%;
        }

        @include media("lr-1") {
            width: 25%;
        }

        @include media("lr-2") {
            width: 20%;
        }

        @include media("lr-3") {
            width: 17%;
        }

        @include media("lr-4") {
            width: 16%;
        }

        @include media("lr-5") {
            width: 13%;
        }

        @include media("lr-6") {
            width: 10%;
        }

        @include media("lr-7") {
            width: 8%;
        }
    }
    .navbar-collapse {
        &.show {
            position: initial;
            z-index: 10000;
        }
    }
    @include media("not-mobile") {
        .navbar-nav,
        .navbar-collapse {
            height: 100%;
            .accordion {
                .collapse:not(.collapse.show) ~ .nav-item .nav-link {
                    &::after {
                        position: absolute;
                        top: 10px;
                        right: 24px;
                        float: right;
                        font-family: "Font Awesome 5 pro";
                        font-weight: 500;
                        color: var(--navigation-item-text-color);
                        content: "\f078";
                    }
                }

                .collapse ~ .nav-item .nav-link {
                    &::after {
                        position: absolute;
                        top: 10px;
                        right: 24px;
                        float: right;
                        font-family: "Font Awesome 5 pro";
                        font-size: 12px;
                        font-weight: 500;
                        color: var(--navigation-item-text-color);
                        content: "\f077";
                    }
                }
            }
        }
    }

    .item-more {
        position: relative;

        .nav-link {
            .icon {
                opacity: 1 !important;
            }
        }

        &:hover > .more-menu {
            display: block;
        }

        background-color: var(--navigation-item-background-color--hover) !important;
    }

    .navbar {
        height: 100%;
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0 0;
        font-size: 13px !important;

        @include media("xl") {
            font-size: 9px !important;
        }

        span {
            padding: 10px 0;
            font-size: 10px;
            font-weight: 700;

            svg {
                width: 80px;
                height: auto;
                padding-bottom: 4px;
                margin-top: 1px;
                margin-left: 7px;
                fill: var(--navigation-item-text-color);
            }
        }
    }

    .img-container {
        opacity: 1 !important;
    }

    .profile-picture,
    .languages {
        width: 24px;
        height: 24px;
        margin: auto;
        background-color: var(--secondary-10);
        background-size: 24px;
        border-radius: 50%;

        @include media("xl") {
            width: 32px;
            height: 32px;
        }

        .img-container {
            opacity: 1 !important;
        }
    }

    .languages {
        &.en {
            background: url("../images/en_flag.png") no-repeat center;
            background-size: 24px;
        }

        &.pt {
            background: url("../images/pt_flag.png") no-repeat center;
            background-size: 24px;
        }

        &.de {
            background: url("../images/de_flag.png") no-repeat center;
            background-size: 24px;
        }

        &.fr {
            background: url("../images/fr_flag.png") no-repeat center;
            background-size: 24px;
        }

        &.it {
            background: url("../images/italian.jpg") no-repeat center;
            background-size: 24px;
        }
        &.zh {
            background: url("../images/chi_flag.png") no-repeat center;
            background-size: 24px;
        }
    }

    .list-group {
        .icon-arrow-down {
            position: absolute;
            top: 22px;

            @include media("xl") {
                top: 14px;
            }
        }

        .list-group-item.active {
            margin-top: 0;
            border-top-width: 0;
        }

        .list-group-item.bottom-menu {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: var(--navigation-background-color);

            @include media("lr-0") {
                position: relative;
            }

            .nav-item.collapseable {
                max-height: unset;

                &:hover {
                    background: unset;

                    span {
                        color: var(--navigation-item-text-color) !important;
                    }
                }

                .nav-link {
                    @include media("md2") {
                        padding: 0.75rem 1.25rem;
                        padding-left: 1.25rem !important;
                    }

                    &.active,
                    &:hover {
                        background-color: var(--navigation-item-background-color--hover) !important;

                        .nav-icon {
                            color: var(--navigation-item-icon-color--hover) !important;
                        }

                        span {
                            color: var(--navigation-item-text-color--hover) !important;
                        }
                    }
                }

                .sub-list {
                    max-height: 150px;
                    overflow-y: auto;

                    a {
                        text-decoration: none;
                    }

                    .list-group-item {
                        display: flex;
                        height: 50px;
                        padding-left: 25px !important;

                        &.active,
                        &:hover {
                            background-color: var(--navigation-item-background-color--hover) !important;

                            .nav-icon {
                                color: var(--navigation-item-icon-color--hover) !important;
                            }

                            span {
                                color: var(--navigation-item-text-color--hover) !important;
                            }
                        }

                        .nav-icon {
                            height: 25px;
                            color: var(--navigation-item-text-color) !important;
                        }

                        span {
                            margin: auto 9px 0;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                    }

                    &::-webkit-scrollbar-track {
                        // background: linear-gradient(
                        //     270deg,
                        //     rgba(0, 0, 0, 0) calc(50% - 0.78px),
                        //     var(--secondary-50) calc(50%),
                        //     rgba(0, 0, 0, 0) calc(50% + 0.78px)
                        // );
                        /* @toDo credit suisse */
                        background-color: var(--navigation-item-text-color);
                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--navigation-background-color);
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        opacity: 100%;
                    }
                }
            }

            @include media("mobile") {
                position: relative;
            }
        }

        .dropdown-menu {
            position: absolute;
            width: 100%;
        }

        .dropdown {
            a {
                width: 100%;

                svg {
                    top: 15px;
                    height: 12px;
                    color: var(--primary);
                }
            }

            &-item {
                display: flex;
            }
        }

        .bottom-menu {
            .icon-arrow-down {
                position: absolute;
                top: 22px;

                @include media("xl") {
                    top: 14px;
                }
            }
        }

        width: 100%;
        padding: 0;

        .list-group-item {
            cursor: pointer;
            background-color: var(--navigation-item-background-color);
            border: unset;

            .dropdown-toggle::after {
                display: none;
            }

            a,
            span {
                color: var(--navigation-item-text-color);
            }

            .nav-icon {
                display: inline-flex;
                width: 42px;
                height: 42px;
                margin-bottom: 3px;
                color: var(--navigation-item-icon-color);
                border-radius: var(--secondary-button-border-radius);

                svg,
                i {
                    width: 20px;
                    height: 20px;
                    margin: auto;
                    font-weight: normal;
                    &::before {
                        font-size: 20px;
                    }

                    &.back-to-menu {
                        width: 36px;
                        height: 36px;
                        padding: 9px;
                        color: var(--primary) !important;
                        @include media("lg") {
                            width: 30px;
                            height: 30px;
                            padding: 6px;
                        }
                    }
                }
            }

            &.sub-menu {
                display: flex;
                min-height: 58px;

                a.nav-link {
                    width: 100%;
                    padding: 0;
                }
            }

            .seperator {
                height: 1px;
                background: var(--navigation-item-divider-color);
                opacity: 1;
            }

            &.nav-item {
                position: relative;
                max-height: 58px;
                &.active {
                    background-color: var(--navigation-item-background-color--active);
                    span {
                        color: var(--navigation-item-text-color--active);
                    }
                    .nav-icon {
                        color: var(--navigation-item-icon-color--active);
                    }
                }
                &:hover {
                    background-color: var(--navigation-item-background-color--hover);

                    .nav-icon {
                        color: var(--navigation-item-icon-color--hover);
                    }

                    span {
                        color: var(--navigation-item-text-color--hover);
                    }
                }

                &.sub-menu {
                    height: 50px;
                    min-height: 50px !important;

                    .nav-link {
                        font-weight: 400;

                        span {
                            margin: 0 0 0 60px;
                        }
                    }
                }

                .nav-link {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 40px;
                    @include media("xl") {
                        font-size: 16px;
                    }
                    @include media("lg") {
                        font-size: 14px !important;
                    }
                    @include media("mobile") {
                        padding-left: 0 !important;
                    }

                    /*
                    @include media("xl") {
                        font-size: 14px;
                    }


                    @include media("lg") {
                        font-size: 12px;
                    }

                    @include media("md") {
                        font-size: .8rem;
                    }
                    */
                    span {
                        max-width: 70%;
                        max-height: 40px;
                        margin: 2px 0 auto 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        max-lines: 1;
                        @include media("lg") {
                            max-width: 60%;
                        }
                        @include media("xl") {
                            margin: auto 0 auto 8px;
                        }
                    }
                }
            }
        }
    }

    .navbar-toggler {
        background: unset;
        border-color: transparent !important;

        @include media("mobile") {
            position: absolute;
            top: 2px;
            right: 0;
        }

        @include media("lr-0") {
            position: absolute;
            top: 2px;
            right: 0;
        }

        .navbar-toggler-icon {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: flex;
            align-items: center;
            font-family: "Font Awesome Kit";
            font-size: 2rem;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color: var(--navigation-item-text-color);
            background-image: unset;
            transform: rotate(180deg);

            &::before {
                content: "\e003";
            }
        }
    }

    .main-logo-container {
        display: flex;
        width: 100%;
        height: 90px;

        @include media("mobile") {
            width: auto;
            height: 60px;
        }

        @include media("lr-0") {
            width: auto;
            height: 60px;
        }

        a.main-logo {
            width: 100%;
            height: 100%;
            margin: auto;
            background: url("../../../../assets/images/credits.png") no-repeat;
            background-position: center;
            background-size: contain;

            @include media("mobile") {
                width: 135px;
                height: 100%;
                margin-left: 15px;
                background-position: left center;
            }

            @include media("lr-0") {
                width: 135px;
                height: 100%;
                margin-left: 15px;
                background-position: left center;
            }
        }
    }

    .accordion {
        .custom-dropdown-toggle {
            width: 100%;
            color: var(--primary);

            svg {
                position: absolute;
                top: 22px;
                right: 25px;
                height: 12px;
                color: var(--navigation-item-icon-color);
                @include media("xl") {
                    right: 20px;
                }
            }
        }

        .dropdown-menu {
            .dropdown-item {
                &.active,
                &:hover {
                    background-color: var(--navigation-item-background-color--hover);

                    .nav-icon {
                        color: var(--navigation-item-icon-color--hover);
                    }

                    span {
                        color: var(--navigation-item-text-color--hover);
                    }
                }
            }
        }
    }
}

.top-sidebar,
.bottom-sidebar {
    z-index: 9999;

    .collapse-menu {
        display: none;

        @include media("mobile") {
            display: none !important;
        }
    }

    width: 100%;
    height: 100px;

    @include media("xl") {
        height: 90px;
    }

    @include media("lg") {
        height: 80px;
    }

    @include media("md") {
        height: 100%;
    }

    .more-menu {
        margin: unset;
    }

    .top-main-logo {
        width: 200px;
        height: 50px;
        background: url("../images/main_logo.png") no-repeat center;
        background-size: 150px;

        @include media("mobile") {
            display: none;
        }

        @include media("xl") {
            width: 180px;
            height: 40px;
            background-size: 140px;
        }

        @include media("lg") {
            height: 30px;
        }

        @include media("md") {
            height: 20px;
        }
    }

    .item-more {
        float: right;
    }

    ul {
        li {
            float: left;

            li {
                float: unset;

                a {
                    padding: 10px 24px !important;

                    @include media("lg") {
                        padding: 10px 19px !important;
                    }
                }
            }

            a {
                padding: 24px !important;

                @include media("lg") {
                    padding: 19px !important;
                }
            }
        }
    }
    @include media("not-mobile") {
        position: fixed;
        width: 100%;
        height: 80px;

        > .navbar {
            display: flex !important;
            flex-wrap: nowrap;

            > div:first-child {
                width: 200px;
                flex-basis: unset;
            }

            > div:nth-child(2) {
                overflow: auto;

                > .navbar-nav > .list-group {
                    > div:first-child {
                        height: 100% !important;
                        display: flex;

                        .list-group-item.nav-item {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            max-height: unset;

                            .nav-link {
                                padding-top: 7px;

                                .nav-icon {
                                    align-items: center;

                                    i {
                                        margin: 0;
                                        //margin-bottom: 8px;
                                        //@TODO Credit Suisse Customization -- start
                                        margin-bottom: 0;
                                        //@TODO Credit Suisse Customization -- end
                                        font-size: 22px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                        .list-group-item.nav-item.sub-menu {
                            height: 100%;

                            .nav-link span {
                                margin: auto;
                                max-width: unset;
                            }
                        }

                        .accordion {
                            display: flex;

                            > .collapse {
                                display: block;

                                > .list-group {
                                    flex-direction: row;
                                    height: 100%;
                                }
                            }

                            > .nav-item {
                                display: none;
                            }
                        }
                    }

                    > div:nth-child(2) {
                        position: fixed !important;
                        right: 0;
                        width: 370px !important;

                        > .list-group {
                            > .seperator.list-group-item:first-child {
                                display: none;
                            }
                        }

                        visibility: hidden;

                        &.show {
                            visibility: visible;
                        }
                    }
                }
            }

            #show-menu-toggler {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90px;
                height: 100%;
                cursor: pointer;

                &:hover {
                    background-color: var(--navigation-item-background-color);
                }

                i {
                    font-size: 28px;
                    color: var(--navigation-item-text-color);
                    transform: rotate(180deg);

                    &::before {
                        content: "\e003";
                    }
                }
            }
        }
    }

    @include media("mobile") {
        #show-menu-toggler {
            display: none;
        }
    }

    @include media("lr-0") {
        .navbar-toggler-icon {
            display: none !important;
        }
    }
}
.bottom-sidebar {
    @include media("not-mobile") {
        bottom: 0;
        > .navbar {
            > div:nth-child(2) {
                > .navbar-nav > .list-group {
                    > div:nth-child(2) {
                        bottom: 80px !important;
                    }
                }
            }
        }
    }
}
.top-sidebar {
    @include media("not-mobile") {
        top: 0;
        > .navbar {
            > div:nth-child(2) {
                > .navbar-nav > .list-group {
                    > div:nth-child(2) {
                        top: 80px !important;
                        height: fit-content;
                        > div:nth-child(1) {
                            > div:nth-child(1) {
                                order: 5;
                            }
                        }
                    }
                }
            }
        }
    }
}
.left-sidebar {
    position: fixed !important;
    height: 100%;

    @include media("mobile") {
        position: relative !important;
    }

    @include media("lr-0") {
        height: auto;
    }

    #show-menu-toggler {
        display: none;
    }
}

.left-sidebar,
.bottom-sidebar,
.top-sidebar {
    .main-menu-container {
        @include media("not-mobile") {
            height: calc(100% - 365px);
            overflow: auto;
        }

        @include media("lr-0") {
            height: 100%;
        }

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background: linear-gradient(
                270deg,
                rgba(0, 0, 0, 0) calc(50% - 0.78px),
                var(--secondary-50) calc(50%),
                rgba(0, 0, 0, 0) calc(50% + 0.78px)
            );
        }

        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
        }

        &::-webkit-scrollbar-thumb:hover {
            opacity: 50%;
        }
    }
}
