@import "./../../../../assets/scss/variables";
@import "./../../../../assets/scss/screens-sizes";

.sidebar {
    z-index: 10;
    background-color: var(--sidebar-bg-clr);

    &.left-container {
        @include media("mobile") {
            width: 100%;
        }

        @include media("lr-0") {
            position: relative;
            width: 100%;
        }

        @include media("lr-1") {
            width: 25%;
        }

        @include media("lr-2") {
            width: 20%;
        }

        @include media("lr-3") {
            width: 17%;
        }

        @include media("lr-4") {
            width: 16%;
        }

        @include media("lr-5") {
            width: 13%;
        }

        @include media("lr-6") {
            width: 10%;
        }

        @include media("lr-7") {
            width: 8%;
        }
    }

    @include media("not-mobile") {

        .navbar-nav,
        .navbar-collapse {
            height: 100%;

            .accordion {
                .collapse:not(.collapse.show)~.nav-item {
                    &::after {
                        content: "\f078";
                        font-family: "Font Awesome 5 pro";
                        float: right;
                        top: 20px;
                        position: absolute;
                        right: 24px;
                    }
                }

                .collapse~.nav-item {
                    &::after {
                        font-family: "Font Awesome 5 pro";
                        content: "\f077";
                        font-size: 12px;
                        float: right;
                        top: 20px;
                        position: absolute;
                        right: 24px;
                    }
                }
            }
        }
    }

    .item-more {
        position: relative;

        .nav-link {
            .icon {
                opacity: 1 !important;
            }
        }

        &:hover>.more-menu {
            display: block;
        }

        background-color: var(--sidebar-hover-bg-clr) !important;
    }

    .navbar {
        height: 100%;
    }


    .copyright {
        font-size: 13px !important;
        border-top: 1px solid var(--secondary-30);

        @include media("xl") {
            font-size: 9px !important;
        }

        span {
            padding: 10px 0;
            font-weight: 700;
            color: var(--secondary-80) !important;
        }
    }

    .img-container {
        opacity: 1 !important;
    }

    .language {
        svg {
            position: absolute;
            top: 8px;
            right: 0;
        }
    }

    .profile-picture,
    .languages {
        width: 24px;
        height: 24px;
        margin: auto;
        background-size: 24px;
        border-radius: 50%;
        background: url("./../images/profile.jpg") no-repeat center;


        @include media("xl") {
            width: 32px;
            height: 32px;
        }

        .img-container {
            opacity: 1 !important;
        }


    }

    .languages {
        &.en {
            background: url("../images/en_flag.png") no-repeat center;
            background-size: 24px;
        }

        &.de {
            background: url("../images/de_flag.png") no-repeat center;
            background-size: 24px;
        }

    }

    .list-group {
        .icon-arrow-down {
            position: absolute;
            top: 22px;

            @include media("xl") {
                top: 14px;
            }
        }

        .list-group-item.bottom-menu {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: var(--sidebar-bg-clr);

            @include media("mobile") {
                position: relative;
            }
        }

        .dropdown-menu {
            position: absolute;
            width: 100%;
        }

        .dropdown {
            a {
                width: 100%;

                svg {
                    color: var(--primary);
                    height: 12px;
                    top: 15px;
                }
            }

            &-item {
                display: flex;
            }
        }

        .bottom-menu {
            .icon-arrow-down {
                position: absolute;
                top: 22px;

                @include media("xl") {
                    top: 14px;
                }
            }

        }

        width: 100%;
        padding: 0;

        .list-group-item {
            background-color: unset;
            border: unset;
            cursor: pointer;

            .dropdown-toggle::after {
                display: none;
            }

            a,
            span {
                color: var(--sidebar-fg-clr);

            }

            .nav-icon {
                display: inline-flex;
                width: 42px;
                height: 42px;
                border-radius: var(--border-radius);
                color: var(--sidebar-icon-clr);

                svg {
                    width: 20px;
                    height: 20px;
                    margin: auto;
                }
            }

            &.sub-menu {
                min-height: 58px;
                display: flex;

                a.nav-link {
                    width: 100%;
                    padding: 0;
                }
            }

            .seperator {
                height: 1px;
                background: var(--sidebar-fg-clr);
                opacity: 0.2;
            }

            &.nav-item {
                position: relative;

                &.active,
                &:hover {
                    background-color: var(--sidebar-item-hover-bg-clr);

                    .nav-icon {
                        color: var(--sidebar-hover-icon-clr);
                    }

                    span {
                        color: var(--sidebar-hover-fg-clr);
                    }

                }

                .nav-link {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    padding-left: 15px;
                    font-size: 17px;
                    line-height: 40px;
                    font-weight: 700;

                    @include media("mobile") {
                        padding-left: 0 !important;
                    }

                    @include media("xl") {
                        padding-left: 15px;
                        font-size: 14px;
                    }

                    @include media("lr-4") {
                        padding-left: 8px;
                    }

                    @include media("lg") {
                        font-size: 12px;
                    }

                    @include media("md") {
                        font-size: 0.8rem;

                    }

                    span {
                        margin: 2px 0 auto 20px;

                        @include media("xl") {
                            margin: auto 0 auto 15px;
                        }
                    }
                }
            }
        }
    }

    .navbar-toggler {
        border-color: transparent !important;
        background: unset;
    }

    .main-logo-container {
        display: flex;
        width: 100%;
        height: 90px;

        @include media("mobile") {
            width: 86%;
            height: 65px;
        }

        a.main-logo {
            width: 100%;
            height: 100%;
            margin: auto;
            background: url("../images/main_logo.png") no-repeat;
            background-position: center;
            background-size: contain;

            @include media("mobile") {
                width: 95%;
                height: 60px;
                background-position: left center;
            }

            @include media("lr-0") {
                width: 95%;
                height: 60px;
                background-position: left center;
            }
        }
    }
}

.bottom-sidebar {
    position: fixed;
    bottom: 0;
}

.top-sidebar,
.bottom-sidebar {
    .collapse-menu {
        display: none;

        @include media("mobile") {
            display: none !important;
        }
    }

    width: 100%;
    height: 100px;

    @include media("xl") {
        height: 90px;
    }

    @include media("lg") {
        height: 80px;
    }

    @include media("md") {
        height: 70px;
    }

    .more-menu {
        margin: unset;
    }

    .top-main-logo {
        width: 200px;
        height: 50px;
        background: url("../images/main_logo.png") no-repeat center;
        background-size: 150px;

        @include media("mobile") {
            display: none;
        }

        @include media("xl") {
            width: 180px;
            height: 40px;
            background-size: 140px;
        }

        @include media("lg") {
            height: 30px;
        }

        @include media("md") {
            height: 20px;
        }
    }

    .item-more {
        float: right;
    }

    ul {
        li {
            float: left;

            li {
                float: unset;

                a {
                    padding: 10px 24px !important;

                    @include media("lg") {
                        padding: 10px 19px !important;
                    }
                }
            }

            a {
                padding: 24px !important;

                @include media("lg") {
                    padding: 19px !important;
                }
            }
        }
    }
}

.left-sidebar {
    position: fixed !important;
    height: 100%;

    @include media("mobile") {
        position: relative !important;
    }

    .main-menu-container {
        @include media("not-mobile") {
            height: calc(100% - 334px);
            overflow: auto;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: var(--primary-20);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--primary);
        }

        &::-webkit-scrollbar-thumb:hover {
            opacity: 50%;
        }
    }

}
