@import "./../../../../assets/scss/variables";
@import "./../../../../assets/scss/screens-sizes";

.sidebar {
    z-index: 1;
    background-color: $sidebar-bg-clr;

    .item-more {
        .nav-link {
            .icon {
                opacity: 1 !important;
            }
        }

        background-color: $sidebar-hover-bg-clr;
    }

    .dropdown-menu {
        min-width: 370px;
        margin: 17px;
        background: $sidebar-menu-extra-bg-clr;
        border: 0;
        border-radius: $border-radius;
    }

    .copyright {
        font-size: 13px !important;

        @include media("xl") {
            font-size: 9px !important;
        }

        span {
            padding: 10px 0;
            margin: auto !important;
            text-align: center;
        }
    }

    .img-container  {
        opacity: 1 !important;
    }
    .language{
        svg{
            position: absolute;
            top: 15px;
            right: 10px;
        }
    }

    .profile-picture,
    .languages {
        width: 48px;
        height: 48px;
        margin: auto;
        background: url("./../images/profile.jpg") no-repeat center;
        background-size: 28px;
        border-radius: $border-radius;


        @include media("xl") {
            width: 32px;
            height: 32px;
        }

        .img-container {
            opacity: 1 !important;
        }


    }
    .languages{
        background: url("../images/en_flag.png") no-repeat;
        background-position: center;
        background-size: 28px;
    }

    ul {
        .icon-arrow-down {
            position: absolute;
            top: 22px;
            @include media("xl") {
                top: 14px;
            }
        }

        li.bottom-menu {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        ul {
            .icon-arrow-down {
                position: absolute;
                top: 22px;

                @include media("xl") {
                    top: 14px;
                }
            }

            li {
                $border-values: unquote("1px" + " solid " + $sidebar-icon-clr + "20");

                border-bottom: $border-values;
            }

            li:last-child {
                border-bottom: unset;
            }
        }

        width: 100%;
        padding: 0;

        li {
            .dropdown-toggle::after {
                display: none;
            }

            a {
                color: $sidebar-fg-clr;
            }

            list-style-type: none;

            .nav-icon {
                display: inline-flex;
                width: 42px;
                height: 42px;
                border-radius: $border-radius;
                opacity: .6;

                svg {
                    width: 28px;
                    height: 28px;
                    margin: auto;
                }
            }

            &.nav-item {
                position: relative;

                &.active {
                    .nav-icon {
                        background-color: $sidebar-hover-bg-clr;
                        opacity: 1;
                    }

                    span {
                        font-family: $font-family-sans-serif;
                        font-weight: 700;
                    }

                }

                &:hover {
                    background-color: $sidebar-hover-bg-clr;

                    a {
                        color: $sidebar-hover-fg-clr;
                    }

                    .nav-icon {
                        svg {
                            stroke: $sidebar-hover-icon-clr;
                        }

                        opacity: 1;
                    }

                    .copyright {
                        color: $primary;
                    }
                }

                .nav-link {
                    display: flex;
                    padding: 0;
                    padding-left: 20px;
                    font-size: 16px;
                    font-weight: 400;

                    @include media("xl") {
                        padding-left: 15px;
                        font-size: 14px;
                    }

                    @include media("lg") {
                        font-size: 012px;
                    }

                    @include media("md") {
                        font-size: .8rem;
                    }

                    span {
                        margin: auto 0 auto 20px;

                        @include media("xl") {
                            margin: auto 0 auto 15px;
                        }
                    }
                }
            }
        }
    }

    .main-logo-container {
        display: flex;
        width: 100%;
        height: 120px;

        @include media("mobile") {
            width: 80%;
            height: 65px;
        }

        a.main-logo {
            width: 100%;
            height: 100%;
            margin: auto;
            background: url("../images/main_logo.png") no-repeat center;
            background-size: contain;

            @include media("mobile") {
                width: 60%;
                height: 60px;
                background-position: left center;
            }
        }
    }
}

.bottom-sidebar {
    position: fixed;
    bottom: 0;
}

.top-sidebar,
.bottom-sidebar {
    .collapse-menu {
        display: none;

        @include media("mobile") {
            display: none !important;
        }
    }

    width: 100%;
    height: 100px;

    @include media("xl") {
        height: 90px;
    }

    @include media("lg") {
        height: 80px;
    }

    @include media("md") {
        height: 70px;
    }

    .dropdown-menu {
        margin: unset;
    }

    .top-main-logo {
        width: 200px;
        height: 50px;
        background: url("../images/main_logo.png") no-repeat center;
        background-size: 150px;

        @include media("mobile") {
            display: none;
        }

        @include media("xl") {
            width: 180px;
            height: 40px;
            background-size: 140px;
        }

        @include media("lg") {
            height: 30px;
        }

        @include media("md") {
            height: 20px;
        }
    }

    .item-more {
        float: right;
    }

    ul {
        li {
            float: left;

            li {
                float: unset;

                a {
                    padding: 10px 24px !important;

                    @include media("lg") {
                        padding: 10px 19px !important;
                    }
                }
            }

            a {
                padding: 24px !important;

                @include media("lg") {
                    padding: 19px !important;
                }
            }
        }
    }
}

.left-sidebar {
    position: fixed;
    height: 100%;

    @include media("mobile") {
        position: relative;
    }

    .collapse-menu {
        position: absolute;
        bottom: 15px;
        width: 28px;
        height: 28px;
        background: $primary;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        .icon {
            width: 18px;
            height: 18px;
            background: #FFF;
            mask-size: 11px;
        }
    }
}
