@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

body.modal-open #root {
    opacity: 0.8;
}
.modal-backdrop.show {
    background-color: var(--modal-backdrop-background-color) !important;
    opacity: 0.8 !important;
}

.confirmation-modal-dialog {
    overflow-y: hidden !important;

    .modal-dialog {
        display: flex;
        max-width: 553px !important;
        height: 90% !important;
        margin: auto !important;
        @include media("mcbk-1") {
            max-width: 460px !important;
        }
        @include media("mcbk-2") {
            max-width: 420px !important;
        }
        @include media("mobile") {
            max-width: 300px !important;
            height: 100% !important;
        }
    }

    .modal-content {
        justify-content: center !important;
        padding: 35px;
        margin: auto;
        background-color: var(--modal-background-color);
        border: none;
        border-radius: var(--modal-border-radius) !important;
        @include media("mcbk-1") {
            padding: 20px;
        }
        @include media("mcbk-2") {
            padding: 20px;
        }
        @include media("mobile") {
            padding: 10px;
        }
    }

    .modal-header {
        justify-content: center !important;
        background-color: var(--modal-background-color);
        border-bottom: unset !important;
        border-top-left-radius: var(--modal-border-radius) !important;
        border-top-right-radius: var(--modal-border-radius) !important;

        .close {
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 0 !important;
            margin: auto 5px !important;
            font-size: 35px;
            font-weight: 300;
            color: var(--primary);
            opacity: 1 !important;

            &:hover {
                color: var(--primary);
            }
        }
    }

    .modal-title {
        text-align: center;
        &.h4 {
            padding-top: 10px;
            font-size: 42px;
            font-weight: 700;
            line-height: initial;
            color: var(--modal-text-color);
            overflow-wrap: break-word;
            @include media("mcbk-1") {
                font-size: 27px;
            }
            @include media("mcbk-2") {
                font-size: 23px;
            }
            @include media("lg") {
                font-size: 36px;
            }
            @include media("mobile") {
                font-size: 23px;
            }
        }
    }

    .modal-body {
        padding: 1rem !important;
        font-size: 16px;
        font-weight: 400;
        color: var(--card-second-text-color);
        text-align: center;
        overflow-wrap: break-word;
        @include media("mobile") {
            font-size: 13px;
        }
    }

    .modal-footer {
        justify-content: center !important;
        margin: 0 10px;
        margin-top: 20px;
        border-top: none !important;
        .btn {
            position: relative;
            display: flex !important;
            justify-content: flex-start;
            min-width: 120px;
            height: 40px;
            padding: 0 8px !important;
            padding-top: 4px !important;
            @include media("mobile") {
                min-width: 100px;
            }
            i {
                display: flex;
                align-items: center;
                height: 100%;
                margin-right: 28px;
                margin-bottom: 4px;
                margin-left: 5px;
            }
            &:first-child {
                margin-right: 15px;
            }
            &.btn-secondary {
                i {
                    font-size: 22px;
                }
            }
            &.btn-primary {
                i {
                    font-size: 17px;
                }
            }
        }
    }
}
