@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.app-sponsors {
    &--item {
        width: 100%;
        padding: 10px;
        img {
            width: 100%;
            border-radius: var(--card-border-radius);
            &.placeholderImg {
                height: 75px;
                padding: 10px;
            }
        }
    }
}
