@import "../../../../assets/scss/variables";

.streams-container {
    .tab-pane {
        display: none;
        min-height: 205px;

        &.show {
            display: block;
        }
    }

    .tabs {
        > div {
            height: 52px;
            padding: 10px;
            background-color: var(--tab-background-color) !important;

            &.active {
                border: 1px solid var(--primary) !important;
                background-color: var(--tab-background-color--active) !important;
            }
        }
    }

    .stream-items {
        display: block;
        width: 64px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.youtube {
            background-image: url(../images/youtube.svg);
        }

        &.knovio {
            background-image: url(../images/knovio.svg);
        }

        &.vimeo {
            background-image: url(../images/vimeo.svg);
        }

        &.zoom {
            background-image: url(../images/zoom.svg);
        }

        &.webex {
            background-image: url(../images/webex.svg);
        }

        &.swisscom {
            background-image: url(../images/swisscom.svg);
        }

        &.dacast {
            background-image: url(../images/dacast.svg);
        }
        &.upload {
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                padding-bottom: 3px;
                font-size: 21px;
                color: var(--tab-text-color);
                &::before {
                    content: "\e058";
                }
            }
        }
    }
}
