@import "../assets/scss/variables";

.info-section {
    position: fixed;
    right: 0;
    background: linear-gradient($info-section-background-overlay-first-color, $info-section-background-overlay-second-color), url("../assets/images/background.png");
    background-size: cover;
}
