@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.message-box {
    position: fixed;
    right: 15px;
    bottom: 0;
    z-index: 10 !important;

    &--container {
        display: flex;
        align-items: flex-end;

        @include media("mobile") {
            height: 100%;
        }
    }

    @include media("mobile") {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 100;
        width: 100%;
        height: auto;
    }

    &--group {
        width: 384px;
        margin-right: 15px;
        background-color: var(--card-background-color);
        border-radius: var(--card-border-radius);
        box-shadow: 0 -7px 40px var(--card-box-shadow-color);

        @include media("mobile") {
            width: 100%;
        }

        .nav-tabs {
            width: 100%;
            padding: 0 15px;
        }

        .create-group {
            padding: 1em;
            border-top: 1px solid var(--card-divider-color);

            .group--container {
                height: 36px;
                border: 1px solid var(--input-border-color);
                border-radius: var(--input-border-radius);

                input {
                    height: inherit;
                    padding-bottom: 7px;
                    font-size: 14px;
                    font-weight: 300;
                    color: var(--secondary);
                    background-color: unset;
                    border: none;
                }
            }

            .group {
                height: 200px;

                .group-users {
                    margin-top: 0.5em;
                    font-size: 12px;
                    display: flex;
                    jusstify-content: space-between;

                    span {
                        font-weight: 700;
                    }

                    .count {
                        font-weight: 500;
                        color: var(--info);
                    }
                }
            }

            .badge {
                display: flex;
                align-items: center;
                padding: 4px 7px;
                margin: 5px;
                color: var(--card-text-color);
                background-color: var(--primary-10);
                border-radius: var(--tag-border-radius);
                &--close {
                    padding-right: 0;
                    background: unset;
                    border: unset;
                    i {
                        font-size: 17px;
                    }
                }
            }
        }

        .group-buttons {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            border-top: 1px solid var(--card-divider-color);

            span {
                font-size: 16px;
            }

            i {
                padding-right: 1em;
                font-size: 18px;
            }

            .btn-group-cancel {
                box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
                height: 36px;
                width: 158px;
                background-color: var(--secondary-button-text-color) !important;
            }

            .btn-group-create {
                width: 158px;
                height: 36px;
                background-color: var(--secondary-button-text-color) !important;
                box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
            }
        }
    }
}
