@import "../../../../assets/scss/variables";

.nav-tabs {
    border-bottom: unset !important;

    a {
        &.nav-item {
            margin: 3px;
            font-size: 14px;
            font-weight: 500;
            color: var(--secondary);
            background-color: #FFF;
            border-radius: var(--border-radius);
            box-shadow: 0 3px 9px var(--secondary-10);

            &:hover,
            &.active {
                color: var(--primary);
                background-color: var(--primary-20);
                border-color: transparent;
                border-radius: var(--border-radius);
            }
        }
    }
}
