@import "../../../../../AppModule/assets/scss/variables";

.edit {
    &-client {
        margin-top: 24px;

        .input-wrap-pr {
            @media screen and (min-width: 1200px) {
                padding-right: 43px;
            }

        }


        .text-area {
            display: block;
            width: 100%;
            height: 160px;
            min-height: 160px;
            max-height: 300px;
            padding: 10px;
            margin: 10px 0;
            color: $input-clr;
            background-color: var(--input-bg-clr);
            border: 1px solid var(--input-border-clr);
            border-radius: var(--border-radius);

            &:focus {
                outline: unset !important
            }
        }

        hr {
            border-color: #E6E8E8;
            border-width: 2px;
        }

    }

    &-client-packages {
        .custom-checkbox {
            padding: 10px 14px;
        }
    }

    &-client-footer-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    &-client-footer {
        background-color: #fff;
        box-shadow: 0 -7px 40px var(--secondary-20);
    }
}