@import "../../../../../AppModule/assets/scss/variables";

// @TODO: check weather it is duplicate style or not

.search-inpt {
    svg {
        position: absolute;
        top: 16px;
        left: 20px;
    }

    input {
        padding-left: 30px;
    }

    input,
    input::input-placeholder {
        height: 37px;
        font-size: 13px;
        line-height: 40px;
    }
}

.table-responsive {
    min-height: 65vh;
}
