@import "../../../../assets/scss/variables";

.message-group-container {
    cursor: pointer;
    border: none !important;
    border-bottom: 1px solid var(--secondary-20) !important;

    .content {
        display: flex;
        align-items: center;

        .avatar {
            i {
                display: block;
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 20px;

                &::after {
                    position: relative;
                    top: -3px;
                    left: 24px;
                    display: block;
                    width: 11px;
                    height: 11px;
                    content: "";
                    background-color: var(--primary);
                    border: 2px solid #fff;
                    border-radius: 20px;
                }
            }
        }

        .details {
            &--sender {
                h3 {
                    margin-bottom: 0;
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--secondary);

                    .time {
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--secondary-70);
                    }
                }
            }

            &--comment {
                p {
                    margin-bottom: 0;
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--secondary);
                }

                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--secondary-70);
                }
            }
        }
    }

    .count {
        position: absolute;
        right: 15px;
        bottom: 15px;

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 17px;
            height: 17px;
            padding-top: 1px;
            font-size: 12px;
            font-weight: 500;
            color: #fff;
            background-color: #f00;
            border-radius: 20px;
        }
    }

    .more {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 45px;
        padding-right: 0 !important;

        padding-left: 0 !important;
        background: white;
        box-shadow: 3px 3px 8px 0 rgba(155, 167, 186, 0.2);

        .btn-icon {
            padding-top: 12px;
            font-size: 19px;
        }
    }

    .green-btn {
        i {
            color: var(--primary);
        }
    }
}

.message-group-container.active {
    background-color: transparent !important;
    border: none;
}

.list-group-item.disabled,
.list-group-item:disabled {
    background-color: var(--primary-20) !important;
}
