@import "../../../../../AppModule/assets/scss/variables";

.translatable-container {
    .chooselang-row {
        padding-bottom: 10px;
        overflow: auto;
        white-space: nowrap;
    }
    .active {
        color: var(--primary) !important;
        background-color: var(--primary-20) !important;
        border-color: transparent !important;
    }

    .btn {
        text-transform: capitalize;

        i {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
        }
    }

    .en {
        i {
            background: url(../images/en_flag.png);
            background-size: 20px;
        }
    }

    .pt {
        i {
            background: url(../images/pt_flag.png);
            background-size: 20px;
        }
    }

    .it {
        i {
            background: url(../images/it_flag.jpg);
            background-size: 20px;
        }
    }

    .fr {
        i {
            background: url(../images/fr_flag.png);
            background-size: 20px;
        }
    }

    .de {
        i {
            background: url(../images/de_flag.png);
            background-size: 20px;
        }
    }
}
