@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.app-message-inbox {
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 9998;
    .app-message-inbox-header {
        cursor: pointer;
    }
    .app-message-inbox-thread {
        position: relative;
        width: 100%;

        &.rm {
            background: var(--primary-20);
        }

        .relational-manager {
            display: flex;
            width: 100%;

            span {
                margin-left: auto;
                font-size: 14px;
                font-weight: 700;
                color: var(--primary);
            }
        }
    }

    &--container {
        display: flex;

        @include media("mobile") {
            height: 100%;
        }
    }

    @include media("mobile") {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 100;
        width: 100%;
    }

    &--index {
        width: 384px;
        background-color: var(--card-background-color);
        border-radius: var(--card-border-radius);
        box-shadow: 0 -7px 40px var(--card-box-shadow-color);

        @include media("mobile") {
            width: 100%;
            height: 90vh;
        }

        .inner-container {
            &--details {
                &--content {
                    display: flex;
                    align-items: center;

                    &--profile {
                        display: block;
                        width: 36px;
                        height: 36px;
                        margin-right: 15px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: var(--circle-border-radius);
                        //&::after {
                        //    position: relative;
                        //    top: -1px;
                        //    left: 24px;
                        //    display: block;
                        //    width: 11px;
                        //    height: 11px;
                        //    content: "";
                        //    background-color: var(--online-badge-bg-clr);
                        //    border: 2px solid var(--border-border-radius-clr);
                        //    border-radius: var(--circle-border-radius);
                        //}
                    }

                    &--title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0;
                        font-size: 20px;
                        font-weight: 700;
                        color: var(--secondary);

                        &--count {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 17px;
                            height: 17px;
                            padding-top: 3px;
                            margin-left: 3px;
                            font-size: 11px;
                            color: var(--light-clr);
                            background-color: var(--danger);
                            border-radius: var(--circle-border-radius);
                        }
                    }
                }
            }

            &--action {
                display: flex;
                align-items: center;

                .btn-collapse {
                    a {
                        cursor: pointer;

                        i {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 36px;
                            height: 36px;
                            font-size: 22px;
                            color: var(--secondary-button-text-color);
                            background-color: var(--secondary-button-background-color);
                            border: var(--primary-button-border-width) solid var(--primary-button-border-color);
                            border-radius: var(--secondary-button-border-radius);
                            box-shadow: 0 -1px 9px var(--secondary-button-box-shadow-color);
                            &::before {
                                content: "\e018";
                            }
                        }
                    }
                }

                .btn-close {
                    a {
                        cursor: pointer;

                        i {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 36px;
                            height: 36px;
                            font-size: 22px;
                            color: var(--secondary-button-text-color);
                            border-radius: var(--secondary-button-border-radius);
                            box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
                        }
                    }
                }
            }

            &--search {
                &--container {
                    height: 36px;
                    background-color: var(--input-background-color);
                    border: var(--input-border-width) solid var(--input-border-color);
                    border-radius: var(--input-border-radius);

                    input {
                        height: inherit;
                        padding-left: 40px;
                        font-size: 14px;
                        font-weight: 300;
                        color: var(--input-text-color);
                        background-color: unset;
                        border: none;

                        &::placeholder {
                            color: var(--input-placeholder-text-color);
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    i {
                        position: absolute;
                        top: 0;
                        left: 9px;
                        display: flex;
                        align-items: center;
                        height: inherit;
                        font-size: 17px;
                        font-weight: 600;
                        color: var(--input-text-color);
                    }
                }
            }

            &--tab {
                &--item {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        height: 36px;
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--secondary-button-text-color);
                        background-color: var(--secondary-button-background-color);
                        border-radius: var(--secondary-button-border-radius);
                        box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);

                        i {
                            padding-right: 8px;
                            font-size: 22px;
                            color: var(--secondary-button-text-color);
                        }
                    }

                    &.active {
                        a {
                            color: var(--primary);
                            background-color: var(--primary-10);

                            i {
                                color: var(--primary);
                            }
                        }
                    }

                    &.all-users {
                        a {
                            i {
                                font-size: 17px;
                                font-weight: 500;

                                &::before {
                                    content: "\e00a";
                                }
                            }
                        }
                    }
                }
            }

            &--filter {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    border-radius: var(--secondary-button-border-radius);
                    box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);

                    i {
                        font-size: 17px;
                        font-weight: 600;
                        color: var(--secondary-button-text-color);
                    }
                }
            }

            &--message {
                height: 393px;
                overflow: auto;
                scrollbar-color: var(--secondary) var(--secondary-10);
                scrollbar-width: thin;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: var(--secondary-10);
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--secondary);
                }

                &::-webkit-scrollbar-thumb:hover {
                    opacity: 50%;
                }

                @include media("mobile") {
                    height: 80vh;
                }
                .loaderContainer {
                    position: relative;
                }
                &--item {
                    border-top: 1px solid var(--card-divider-color);
                    a {
                        cursor: pointer;
                    }
                    &--container {
                        .content {
                            display: flex;
                            align-items: center;

                            .avatar {
                                i {
                                    display: block;
                                    width: 36px;
                                    height: 36px;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    border-radius: var(--circle-border-radius);
                                    //&::after {
                                    //    position: relative;
                                    //    top: -3px;
                                    //    left: 24px;
                                    //    display: block;
                                    //    width: 11px;
                                    //    height: 11px;
                                    //    content: "";
                                    //    background-color: var(--online-badge-bg-clr);
                                    //    border: 2px solid var(--border-border-radius-clr);
                                    //    border-radius: var(--circle-border-radius);
                                    //}
                                }
                            }

                            .details {
                                &--sender {
                                    h3 {
                                        display: -webkit-box;
                                        height: 22px;
                                        margin-bottom: 0;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        font-size: 16px;
                                        font-weight: 500;
                                        color: var(--secondary);

                                        .time {
                                            font-size: 12px;
                                            font-weight: 400;
                                            color: var(--secondary-70);
                                        }
                                    }
                                }

                                &--comment {
                                    p {
                                        display: -webkit-box;
                                        height: 16px;
                                        margin-bottom: 0;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        font-size: 12px;
                                        font-weight: 400;
                                        color: var(--secondary);
                                    }

                                    span {
                                        font-size: 12px;
                                        font-weight: 400;
                                        color: var(--secondary-70);
                                    }
                                }
                            }
                        }

                        .count {
                            position: absolute;
                            right: 15px;
                            bottom: 15px;

                            span {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                width: 17px;
                                height: 17px;
                                padding-top: 3px;
                                font-size: 12px;
                                font-weight: 500;
                                color: var(--btn-primary-fg-clr);
                                background-color: var(--danger);
                                border-radius: var(--circle-border-radius);
                            }
                        }
                    }
                }
            }
        }
    }

    .collapsed {
        height: 60px;
        padding-top: 5px;
        margin-top: auto;
        margin-bottom: 0;
        overflow: hidden;

        .app-message-inbox-header {
            padding-top: 8px !important;
            padding-bottom: 10px !important;
        }

        .btn-collapse {
            transform: rotate(180deg);
        }

        @include media("mobile") {
            position: absolute;
            bottom: 60px;
            left: 16px;
            width: 145px;
            height: 40px;

            .app-message-inbox-header {
                padding-top: 0 !important;
                padding-right: 5px !important;
                padding-left: 5px !important;

                .inner-container {
                    &--details {
                        &--content {
                            &--profile {
                                width: 30px;
                                height: 30px;
                                margin-right: 5px;
                            }
                        }
                    }

                    &--action {
                        .btn-collapse {
                            i {
                                width: 25px;
                                height: 25px;
                                font-size: 19px;
                            }
                        }
                    }
                }

                h2 {
                    width: 70px;
                    overflow: hidden;
                    font-size: 13px;
                }
            }
        }
    }
}
