@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.schedule-meeting {
  &--container {
    .inner-content {
      &--tabs {
        padding-bottom: 1px;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        ul {
          flex-wrap: inherit;
          border-bottom: none;
          li {
            width: 100%;
            a {
              position: relative;
              display: grid;
              padding: 15px;
              font-size: 12px;
              font-weight: 400;
              color: var(--card-text-color);
              text-align: center;
              border: none;
              border-bottom: 2px solid var(--card-divider-color);
              i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                padding-top: 2px;
                margin: 10px auto;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                color: var(--card-text-color);
                border: 1px solid var(--card-text-color);
                border-radius: var(--circle-border-radius);
              }
              &::after {
                position: absolute;
                right: 0;
                display: block;
                width: 1px;
                height: 60%;
                margin: auto;
                content: " ";
                background-color: var(--card-divider-color);
              }
              &.active {
                color: var(--primary);
                border-bottom: 2px solid var(--primary);
                i {
                  color: var(--light-clr);
                  background-color: var(--primary);
                  border-color: var(--primary);
                }
              }
            }
            &:last-child {
              a {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
      &--steps {
        &--container {
          min-height: 60vh;
          &.oveview {
            .inner-box {
            }
          }
          &.scheduling {
            .inner-box {
              .preview-col {
                background-color: var(--primary-20);
              }
              .create-bot--description {
                &--det {
                  &--count {
                    span {
                      margin-right: 52px;
                      @include media("mobile") {
                        margin-right: 0;
                      }
                    }
                  }
                }
                &--tx {
                  display: flex;
                  .show-btn {
                    width: 36px;
                    i {
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
          &.confirmation {
            .inner-box {
              .add-option-col {
                background-color: var(--primary-20);
                &--content {
                  &--item {
                    a {
                      padding-top: 9px;
                      i {
                        position: absolute;
                        left: 7px;
                        bottom: 12px;
                      }
                    }
                  }
                }
              }
              .select-box-col {
                .select-box-item {
                  background-color: var(--primary-20);
                  border-radius: var(--card-border-radius);
                  &--header {
                    .title {
                      display: flex;
                      align-items: center;
                      h3 {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 700;
                        color: var(--card-text-color);
                        i {
                          padding-bottom: 5px;
                          font-size: 20px;
                          font-weight: 400;
                        }
                      }
                    }
                    .action {
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                      a {
                        width: 36px;
                        i {
                          font-size: 18px;
                        }
                      }
                    }
                  }
                  &--content {
                    .create-bot--text-box {
                      &--tx {
                        display: flex;
                        align-items: center;
                        a {
                          width: 36px;
                          i {
                            font-size: 18px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .preview-col {
                background-color: var(--primary-20);
              }
            }
          }
        }
      }
    }
  }
  &--title {
    h2 {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 400;
      color: var(--card-text-color);
    }
  }
  &--text-box {
    &--det {
      margin-bottom: 6px;
      &--name {
        display: flex;
        align-items: center;
        h3 {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 700;
          color: var(--card-text-color);
          .required {
            color: var(--danger);
          }
        }
      }
      &--count {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          font-weight: 400;
          color: var(--secondary-70);
        }
      }
    }
    &--tx {
      &.meeting-link {
        display: flex;
        .clipboard-btn {
          width: 36px;
          i {
            font-size: 15px;
            font-weight: 700;
          }
        }
      }
      .date-toggle {
        position: absolute;
        top: 8px;
        right: 10px;
        font-weight: 600;
        color: var(--input-text-color);
        i {
        }
      }
    }
  }
  &--duration-time-box {
    &--det {
      margin-bottom: 6px;
      &--name {
        display: flex;
        align-items: center;
        h3 {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 700;
          color: var(--card-text-color);
          .required {
            color: var(--danger);
          }
        }
      }
      &--count {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          font-weight: 400;
          color: var(--secondary-70);
        }
      }
    }
    &--content {
      .duration-item {
        display: flex;
        align-items: flex-end;
        background-color: var(--field-bg-clr);
        border-radius: var(--card-border-radius);
        .schedule-meeting--text-box {
          width: 100%;
        }
        .delete-btn {
          width: 36px;
          i {
            font-size: 18px;
          }
        }
      }
      .add-duration-btn {
        position: relative;
        width: fit-content;
        padding-top: 7px;
        i {
          position: absolute;
          left: 7px;
          font-size: 16px;
        }
      }
    }
  }
  &--available-times-box {
    &--det {
      margin-bottom: 6px;
      &--name {
        display: flex;
        align-items: center;
        h3 {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 700;
          color: var(--card-text-color);
          .required {
            color: var(--danger);
          }
        }
      }
      &--count {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          font-weight: 400;
          color: var(--secondary-70);
        }
      }
    }
    &--content {
      .available-time-item {
        display: flex;
        align-items: flex-end;
        background-color: var(--field-bg-clr);
        border-radius: var(--card-border-radius);
        @include media("lg") {
          flex-flow: wrap;
        }
        .schedule-meeting--drop-down {
          width: 100%;
          @include media("lg") {
            width: 150px;
          }
          &.day {
          }
          &.last-time {
          }
        }
        .to-divider {
          display: flex;
          align-items: center;
          height: 36px;
          font-size: 14px;
          font-weight: 400;
          color: var(--card-text-color);
        }
        .delete-btn {
          width: 36px;
          i {
            font-size: 18px;
          }
        }
      }
      .add-duration-btn {
        position: relative;
        width: fit-content;
        padding-top: 7px;
        i {
          position: absolute;
          left: 7px;
          font-size: 16px;
        }
      }
    }
  }
  &--duration-selector {
    border-left: 1px solid var(--card-divider-color);
    .title {
      h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--primary);
      }
    }
    &--duration {
      .radio-btn-txt-seperated {
        overflow: auto;
        scrollbar-color: var(--secondary) var(--secondary-10);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          height: 4px;
        }
        &::-webkit-scrollbar-track {
          background: var(--secondary-10);
        }
        &::-webkit-scrollbar-thumb {
          background: var(--secondary);
        }
        &::-webkit-scrollbar-thumb:hover {
          opacity: 50%;
        }
        &--container {
          display: flex;
          justify-content: center;
          width: fit-content;
          margin: auto;
          .form-check {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 76px;
            padding: 0;
            input {
              display: none;
              &:checked ~ label {
                color: var(--tab-text-color--active);
                background-color: var(--tab-background-color--active);
                box-shadow: 0 3px 9px var(--tab-box-shadow-color--active);
              }
            }
            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 36px;
              padding-top: 3px;
              font-size: 14px;
              font-weight: 500;
              color: var(--tab-text-color);
              cursor: pointer;
              background-color: var(--tab-background-color);
              border-radius: var(--tab-border-radius);
              box-shadow: 0 1px 9px var(--tab-box-shadow-color);
            }
          }
        }
      }
    }
    &--time {
      .radio-btn-txt-seperated {
        height: 130px;
        overflow: auto;
        scrollbar-color: var(--secondary) var(--secondary-10);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-track {
          background: var(--secondary-10);
        }
        &::-webkit-scrollbar-thumb {
          background: var(--secondary);
        }
        &::-webkit-scrollbar-thumb:hover {
          opacity: 50%;
        }
        &--container {
          .form-check {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0;
            input {
              display: none;
              &:checked ~ label {
                color: var(--tab-text-color--active);
                background-color: var(--tab-background-color--active);
                box-shadow: 0 3px 9px var(--tab-box-shadow-color--active);
              }
            }
            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 36px;
              padding-top: 3px;
              font-size: 14px;
              font-weight: 500;
              color: var(--tab-text-color);
              cursor: pointer;
              background-color: var(--tab-background-color);
              border-radius: var(--tab-border-radius);
              box-shadow: 0 1px 9px var(--tab-box-shadow-color);
            }
          }
        }
      }
    }
  }
  &--description {
    &--det {
      margin-bottom: 6px;
      &--name {
        display: flex;
        align-items: center;
        h3 {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 700;
          color: var(--card-text-color);
          .required {
            color: var(--danger);
          }
        }
      }
      &--count {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          font-weight: 400;
          color: var(--secondary-70);
        }
      }
    }
    &--tx {
      textarea {
        height: 111px;
        resize: none;
      }
    }
  }
  &--check-box {
    display: flex;
    align-items: center;
    .wrap-label {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-left: 15px;
      font-size: 14px;
      font-weight: 400;
      color: var(--secondary);
    }
  }
  &--drop-down {
    &--det {
      margin-bottom: 6px;
      &--name {
        display: flex;
        align-items: center;
        h3 {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 700;
          color: var(--card-text-color);
          .required {
            color: var(--danger);
          }
          .guide {
            padding-bottom: 3px;
            padding-left: 7px;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 11px;
              height: 11px;
              padding-top: 1px;
              font-size: 9px;
              font-weight: 100;
              color: var(--primary-button-text-color);
              background-color: var(--secondary-70);
              border-radius: var(--circle-border-radius);
            }
          }
        }
      }
      &--count {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          font-weight: 400;
          color: var(--secondary-70);
        }
      }
    }
  }
  .additional-setting-btn {
    position: relative;
    width: fit-content;
    padding-top: 7px;
    i {
      position: absolute;
      left: 7px;
      font-size: 16px;
    }
  }
}
