@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.user-profile--det {
    &--container {
        .back-btn {
            i {
                margin-right: 15px;
                margin-bottom: 1px;
                font-size: 15px;

                &::before {
                    content: "\e017";
                }
            }
        }

        .inner-container {
            &--profile-pic {
                @include media("ap-1") {
                    max-width: 250px !important;
                    flex: 250px !important;
                }
                &--content {
                    position: relative;
                    display: block;
                    width: 200px;
                    height: 200px;
                    margin: auto;
                    background-color: var(--secondary-10);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    border-radius: 50%;

                    &.online {
                        &::after {
                            position: absolute;
                            top: 10px;
                            right: 20px;
                            display: block;
                            width: 32px;
                            height: 32px;
                            content: "";
                            background-color: var(--live-badge-bg-clr);
                            border-radius: 50%;
                        }
                    }

                    &.offline {
                        &::after {
                            position: absolute;
                            top: 10px;
                            right: 20px;
                            display: block;
                            width: 32px;
                            height: 32px;
                            content: "";
                            background-color: var(--primary);
                            border-radius: 50%;
                        }
                    }

                    .badge-content {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;

                        .speaker-btn {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: fit-content;
                            min-width: 104px;
                            height: 36px;
                            padding: 3px 5px;
                            margin: auto;
                            font-size: 14px;
                            font-weight: 400;
                            color: var(--light-clr);
                            background-color: var(--info);
                            border-radius: var(--border-radius);

                            span {
                                margin-top: 4px;
                            }

                            i {
                                margin-right: 5px;
                                margin-bottom: 1px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            &--main-det {
                @include media("ap-1") {
                    width: 85% !important;
                }
                @include media("ap-2") {
                    width: 80% !important;
                }
                @include media("ap-3") {
                    width: 75% !important;
                }
                @include media("ap-4") {
                    width: 65% !important;
                }
                &--biography {
                    p {
                        display: grid;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--secondary-80);

                        .read-or-hide {
                            font-size: 12px;
                            font-weight: 700;
                            color: var(--primary);
                            cursor: pointer;
                        }
                    }
                }

                &--title {
                    h2 {
                        font-size: 42px;
                        font-weight: 700;
                        color: var(--card-text-color);

                        @include media("xl") {
                            font-size: 30px;
                        }
                    }
                }

                &--major {
                    p {
                        font-size: 20px;
                        font-weight: 500;
                        color: var(--card-second-text-color);
                    }
                }

                &--mail {
                    span {
                        font-size: 14px;
                        font-weight: 700;
                        color: var(--primary);
                    }
                }

                &--tags {
                    .row {
                        @include media("mobile") {
                            justify-content: center;
                        }
                    }

                    &--item {
                        a {
                            text-decoration: none;
                            display: inline-grid;
                            align-content: center;
                            height: 26px;
                            padding: 0 15px;
                            padding-top: 2px;
                            font-size: 12px;
                            font-weight: 700;
                            color: var(--primary) !important;
                            user-select: none;
                            background-color: var(--primary-10);
                            border: 1px solid var(--primary);
                            border-radius: 17px;
                        }
                    }
                }
            }

            &--right-btn {
                position: absolute;
                top: 0;
                right: 0;
                @include media("mobtosmall") {
                    top: 45px;
                }
                &--content {
                    display: flex;
                    align-items: center;

                    button {
                        .popup {
                            position: absolute;
                            top: 35px;
                            right: 10px;
                            z-index: 4;
                            display: none;
                            width: 169px;
                            padding: 10px;
                            background-color: var(--light-clr);
                            border-radius: var(--border-radius);
                            box-shadow: 0 12px 38px var(--secondary-20);

                            &--inner {
                                &--item {
                                    padding: 2px 5px;
                                    text-align: left;

                                    a {
                                        display: flex;
                                        align-items: center;
                                        font-size: 12px;
                                        font-weight: 700;
                                        line-height: 30px;
                                        color: var(--secondary);

                                        i {
                                            font-size: 15px;
                                        }

                                        svg {
                                            width: 1.2em;
                                            margin-right: 5px;
                                            text-align: left;
                                        }
                                    }

                                    &.video-chat {
                                        a {
                                            i {
                                                &::before {
                                                    content: "\e007";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            & > .popup {
                                display: block;
                            }
                        }
                    }

                    a {
                        text-decoration: none;

                        i {
                            font-size: 17px;
                        }

                        &.get-contact {
                            i {
                            }
                        }

                        &.add-user-btn {
                            width: 36px;

                            i {
                            }
                        }
                    }
                }
            }

            &--portfolio {
                border-top: 1px solid var(--card-divider-color);

                @include media("xl") {
                    overflow: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                &--content {
                    display: flex;
                    align-items: center;

                    @include media("xl") {
                        width: fit-content;
                    }

                    &--item {
                        width: 14.28%;

                        @include media("xl") {
                            width: 190px;
                        }

                        border-right: 1px solid var(--card-divider-color);

                        &:last-child {
                            border-right: none;
                        }

                        a {
                            display: flex;
                            text-decoration: none;

                            i {
                                font-size: 20px;
                                font-weight: 500;
                                color: var(--card-text-color);
                            }

                            .det {
                                display: grid;

                                h3 {
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: var(--card-text-color);
                                }

                                span {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: var(--card-second-text-color);
                                }
                            }
                        }

                        &.followers {
                            i {
                                &::before {
                                    content: "\e00a";
                                }
                            }
                        }

                        &.following {
                        }

                        &.events {
                        }

                        &.sessions {
                            i {
                                font-weight: 600;
                            }
                        }

                        &.containers {
                            i {
                                font-weight: 600;
                            }
                        }

                        &.feeds {
                        }

                        &.favorite-feeds {
                        }
                    }
                }
            }
        }

        .job-title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .user-biography {
            white-space: pre-wrap;
        }
    }
}
