@import "../../../AppModule/assets/scss/variables";
$input-bg-clr: #EBF5F5;
$button-bg-clr: #36989C;
$button-hover-bg-clr: #2E8285;
$button-hover-fg-clr: #FFF;
$button-fg-clr: #FFF;
$button-border-color: transparent;
$button-hover-border-color: transparent;
$input-border-clr: #A7A7A7;
$input-bg: #FFF;
$input-clr: #051515;
$breadcrumbs-clr: #828A8A;
