@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.fa-speakers {
    &::before {
        content: '\e000' !important;
    }
}

.divider-right {
    border-right: 1px solid var(--secondary-30);
}

.create-session--speakers--container {
    height: 200px;
    overflow: auto;
    width: 100%;
    scrollbar-color: var(--secondary) var(--secondary-10);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 3px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: var(--secondary-10);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--secondary);
    }

    &::-webkit-scrollbar-thumb:hover {
        opacity: 50%;
    }

}

.create-session--speakers--header--name {
    h3 {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        color: var(--secondary);

        i {
            padding-right: 10px;
            padding-bottom: 8px;
            font-size: 22px;
            font-weight: 500;
        }

    }
}

.create-session--moderators--container--item {

    .avatar {
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        border-radius: var(--circle-border-radius);
    }

    .name-details {
        h3 {
            margin-bottom: 3px;
            font-size: 16px;
            font-weight: 500;
            color: var(--secondary);
        }

        p {
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 500;
            color: var(--secondary-70);
        }
    }

}