@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.event-detail-admin--days {
    &--container {
        .inner-container {
            display: flex;
            align-items: center;
            height: 100px;
            overflow: auto;
            margin-left: -5px;

            .swiper-container {
                padding: 10px 5px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            &--item {
                width: auto;
                @include media("mcbk-1") {
                    margin-right: 12px !important;
                }
                @include media("mcbk-2") {
                    margin-right: 12px !important;
                }

                a {
                    display: flex;
                    align-items: center;
                    min-width: 222px;
                    height: 76px;
                    padding: 10px;
                    background-color: var(--tab-background-color);
                    border-radius: var(--tab-border-radius);
                    box-shadow: 0 3px 9px var(--tab-box-shadow-color);
                    @include media("mcbk-1") {
                        min-width: 200px;
                        height: 70px;
                    }
                    @include media("mcbk-2") {
                        min-width: 190px;
                        height: 70px;
                    }

                    .num-day {
                        display: flex;
                        align-items: center;
                        height: 95%;
                        padding-right: 10px;
                        padding-left: 2px;
                        border-right: 1px solid var(--card-divider-color);

                        span {
                            display: block;
                            height: inherit;
                            margin-bottom: 5px;
                            font-size: 42px;
                            font-weight: 700;
                            color: var(--tab-text-color);
                            @include media("mcbk-1") {
                                margin-bottom: 0;
                                font-size: 35px;
                            }
                            @include media("mcbk-2") {
                                margin-bottom: 0;
                                font-size: 35px;
                            }
                        }
                    }

                    .date-day {
                        display: inline-grid;
                        padding: 0 13px;

                        &--dofw {
                            font-size: 20px;
                            font-weight: 700;
                            color: var(--tab-text-color);
                            @include media("mcbk-1") {
                                font-size: 17px;
                            }
                            @include media("mcbk-2") {
                                font-size: 17px;
                            }
                        }

                        &--dofy {
                            font-size: 12px;
                            font-weight: 500;
                            color: var(--tab-text-color);
                        }
                    }
                }

                &.active {
                    a {
                        background-color: var(--tab-background-color--active);
                        box-shadow: 0 3px 9px var(--tab-box-shadow-color--active);

                        .num-day {
                            span {
                                color: var(--primary);
                            }
                        }

                        .date-day {
                            &--dofw {
                                color: var(--primary);
                            }
                            &--dofy {
                                color: var(--tab-text-color--active);
                            }
                        }
                    }
                }
            }
        }
    }
}
