@import "./../../assets/scss/variables";

.light-label {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: $secondary;
    font-weight: 400;
    opacity: 0.7;
}

.input-letter-counter {
    font-size: 12px;
    line-height: 13px;
    color: $secondary;
    opacity: 0.5;
}

.input-wrap-pr {
    label{
        color: $secondary;
    }
    input {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: $border-radius;
        border: 1px solid $input-border-clr;
        background-color: $input-bg;
        color: $input-clr;
        &:focus{
            outline: unset !important
        }
    }
}