@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.swiper-container {
    width: 100%;
    display: flex;
}

.category-btn {
    height: auto;
    padding: 0 !important;
    border: none !important;
    &:hover,
    &:focus,
    &:active {
        border: none !important;
    }

    span {
        padding: 0 15px;
        border-radius: var(--border-radius);
    }
}
