@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.event-header-width {
    @include media("mobtosmall") {
        width: 100%;
    }
    @include media("smallmob3") {
        flex-direction: column;
    }
    .row {
        @include media("mobtosmall") {
            width: 85%;
        }
        @include media("smallmob3") {
            width: 100%;
        }
        .form-row {
            @include media("cg-1") {
                .col-6:nth-child(1) {
                    flex: 65%;
                    max-width: 65%;
                }
            }
            @include media("cg-1") {
                .col-6:nth-child(2) {
                    flex: 35%;
                    max-width: 35%;
                }
            }
        }
    }
    .switch-view {
        @include media("smallmob3") {
            justify-content: flex-start;
        }
    }
}

.conference-tags {
    display: inline-grid;
    align-content: center;
    height: 26px;
    padding: 0 15px;
    margin: auto 3px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary);
    background-color: var(--primary-10);
    border: 1px solid var(--primary);
    border-radius: var(--tag-border-radius);
}

.tabs-translation {
    .active {
        color: var(--primary) !important;
        background-color: var(--primary-20) !important;
        border-color: transparent !important;
    }

    .btn {
        text-transform: capitalize;

        i {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
        }
    }

    .en {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/en_flag.svg);
            background-size: 20px;
        }
    }

    .pt {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/pt_flag.svg);
            background-size: 20px;
        }
    }

    .it {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/it_flag.svg);
            background-size: 20px;
        }
    }

    .fr {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/fr_flag.svg);
            background-size: 20px;
        }
    }

    .de {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/de_flag.svg);
            background-size: 20px;
        }
    }
    .zh {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/zh_flag.svg);
            background-size: 20px;
        }
    }
}
