@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.event-header-width {
    @include media("mobtosmall") {
        width: 100%;
    }
}
.conference-tags {
    display: inline-grid;
    align-content: center;
    height: 26px;
    padding: 0 15px;
    margin: auto 3px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary);
    background-color: var(--primary-10);
    border: 1px solid var(--primary);
    border-radius: 25px;
}

.tabs-translation {
    .active {
        color: var(--primary) !important;
        background-color: var(--primary-20) !important;
        border-color: transparent !important;
    }

    .btn {
        text-transform: capitalize;

        i {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
        }
    }

    .en {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/en_flag.png);
            background-size: 20px;
        }
    }

    .it {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/it_flag.jpg);
            background-size: 20px;
        }
    }

    .fr {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/fr_flag.png);
            background-size: 20px;
        }
    }

    .de {
        i {
            background: url(../../../../../AppModule/components/AppFormTranslatable/assets/images/de_flag.png);
            background-size: 20px;
        }
    }
}
