@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

textarea.form-control {
    min-height: 111px;
    font-size: 14px;
    font-weight: 400;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    border: var(--input-border-width) solid var(--input-border-color) !important;
    border-radius: var(--input-border-radius);

    &:focus,
    &:active {
        color: var(--input-text-color);
        background-color: var(--input-background-color--focus);
        border-color: var(--input-border-color--focus) !important;
        border-width: var(--input-border-width--focus);
        box-shadow: unset;
    }
}

.form-label {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary);

    .counter {
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-80);
    }
}

.required {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #c31f27;
}

.counter {
    position: absolute;
    right: 0;
}

.custom-input {
    &-description {
        position: relative;
        cursor: pointer;

        &:hover > &-content {
            display: block;
        }

        span {
            padding: 0 5px;
            margin-left: 2px;
            font-size: 10px;
            color: #fff;
            background-color: #cad0dc;
            border: unset;
            border-radius: 50%;
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1060;
            display: none;
            min-width: 200px;
            max-width: 276px;
            padding: 0.5rem 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--input-text-color);
            text-align: left;
            text-align: start;
            background-color: var(--input-background-color);
            border: var(--input-border-width) solid var(--input-border-color);
            border-radius: var(--input-border-radiuss);
        }
    }
}
