@import "../../../SharedModule/assets/scss/screens-sizes";
@import "../../../SharedModule/assets/scss/variables";

.page-title {
    margin: 0 0 20px;

    h1 {
        font-size: 2.4rem;
        font-weight: 600;
        color: $primary;

        @include media("lg") {
            font-size: 2rem;
        }
    }
}
