@font-face {
    font-family: Sparta;
    src: url("../fonts/Spartan-VariableFont_wght.ttf");
}

@font-face {
    font-family: SpartaReqular;
    src: url("../fonts/Spartan-Regular.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("../fonts/Spartan-Black.ttf");
}

@font-face {
    font-family: SpartanBold;
    src: url("../fonts/Spartan-Bold.ttf");
}

@font-face {
    font-family: SpartanMedium;
    src: url("../fonts/Spartan-Medium.ttf");
}


@font-face {
    font-family: SpartanLight;
    src: url("../fonts/Spartan-Light.ttf");
}
