$site-content-width: 1024px;

$media-queries: (
    "mobile"    : "only screen and (max-width: 767px)",
    "tablet"    : "only screen and (min-width: 668px) and (max-width: $site-content-width)",
    "desktop"   : "only screen and (min-width: ($site-content-width + 1))",
    "xl"        : "only screen and (max-width: 1550px)",
    "lg"        : "only screen and (max-width: 1370px)",
    "md"        : "only screen and (max-width: 900px)",
    "retina2"   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
    "retina3"   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
    "landscape" : "screen and (orientation:landscape) ",
    "portrait"  : "screen and (orientation:portrait) ",
    "laptop-laptopl": "(max-width: 1460px) and (min-width: 992px)",
    "container-b-l": "only screen and (max-width: 992px)",
    "container-b-lw": "(max-width: 1142px) and (min-width: 992px)",
    "container-d-ts": "only screen and (max-width: 542px)",
    "4k": "only screen and (min-width: 1930px)",
    "lgv2": "only screen and (max-width: 1200px)",
    "fabuplap": "(max-width: 1640px) and (min-width: 1200px)",
    "fabuplap2": "(max-width: 1370px) and (min-width: 1200px)",
    "tabtomob" : "(max-width: 1100px) and (min-width: 576px)",
    "mobtosmall" : "only screen and (max-width: 575px)",
    "lapto4k" : "only screen and (min-width: 1550px)",
    "tabtolap2" : "(max-width: 1220px) and (min-width: 769px)",
);

@mixin media($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{map-get($media-queries, $breakpoint)},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}
