$input-bg-clr: #EBF5F5;
$button-bg-clr: #36989C;
$button-hover-bg-clr: #2E8285;
$button-hover-fg-clr: #FFF;
$button-fg-clr: #FFF;
$button-border-color: transparent;
$button-hover-border-color: transparent;

$input-border-clr: #A7A7A7;
$input-bg: #FFFFFF;
$input-clr: #051515;

// custom global variable
$widget-bg: #EBF5F5;
$text-color: #5A5A5A;
$bit-small-font-size: 90%;

// bootstrap color variable overwriting
$primary: #36989C !default;
$secondary: #051515;
$danger: #C31F27 !default;

// bootstrap general variable overwriting
$border-radius: 5px !default;
$font-family-sans-serif: "Sparta" !default;

// bootstrap input variable overwriting
$input-color: $text-color;
$input-bg: $widget-bg;
$input-line-height: 1.15 !default;
// use this variable to apply input forms padding independently
$input-padding: .85rem .75rem .65rem .75rem !default;
// use this variable to calculate input forms line-height
$input-padding-x: .75rem !default;
$input-padding-y: .75rem !default;

// bootstrap button variable overwriting
$btn-line-height: 1.15rem !default;
$btn-padding-x: .75rem !default;
$btn-padding-y: .75rem !default;


$checkbox-checked-bg: #36989C;
$checkbox-not-checked-bg: #D7EAEB;
$checkbox-toggler-not-checked-clr: #98CBCC;
$checkbox-toggler-checked-clr: #FCFCFC;
$checkbox-block-bg-clr: #F7FBFB;
$checkbox-block-border-radius: $border-radius;

