// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Use abbreviations as follow
//  background => bg
//  foreground => fg
//  button => btn
//  color => clr

//custom colors

:root {
    //font
    --font-family-title: "grotesque";
    --font-family-body: "grotesque";
    --font-family-button: "grotesque";

    // global colors
    --primary: #0052cc;
    --primary-10: #0052cc10;
    --primary-15: #0052cc15;
    --primary-20: #0052cc20;
    --primary-30: #0052cc30;
    --primary-40: #0052cc40;
    --primary-50: #0052cc50;
    --primary-60: #0052cc60;
    --primary-70: #0052cc70;
    --primary-80: #0052cc80;
    --primary-90: #0052cc90;
    --secondary: #444;
    --secondary-10: #44444410;
    --secondary-15: #44444415;
    --secondary-20: #44444420;
    --secondary-30: #44444430;
    --secondary-40: #44444440;
    --secondary-50: #44444450;
    --secondary-60: #44444460;
    --secondary-70: #44444470;
    --secondary-80: #44444480;
    --secondary-90: #44444490;
    --danger: #ff4365; // invalid messages and toast,
    --success: #2cda9d; // success toast,
    --info: #7ebde9; // attendee card, if user is speaker (button/badge with skyblue)
    --body-background-color: #ededed;
    --iframe-body-background-color: #edededcb;

    // widget/card variables
    --card-background-color: #fff;
    --card-text-color: #444;
    --card-second-text-color: #44444470;
    --card-border-radius: 5px;
    --card-box-shadow-color: #44444430;
    --card-divider-color: #44444420;
    --widget-sponsor-background-color: #e6eefa;

    // tabs
    --tab-border-radius: 5px;
    --tab-background-color: #fff;
    --tab-text-color: #444;
    --tab-box-shadow-color: #44444430;
    --tab-background-color--active: #e6eefa;
    --tab-text-color--active: #0052cc;
    --tab-box-shadow-color--active: #44444430;

    // inputs
    --input-background-color: #fff;
    --input-border-color: #44444470;
    --input-border-width: 1px;
    --input-border-radius: 5px;
    --input-text-color: #444; //  inherit secondary
    --input-placeholder-text-color: #a0b2c0;
    --input-background-color--focus: #fcfcfc;
    --input-border-color--focus: #a7a7a7;
    --input-border-width--focus: 2px;
    --input-background-color--disable: #fcfcfc;
    --input-border-color--disable: #a7a7a7;

    // select / dropdown
    --select-background-color: #fff;
    --select-text-color: #444;
    --select-border-color: #44444420;
    --select-box-shadow-color: #44444430;
    --select-border-width: 1px;
    --select-border-radius: 5px;
    --select-option-background-color: #fff;
    --select-option-text-color: #444;
    --select-option-background-color--hover: #0052cc10;
    --select-option-text-color--hover: #0052cc;

    // buttons
    --primary-button-background-color: #0052cc; // inherit primary color
    --primary-button-text-color: #fff;
    --primary-button-border-color: #fff;
    --primary-button-border-width: 1px;
    --primary-button-border-radius: 5px;
    --primary-button-box-shadow-color: #44444430;
    --primary-button-background-color--disable: #444;
    --primary-button-text-color--disable: #fff;
    --primary-button-border-color--disable: #fff;
    --primary-button-background-color--active: #0052cc;
    --primary-button-text-color--active: #fff;
    --primary-button-border-color--active: #fff;
    --secondary-button-background-color: #fff; // inherit primary color
    --secondary-button-text-color: #444;
    --secondary-button-border-color: #fff;
    --secondary-button-border-width: 1px;
    --secondary-button-border-radius: 5px;
    --secondary-button-box-shadow-color: #44444430;
    --secondary-button-background-color--disable: #444;
    --secondary-button-text-color--disable: #fff;
    --secondary-button-border-color--disable: #fff;
    --secondary-button-background-color--active: #fff; // for pagination
    --secondary-button-text-color--active: #444; // for pagination
    --secondary-button-border-color--active: #fff; // for pagination
    --danger-button-background-color: #ff4365;
    --danger-button-text-color: #fff;
    --danger-button-border-color: #ff4365;
    --danger-button-border-width: 1px;
    --danger-button-border-radius: 5px;
    --danger-button-box-shadow-color: #fff0;
    --danger-button-background-color--disable: #444;
    --danger-button-text-color--disable: #fff;
    --danger-button-border-color--disable: #fff;
    --danger-button-background-color--active: #ff4365;
    --danger-button-text-color--active: #fff;
    --danger-button-border-color--active: #ff4365;

    // navigation
    --navigation-background-color: #fff;
    --navigation-item-background-color: #fff;
    --navigation-item-text-color: #444;
    --navigation-item-icon-color: #444;
    --navigation-item-divider-color: #44444420;
    --navigation-item-background-color--active: #0052cc10;
    --navigation-item-text-color--active: #0052cc;
    --navigation-item-icon-color--active: #0052cc;
    --navigation-item-background-color--hover: #0052cc10;
    --navigation-item-text-color--hover: #0052cc;
    --navigation-item-icon-color--hover: #0052cc;

    // modal
    --modal-background-color: #fff;
    --modal-backdrop-background-color: #0052cc90;
    --modal-text-color: #444;
    --modal-border-radius: 5px;

    // ag-grid / table
    --table-header-background-color: #fff;
    --table-header-background-color--hover: #0052cc20;
    --table-divider-color: #0052cc30;
    --table-row-odd-background-color: #fff;
    --table-row-even-background-color: #fff;
    --table-row-text-color: #444;

    // toast
    --toast-background-color: #fff;
    --toast-border-radius: 5px;

    // default images
    --default-container-card-background: #44444410;
    --default-event-card-background: #44444410;
    --default-session-card-background: #44444410;
    --default-avatar: ""; // ?

    // tags
    --tag-border-radius: 17px;

    // PIP Player
    --pip-player-border-radius: 10px;

    // Image Drop Area
    --image-drop-area-border-style: "solid"; // ?
    --image-drop-area-border-width: 1px; // ?

    //static variable
    --light-clr: #fff;
    --circle-border-radius: 50%;
    --doc-icon-border-radius: 5px;
    --checkbox-border-radius: 1px;
    --scrollbar-background: #44444410;
    --message-in-box-fg-clr: #7ebde920;

    //future all
    --docx-i-bg-clr: #3b6cc7;
    --pdf-i-bg-clr: #c72424;
    --pptx-i-bg-clr: #f88703;
    --xls-i-bg-clr: #11824c;
    --file-icon-bg-clr: #fff;
    --live-badge-bg-clr: #2cda9d;
    --scrollbar-thumb: var(--primary);
    --countdown-timer-text-color: #fff;
    --online-badge-bg-clr: #2cda9d;
    //future // video call colors
    --video-call-bg-clr: #000;
    --video-call-grey-bg-clr: #444;
    --video-call-grey-bg-clr-opacity: #44444410;
    --video-call-transparent-bg-clr: transparent;
    --video-call-fg-clr: #fff;
    --dark-btn-bg-clr: #ffffff10;
    --dark-btn-fg-clr: #fff;
    --dark-btn-active-bg-clr: #fff;
    --dark-btn-active-fg-clr: #232323;
    --video-sc-thumb-bg-clr: #a0b2c0;
    --end-call-btn-bg-clr: #eb5757;
    --start-call-btn-bg-clr: #2cda9d;
    --members-box-bg-clr: #fff;
    --light-bg-clr-scrollbar: #fff;
    --sit-btn-bg-clr: #eb5757;
    --sit-btn-fg-clr: #fff;
    --non-video-bg-clr: #444;
    --overlay-option-bg-clr: #00000090;
}
