// custom global variable
$widget-bg: #EBF5F5;

// bootstrap color variable overwriting
$primary: #36989C;

// bootstrap general variable overwriting
$border-radius: 10px;

// bootstrap input variable overwriting
$input-color: #5A5A5A;

$input-bg: $widget-bg;
