@import "./variables";
@import "./screens-sizes";
@import "./fonts";
@import "~@sweetalert2/theme-bootstrap-4/bootstrap-4";

body {
    overflow: overlay;
    //font-family: var(--font-family-sans-serif);
    //@TODO Credit Suisse Customization -- start
    font-family: var(--font-family-body);
    //@TODO Credit Suisse Customization --end
    background-color: var(--body-background-color);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
    scrollbar-width: thin;

    &.app-in-iframe {
        background-color: var(--iframe-body-background-color) !important;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: var(--scrollbar-background);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
    }

    &::-webkit-scrollbar-thumb:hover {
        opacity: 100%;
    }

    .with-bg {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}
.swal2-container {
    z-index: 100000 !important;
    .swal2-actions {
        .swal2-loader {
            border-color: var(--primary) transparent var(--primary) transparent;
        }
    }

    .swal2-toast {
        display: block !important;
        width: 350px !important;
        padding: 15px !important;
        padding-left: 60px !important;
        background-color: var(--toast-background-color);
        border: none !important;
        border-radius: var(--toast-border-radius);
        box-shadow: 0 3px 9px var(--card-box-shadow-color);

        @include media("smallmob") {
            width: 270px !important;
        }

        .swal2-header {
            .swal2-icon {
                position: absolute;
                top: 18px;
                left: 15px;
                border: unset;

                > div,
                > span {
                    display: none;
                }

                &::after {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    font-family: "Font Awesome Kit";
                    font-size: 21px;
                    color: var(--light-clr);
                    background-color: var(--success);
                    border-radius: var(--circle-border-radius);
                }
            }

            .swal2-title {
                margin: 0 !important;
                font-size: 20px;
                font-weight: 700;
                color: var(--success);
            }
        }

        .swal2-content {
            padding: 0;
            text-align: left;

            .swal2-html-container {
                padding-top: 2px;
                font-size: 14px;
                font-weight: 400;
                color: var(--card-second-text-color);
            }
        }

        .swal2-actions {
            position: absolute;
            top: 5px;
            right: 10px;

            .swal2-confirm {
                font-size: 0;
                background-color: unset;

                &:hover {
                    background-image: unset;
                }

                &::after {
                    display: block;
                    font-family: "Font Awesome Kit";
                    font-size: 20px;
                    font-weight: 400;
                    color: var(--secondary);
                    content: "\e028";
                }
            }
        }

        &.swal2-icon-success {
            .swal2-icon {
                &::after {
                    content: "\e059";
                    background-color: var(--success);
                }
            }

            .swal2-title {
                color: var(--success);
            }
        }

        &.swal2-icon-error {
            .swal2-icon {
                &::after {
                    content: "\e028";
                    background-color: var(--danger);
                }
            }

            .swal2-title {
                color: var(--danger);
            }
        }
    }
}

a {
    text-decoration: none !important;
}

.badge-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.bottom-nav {
    @include media("not-mobile") {
        margin-bottom: 180px !important;
    }

    .app-grid-action,
    .footer-action {
        @include media("not-mobile") {
            bottom: 80px;
            left: 0;
            align-items: center;
            padding-left: 20px;
        }
    }
    @include media("not-mobile") {
        .app-message-inbox {
            bottom: 80px;
        }
    }
}
.top-nav {
    @include media("not-mobile") {
        margin-top: 70px !important;
    }
    .canvas-3d {
        top: -70px;
        margin-top: 0;
        @include media("mobile") {
            top: 25px !important;
            margin-top: -24px !important;
        }
    }
    .app-grid-action,
    .footer-action {
        @include media("not-mobile") {
            bottom: 0;
            left: 0;
            align-items: center;
            padding-left: 20px;
        }
    }
    @include media("not-mobile") {
        .app-message-inbox {
            bottom: 0;
        }
    }
}
.right-container {
    @include media("mobile") {
        width: 100%;
    }

    @include media("lr-1") {
        width: 75%;
    }

    @include media("lr-2") {
        width: 80%;
    }

    @include media("lr-3") {
        width: 83%;
    }

    @include media("lr-4") {
        width: 84%;
    }

    @include media("lr-5") {
        width: 87%;
    }

    @include media("lr-6") {
        width: 90%;
    }

    @include media("lr-7") {
        width: 92%;
    }
    .event-detail-admin--workshop {
        &--container {
            &--content {
                &--item {
                    &.xlarge-size {
                        .show-users {
                            @include media("ea-4") {
                                bottom: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// forms
.was-validated .form-control:valid,
.form-control.is-valid {
    background-image: none;
    border-color: var(--input-border-color);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
    border-color: inherit;
    box-shadow: inherit;
}

//Custom CSS Joshua for CS

.sidebar {
    .navbar {
        box-shadow: 0 3px 9px rgba(181, 181, 181, 0.52);
    }
}

.active-account-box--auth-form {
    .form-group {
        .agreement-box--inner {
            padding-right: 10px !important;
        }
    }
}

.auth-container {
    // background-color: #eee !important;
}
.ag-theme-alpine {
    font-family: var(--font-family-body);
    .ag-react-container {
        .alert-danger {
            color: var(--secondary);
            background-color: var(--secondary-10);
            border-color: var(--secondary);
        }
    }
}
.fr-box {
    .fr-wrapper {
        background-color: var(--input-background-color) !important;
        border-bottom: none !important;
    }
    .fr-second-toolbar {
        background-color: var(--input-background-color) !important;
    }
}
//badge styles
.badge {
    display: inline-grid;
    align-content: center;
    min-height: 26px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 700;
    color: var(--light-clr);
    border-radius: var(--tag-border-radius);
    &.badge-success {
        background-color: var(--success);
        border: 1px solid var(--success);
    }
    &.badge-danger {
        background-color: var(--danger);
        border: 1px solid var(--danger);
    }
}
