@import "../../../../assets/scss/screens-sizes";

.attendee-header-width {
    @include media("mobtosmall") {
        width: 100%;
    }
    .row {
        @include media("mobtosmall") {
            width: 80%;
        }
        .form-row {
            .col-6 {
                @include media("mobtosmall") {
                    flex: 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }
    .filter-button {
        padding-right: 10px !important;
        padding-left: 8px !important;
        i {
            padding-right: 8px;
        }
    }
}
.attendee-overview-page {
    .ag-cell {
        .email {
            font-size: 14px;
            font-weight: 700;
            color: var(--primary);
            text-decoration: none;
        }

        .ag-react-container {
            display: flex;
            align-items: center;

            .tag-container {
                &--item {
                    a {
                        display: inline-grid;
                        align-content: center;
                        width: unset !important;
                        height: 26px !important;
                        padding: 0 15px;
                        font-size: 12px;
                        font-weight: 700;
                        color: var(--primary);
                        cursor: initial !important;
                        user-select: none;
                        background-color: var(--primary-10);
                        border: 1px solid var(--primary);
                        border-radius: var(--tag-border-radius);
                    }

                    &.more {
                        a {
                            cursor: pointer !important;
                            background-color: unset;
                            border: none;
                            border-radius: none;
                        }
                    }
                }
            }

            .category-container {
                a {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    width: 100% !important;
                    height: 36px !important;
                    margin: auto;
                    padding: 0 12px;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--secondary-button-text-color);
                    background-color: var(--info);
                    border: 1px solid var(--primary);
                    border-radius: var(--secondary-button-border-radius);

                    svg {
                        margin-top: 4px;
                    }
                }
            }

            .actions {
                display: flex;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: unset !important;
                    margin-right: 4px !important;
                    color: #444;
                    box-shadow: 0 3px 9px #44444420;
                    border-radius: 5px;
                    padding: 0 14px;
                    font-size: 14px;
                    font-weight: 500;

                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .action-btn {
                    display: flex;
                    align-items: center;

                    a {
                        font-size: 14px;
                        font-weight: 500;
                        //font-family: var(--font-family-sans-serif);
                        //@TODO Credit Suisse Customization -- start
                        font-family: var(--font-family-body);
                        //@TODO Credit Suisse Customization --end
                        padding: 6px 12px !important;
                        height: 36px !important;
                        margin-right: 4px !important;
                    }
                }
            }
            a {
                display: flex;
                align-items: center;
            }

            .info {
                display: flex;
                align-items: center;

                &--profile-pic {
                    i {
                        display: block;
                        width: 36px;
                        height: 36px;
                        background-repeat: no-repeat;
                        background-size: cover !important;
                        border-radius: var(--circle-border-radius);

                        // &::after {
                        //     position: relative;
                        //     top: -3px;
                        //     left: 24px;
                        //     display: block;
                        //     width: 11px;
                        //     height: 11px;
                        //     content: "";
                        //     background-color: var(--online-badge-bg-clr);
                        //     border: 2px solid var(--border-border-radius-clr);
                        //     border-radius: var(--circle-border-radius);
                        // }
                    }
                }

                &--det {
                    h3 {
                        display: flex;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        color: var(--secondary);
                    }

                    p {
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: initial;
                        color: var(--secondary-70);
                    }
                }
            }
        }
        &.action-cell {
            justify-content: flex-end;
            overflow: unset;
            .btn {
                overflow: hidden;
                .popup {
                    position: absolute;
                    top: 35px;
                    z-index: 4;
                    display: none;
                    width: fit-content;
                    padding: 10px;
                    margin: auto;
                    background-color: var(--secondary-button-background-color);
                    border-radius: var(--secondary-button-border-radius);
                    box-shadow: 0 12px 38px var(--secondary-button-box-shadow-color);

                    &--inner {
                        &--item {
                            padding: 2px 5px;
                            text-align: left;

                            a {
                                display: flex;
                                align-items: center;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 30px;
                                color: var(--secondary-button-text-color);

                                i {
                                    font-size: 15px;
                                }

                                svg {
                                    width: 1.2em;
                                    margin-right: 5px;
                                    text-align: left;
                                }
                            }

                            &.video-chat {
                                a {
                                    i {
                                        &::before {
                                            content: "\e007";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover {
                    & > .popup {
                        display: block;
                    }
                }
            }
        }
    }
    .action-header {
        .ag-header-cell-label {
            justify-content: center;
        }
    }
}

.off-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 100vh;
    background-color: var(--modal-background-color);
    box-shadow: -11px 0 20px 7px var(--card-box-shadow-color);
    .header {
        &--title {
            h2 {
                font-size: 17px;
                font-weight: 600;
                color: var(--modal-text-color);
            }
        }
        &--close {
            position: absolute;
            top: 22px;
            right: 25px;
            i {
                font-size: 20px;
                color: var(--modal-text-color);
                cursor: pointer;
            }
        }
    }
    .form-label {
        margin-bottom: 13px;
    }
    .custom-select__indicators {
        position: absolute;
        top: -40px;
        right: 0;
        flex-direction: row-reverse;
        .custom-select__indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            padding: 0px !important;
            margin-left: 10px;
            color: var(--secondary-button-text-color);
            background-color: var(--secondary-button-background-color);
            border-radius: var(--secondary-button-border-radius);
            box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
        }
    }
}
.filter.custom-select-tag-container {
    background-color: transparent;
    box-shadow: none;
    > div {
        display: flex;
        background-color: transparent;
        box-shadow: none;
    }
}
