@import "./../../../../../AppModule/assets/scss/screens-sizes";

.attendees-grid {
    &--container {
        &--item {
            @include media("mcbk-1") {
                padding-right: 12px !important;
                padding-left: 12px !important;
            }
            @include media("mcbk-2") {
                max-width: 20% !important;
                padding-right: 12px !important;
                padding-left: 12px !important;
            }
            @include media("ea-4") {
                max-width: 20% !important;
                padding-right: 12px !important;
                padding-left: 12px !important;
            }
            .card {
                margin-bottom: 30px;

                &--icons {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    z-index: 1;

                    &--favorite {
                        margin-bottom: 8px;

                        a {
                            width: 36px;
                            height: 36px;
                            padding: 8px !important;

                            i {
                                margin: auto;
                                font-size: 19px;
                                font-weight: 500;
                            }
                        }
                    }

                    &--vcf {
                        a {
                            width: 36px;
                            height: 36px;
                            font-size: 12px;
                            font-weight: 700;

                            i {
                                font-style: normal;
                            }
                        }
                    }
                }

                &--avatar {
                    min-height: 206px;
                    @include media("mcbk-1") {
                        min-height: 135px;
                    }
                    @include media("mcbk-2") {
                        min-height: 135px;
                    }
                    .profile-avatar {
                        i {
                            position: relative;
                            display: block;
                            width: 185px;
                            height: 185px;
                            margin: auto;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            border-radius: var(--circle-border-radius);
                            @include media("mcbk-1") {
                                width: 125px;
                                height: 125px;
                            }
                            @include media("mcbk-2") {
                                width: 125px;
                                height: 125px;
                            }
                        }

                        &.online {
                            i {
                                &::after {
                                    position: absolute;
                                    top: 10px;
                                    right: 20px;
                                    display: block;
                                    width: 32px;
                                    height: 32px;
                                    content: "";
                                    background-color: var(--primary);
                                    border-radius: var(--circle-border-radius);
                                }
                            }
                        }
                    }

                    .speaker-btn {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        min-width: 104px;
                        height: 36px;
                        padding: 3px 5px;
                        margin: auto;
                        margin-top: -30px;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--light-clr);
                        background-color: var(--info);
                        border-radius: var(--secondary-button-border-radius);
                        @include media("mcbk-1") {
                            height: 30px;
                            font-size: 13px;
                        }
                        @include media("mcbk-2") {
                            height: 30px;
                            font-size: 13px;
                        }

                        i {
                            margin-right: 5px;
                            margin-bottom: 1px;
                            font-size: 20px;
                            @include media("mcbk-1") {
                                font-size: 17px;
                            }
                            @include media("mcbk-2") {
                                font-size: 17px;
                            }
                        }
                    }
                }

                &--title {
                    &--name {
                        h2 {
                            display: -webkit-box;
                            height: 25px;
                            overflow: hidden;
                            //font-family: var(--font-family-sans-serif);
                            //@TODO Credit Suisse Customization -- start
                            font-family: var(--font-family-body);
                            //@TODO Credit Suisse Customization --end
                            font-size: 20px;
                            font-weight: 700;
                            color: var(--card-text-color);
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            @include media("mcbk-1") {
                                font-size: 17px;
                            }
                            @include media("mcbk-2") {
                                font-size: 17px;
                            }
                        }
                    }

                    &--bio {
                        display: -webkit-box;
                        height: 60px;
                        overflow: hidden;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--card-second-text-color);
                        -webkit-box-orient: vertical;
                        @include media("mcbk-1") {
                            font-size: 13px;
                        }
                        @include media("mcbk-2") {
                            font-size: 13px;
                        }
                        p {
                            color: var(--card-second-text-color);
                        }
                    }

                    &--mail {
                        display: -webkit-box;
                        height: 40px;
                        overflow: hidden;
                        font-size: 14px;
                        font-weight: 700;
                        color: var(--primary);
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        word-break: break-all;
                        @include media("mcbk-1") {
                            font-size: 13px;
                        }
                        @include media("mcbk-2") {
                            font-size: 13px;
                        }
                    }
                }

                &--tags {
                    min-height: 65px;

                    .row {
                        justify-content: center;
                    }

                    &--item {
                        text-align: center;

                        a {
                            display: inline-grid;
                            align-content: center;
                            min-height: 26px;
                            padding: 0 15px;
                            margin: 0 3px;
                            font-size: 12px;
                            font-weight: 700;
                            color: var(--primary) !important;
                            cursor: initial !important;
                            user-select: none;
                            background-color: var(--primary-10);
                            border: 1px solid var(--primary);
                            border-radius: var(--tag-border-radius);
                        }

                        &.show-more {
                            a {
                                background-color: var(--secondary-button-background-color);
                                border: none;
                            }
                        }
                    }
                }

                &--buttons {
                    &--book-session {
                        display: flex;
                        justify-content: center;

                        button {
                            width: 100%;
                            height: max-content;
                            min-height: 36px;
                            padding: 0 5px !important;

                            svg,
                            i {
                                padding-bottom: 0;
                                margin-right: 10px;
                                font-size: 18px;
                                font-weight: 500;

                                &::before {
                                    content: "\e01a";
                                }
                            }
                        }
                    }

                    &--get-in-contact {
                        display: flex;
                        justify-content: center;

                        button {
                            width: 100%;
                            height: max-content;
                            min-height: 36px;
                            padding: 0 5px !important;

                            svg,
                            i {
                                padding-bottom: 0;
                                margin-right: 10px;
                                font-size: 18px;
                                font-weight: 500;
                            }

                            .popup {
                                position: absolute;
                                top: 35px;
                                z-index: 4;
                                display: none;
                                width: fit-content;
                                margin: auto;
                                &--inner {
                                    margin-top: 15px;
                                    overflow: hidden;
                                    background-color: var(--select-background-color);
                                    border: var(--select-border-width) solid var(--select-border-color);
                                    border-radius: var(--select-border-radius);
                                    box-shadow: 2px 12px 38px var(--select-box-shadow-color);
                                    &--item {
                                        text-align: left;

                                        a {
                                            display: flex;
                                            align-items: center;
                                            padding: 7px 10px;
                                            padding-bottom: 3px;
                                            font-size: 12px;
                                            font-weight: 700;
                                            line-height: 30px;
                                            color: var(--select-option-text-color);
                                            background-color: var(--select-option-background-color);

                                            i {
                                                font-size: 18px;
                                            }

                                            svg {
                                                width: 1.2em;
                                                margin-right: 5px;
                                                text-align: left;
                                            }
                                            &:hover {
                                                color: var(--select-option-text-color--hover);
                                                background-color: var(--select-option-background-color--hover);
                                            }
                                        }

                                        &.video-chat {
                                            a {
                                                i {
                                                    &::before {
                                                        content: "\e007";
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &:hover {
                                & > .popup {
                                    display: block;
                                }
                            }
                        }
                    }

                    .btn-secondary {
                        font-size: 12px !important;
                        box-shadow: 0 3px 7px var(--secondary-20);
                    }
                }

                .job-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}
