@import "../../../../../AppModule/assets/scss/variables";
@import "../../../../../AppModule/assets/scss/screens-sizes";
.live-vote-result-header-button {
  .download-btn {
    position: relative;
    i {
      position: absolute;
      left: 5px;
      &::before {
        content: "\e07b";
      }
    }
  }
}
.live-vote-add-edit-page {
  .action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-button-text-color);
    background-color: var(--secondary-button-background-color);
    border: 1px solid var(--secondary-button-border-color);
    border-radius: var(--secondary-button-border-radius);
    box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
  }

  .vote-option-card {
    background-color: var(--primary-30) !important;
  }
}
.live-voting-result--chart-action-bar {
  .show-full {
    width: 36px;
  }
  .switch-view {
    display: flex;
    justify-content: flex-end;
    &--content {
      display: flex;
      width: fit-content;
      height: fit-content;
      background-color: var(--secondary-button-background-color);
      border: var(--secondary-button-border-width) solid var(--secondary-button-border-color);
      border-radius: var(--secondary-button-border-radius);
      box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin: 6px;
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-button-text-color);
        cursor: pointer;
        border-radius: var(--secondary-button-box-shadow-color);

        &.active-view {
          color: var(--primary) !important;
          background-color: var(--primary-20);
        }

        &:hover {
          color: var(--secondary-button-text-color);
        }
      }
    }
  }
}

.live-voting-result {
  min-height: 100vh;
  &--header {
    &--action {
      .download-btn {
        padding-top: 10px;
        i {
          padding-bottom: 3px;
          font-size: 16px;
          &::before {
            content: "\e07b";
          }
        }
      }
    }
  }
  &--tabs {
    width: 300px;
    nav {
      .nav-tabs {
        background-color: var(--tab-background-color);
        border-bottom: none;
        border-radius: var(--tab-border-radius);
        box-shadow: 0 3px 9px var(--tab-box-shadow-color--active);
        .nav-link {
          width: 150px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 500;
          color: var(--tab-text-color);
          text-align: center;
          border: none;
          border-radius: unset;
          &.active {
            color: var(--tab-text-color--active);
            background-color: var(--tab-background-color--active);
            border: none;
          }
          @include media("smallmob2") {
            width: auto;
          }
        }
      }
    }
  }
  &--chart {
    .header {
      &--title {
        display: flex;
        align-items: center;
        h2 {
          font-size: 20px;
          font-weight: 700;
          color: var(--secondary);
          i {
            font-weight: 500;
          }
        }
      }
      &--action {
        .radio-btn-dataview {
          .horizontal-type {
            i {
              &::before {
                transform: rotate(90deg);
              }
            }
          }
        }
        .show-full {
          width: 36px;
          i {
            font-size: 18px;
          }
        }
      }
    }
    .chart-box {
      img {
        border-radius: var(--border-radius);
      }
    }
  }
  &--list {
    .header {
      &--title {
        display: flex;
        align-items: center;
        h2 {
          font-size: 20px;
          font-weight: 700;
          color: var(--secondary);
          i {
            font-weight: 500;
          }
        }
      }
    }
    .table-responsive {
      min-height: 65vh;
      .tab-content {
        width: 100%;
        height: 100%;
        .tab-pane {
          width: 100%;
          height: 100%;
        }
      }
    }
    .ag-root-wrapper-body {
      height: auto !important;
    }
    .ag-body-horizontal-scroll {
      background-color: var(--card-background-color);
    }
    .ag-cell {
      &.name-cell {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
        }
        .info {
          display: flex;
          align-items: center;
          &--profile-pic {
            i {
              display: block;
              width: 36px;
              height: 36px;
              background-repeat: no-repeat;
              background-size: contain;
              border-radius: var(--circle-border-radius);
            }
          }
          &--det {
            h3 {
              font-size: 14px;
              font-weight: 500;
              color: var(--secondary);
            }
          }
        }
      }
      &.members-cell {
        color: var(--primary);
        cursor: pointer;
      }
      &.action-cell {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        div {
          display: flex;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            box-shadow: 0 3px 9px var(--secondary-20);
            &:active {
              box-shadow: 0 3px 9px var(--secondary-20) !important;
            }
            &:focus {
              box-shadow: 0 3px 9px var(--secondary-20) !important;
            }
            i {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
            }
          }
        }
      }
    }

    .ag-theme-alpine {
      padding: 5px 15px;
      background-color: var(--card-background-color);
      border-radius: var(--card-border-radius);
      .ag-sort-ascending-icon,
      .ag-sort-descending-icon {
        position: relative;
        display: block !important;
        color: var(--primary) !important;

        &.ag-hidden {
          opacity: 0;
        }
      }
      .ag-sort-ascending-icon:not(.ag-hidden) {
        & + .ag-hidden {
          color: var(--primary) !important;
        }
      }
      .ag-sort-descending-icon:not(.ag-hidden) {
        & + .ag-hidden {
          color: var(--primary) !important;
        }
      }
      .ag-hidden {
        color: var(--secondary) !important;
      }
      .ag-icon-desc {
        position: absolute;
        bottom: -7px;
        left: -6px;
        &::before {
          //content: "\f128" !important;
        }
      }
      .ag-icon-asc {
        position: absolute;
        top: -11px;
        left: 0;
        &::before {
          //content: "\f12b" !important;
        }
      }
      .ag-icon {
        // required because Font Awesome uses bold for its icons
        font-weight: 300;
      }
      .ag-header-cell-sorted-none .ag-sort-descending-icon {
        opacity: 1 !important;
      }
      .ag-root-wrapper {
        border: 0 !important;
      }
      .ag-center-cols-container {
        .ag-row {
          &:hover {
            background-color: var(--light-clr);
          }
          //height: 60px !important;
          .ag-cell {
            font-size: 14px;
            line-height: 60px;
            &:focus {
              border-color: var(--light-clr);
            }
            a {
              text-decoration: none;
            }
          }
          .ag-cell-focus {
            border-color: var(--light-clr) !important;
          }
          .ag-cell:first-child {
            font-weight: 500;
          }
        }
      }
      .ag-header {
        background-color: var(--table-header-background-color);
        border-bottom: none !important;
        .ag-header-cell {
          .ag-header-cell-label {
            font-size: 12px;
            font-weight: 400;
            color: var(--table-row-text-color);
            opacity: 0.6;
          }
          &.action-header {
            .ag-header-cell-label {
              justify-content: flex-end;
            }
          }
        }
        .ag-header-cell-sorted-asc,
        .ag-header-cell-sorted-desc {
          .ag-header-cell-label {
            opacity: 1;
          }
        }
        &.name-header {
          margin-left: 45px;
        }
      }
    }
  }
}
