@import "./variables";
.edit {
    &-client {
        margin-top: 24px;

        .input-wrap-pr {
            @media screen and (min-width: 1200px) {
                padding-right: 43px;
            }

        }
    }
    &-client-packages {
        .custom-checkbox {
            padding: 10px 14px;
        }
    }
    &-client-footer-wrap {
        padding: 0 10px;
        margin-top: 44px;
    }
    &-client-footer {
        bottom: 0;
        padding: 45px 20px;
        border-top: 2px solid $divider-clr;

        .btn {
            font-size: 16px;
            line-height: 18px;
        }
        .btn-secondary {
            padding: 15px 36px 11px;
            margin-right: 0;

            @media screen and (min-width: 576px)  {
                margin-right: 42px;
            }
        }
        .btn-primary {
            padding: 15px 82px 11px;
        }
    }
}
