@import "../../../AppModule/assets/scss/variables";

$info-section-background-overlay-first-color: #36999CAD;
$info-section-background-overlay-second-color: #36889CA4;
$info-section-foreground-color: #FFF;

$secondary-button-background-color: transparent;
$secondary-button-hover-background-color: #36989C;
$secondary-button-foreground-color: #36989C;
$secondary-button-hover-foreground-color: #36989C;
$secondary-button-hover-border-color: transparent;
$secondary-button-border-color: #36989C;
$header-title-color: #808080;
