@import "../../../../assets/scss/variables";

.btn {
    font-size: 14px !important;
    line-height: 36px !important;
    padding: 0 20px !important;
}

.btn-secondary {
    display: flex !important;
    align-items: center;
    height: 36px;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: var(--btn-secondary-fg-clr) !important;
    background-color: var(--btn-secondary-bg-clr) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    box-shadow: 0 -7px 40px var(--secondary-20);

    &:hover {
        color: var(--btn-secondary-fg-clr) !important;
        background-color: var(--btn-secondary-bg-clr) !important;
    }

    &:active {
        color: var(--btn-secondary-fg-clr) !important;
        background-color: var(--btn-secondary-bg-clr) !important;
    }

    &:focus {
        background-color: var(--btn-secondary-bg-clr) !important;
        box-shadow: none !important;
    }
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-weight: 500;
    color: var(--secondary);
    border-radius: var(--border-radius);
    box-shadow: 0 3px 9px var(--box-shadow-box-clr);
    background-color: #fff;
    font-size: 14px !important;
    line-height: 10px !important;

    &:hover {
        color: var(--secondary);
    }
}