@import "../../../../assets/scss/variables";

.btn {
    //@TODO Credit Suisse Customization -- start
    font-family: var(--font-family-button);
    //@TODO Credit Suisse Customization -- end
    padding: 0 20px !important;
    font-size: 14px !important;
    line-height: 36px !important;
}

.btn-secondary {
    display: flex !important;
    align-items: center;
    height: 36px;
    justify-content: center;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: var(--secondary-button-text-color) !important;
    background-color: var(--secondary-button-background-color) !important;
    border: var(--secondary-button-border-width) solid var(--secondary-button-border-color) !important;
    border-radius: var(--secondary-button-border-radius) !important;
    box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color) !important;

    &:focus,
    &:active,
    &:hover {
        color: var(--secondary-button-text-color--active) !important;
        background-color: var(--secondary-button-background-color--active) !important;
        border: var(--secondary-button-border-width) solid var(--secondary-button-border-color--active) !important;
        box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
    }
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 10px !important;
    color: var(--primary-button-text-color) !important;
    background-color: var(--primary-button-background-color) !important;
    border: var(--primary-button-border-width) solid var(--primary-button-border-color) !important;
    border-radius: var(--primary-button-border-radius) !important;
    box-shadow: 0 3px 9px var(--primary-button-box-shadow-color) !important;

    &:focus,
    &:active,
    &:hover {
        color: var(--primary-button-text-color--active) !important;
        background-color: var(--primary-button-background-color--active) !important;
        border: var(--primary-button-border-width) solid var(--primary-button-border-color--active) !important;
    }
}
.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 10px !important;
    color: var(--danger-button-text-color) !important;
    background-color: var(--danger-button-background-color) !important;
    border: var(--danger-button-border-width) solid var(--danger-button-border-color) !important;
    border-radius: var(--danger-button-border-radius) !important;
    box-shadow: 0 3px 9px var(--danger-button-box-shadow-color) !important;

    &:focus,
    &:active,
    &:hover {
        color: var(--danger-button-text-color--active) !important;
        background-color: var(--danger-button-background-color--active) !important;
        border: var(--danger-button-border-width) solid var(--danger-button-border-color--active) !important;
    }
}

.btn-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 10px !important;
    color: var(--primary-button-background-color--active) !important;

    &:focus,
    &:active,
    &:hover {
        color: var(--primary-button-background-color--active) !important;
        box-shadow: unset !important;
        outline: unset !important;
    }
}
