@import "../../../../assets/scss/screens-sizes";
@import "../../../../assets/scss/variables";

.exhibitors-products {
    &--content {
        &--item {
            .inner-content {
                &--pic {
                    a {
                        i {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 180px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                    }
                }
                &--title {
                    a {
                        h2 {
                            display: -webkit-box;
                            height: 59px;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 28px;
                            color: var(--card-text-color);
                        }
                    }
                }
                &--desc {
                    p {
                        display: -webkit-box;
                        height: 53px;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18px;
                        color: var(--card-second-text-color);
                    }
                }
                &--category {
                    height: 120px;
                    a {
                        h3 {
                            display: -webkit-box;
                            height: 27px;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 28px;
                            color: var(--card-second-text-color);
                        }
                    }

                    .conference-tags-container {
                        &--title {
                            h3 {
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                                font-weight: 700;
                                color: var(--card-text-color);
                                word-break: break-word;
                                i {
                                    position: relative;
                                    padding-right: 10px;
                                    font-size: 20px;
                                }
                            }
                        }
                        &--tags {
                            height: 65px;
                            overflow: hidden;
                            .conference-tags {
                                margin: 3px;
                            }
                        }
                    }
                }
                &--price {
                    display: -webkit-box;
                    height: 32px;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 28px;
                    color: var(--card-text-color);
                    span {
                    }
                }
                &--buttons {
                    height: 90px;
                }
            }
            &.product {
                .inner-content {
                    &--pic {
                        i.poster {
                            background-image: url("../../../../assets/images/imgthumb.svg");
                        }
                    }

                    &--icons {
                        position: absolute;
                        right: 15px;
                        margin-left: auto;

                        span,
                        a {
                            margin-left: 6px;
                            cursor: pointer;

                            i {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                width: 36px;
                                height: 36px;
                                padding-bottom: 2px;
                                font-size: 18px;
                                font-weight: 500;
                                color: var(--secondary-button-text-color);
                                background-color: var(--secondary-button-background-color);
                                border: 1px solid var(--secondary-button-border-color);
                                border-radius: var(--secondary-button-border-radius);
                                box-shadow: 0 3px 9px var(--secondary-button-box-shadow-color);
                            }

                            &.add-favorite {
                                &.active {
                                    i {
                                        color: var(--primary);
                                    }
                                }
                            }
                        }
                    }
                }
                .edit-users--popup {
                    &.show-users {
                        left: 0;
                        width: 100%;
                        height: auto;
                        border-radius: var(--card-border-radius);
                        .content {
                            height: 260px;
                            &--inner {
                                &--item {
                                    .row {
                                        padding-right: 0 !important;
                                    }
                                    .create-session--docs--container--item {
                                        display: flex;
                                        align-items: center;
                                        .left-content {
                                            width: 85%;
                                            .doc-row {
                                                align-items: center;
                                            }
                                            .doc-title {
                                                font-size: 14px;
                                                font-weight: 400;
                                                color: var(--card-text-color);
                                            }
                                        }
                                        .btn-download {
                                            width: 36px;
                                            margin-right: 0;
                                            margin-left: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
