@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.onboarding {
    .custom-select {
        &-container,
        &__control,
        &__value-container,
        &__input {
            align-content: center;
            height: 36px;
            input {
                height: 22px;
            }
        }
    }

    .onboarding-sectoin {
        font-size: 18px;
        font-weight: 700;
        color: var(--card-text-color);
    }

    .dropzone {
        width: 150px;
        height: 150px;
        margin: 10px auto;
        border-radius: 50%;

        .image-container {
            width: 145px;
            height: 145px;
            border-radius: 50%;
        }
    }
}
