@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/screens-sizes";

.onboarding {
    .custom-select {

        &-container,
        &__control,
        &__value-container,
        &__input {
            height: 36px;

            input {
                height: 22px;

            }

        }
    }

    .dropzone {

        margin: 10px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;

        .image-container {
            width: 145px;
            height: 145px;
            border-radius: 50%;
        }
    }
}