.exhibitors-header {
    overflow: hidden;
    &--detail {
        &--left-buttons {
            .back-btn {
                position: relative;
                padding-left: 30px !important;
                white-space: nowrap;
                i {
                    position: absolute;
                    left: 10px;
                    &::before {
                        content: "\e017";
                    }
                }
            }
        }
        &--right-buttons {
            .edit-btn {
                width: 36px;
                i {
                    font-size: 18px;
                }
            }
        }
        &--title {
            h1 {
                font-size: 42px;
                font-weight: 700;
                line-height: 50px;
                color: var(--card-text-color);
            }
        }
    }
    &--banner {
        .sponsor {
            position: absolute;
            bottom: 20px;
            left: 20px;
            display: flex;
            align-items: center;
            width: 160px;
            height: 90px;
            overflow: hidden;
            border-radius: var(--card-border-radius);
            i {
                display: block;
                width: inherit;
                height: 100%;
                background-color: var(--light-clr);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        img {
            width: inherit;
            min-height: 120px;
        }
    }
}

.exhibitor-detail {
    &--desc {
        h3 {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
            color: var(--card-text-color);
            word-break: break-word;
            i {
                padding-bottom: 5px;
                font-size: 22px;
                font-weight: 500;
            }
        }
    }
    &--video {
        h3 {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
            color: var(--card-text-color);
            word-break: break-word;
            i {
                padding-bottom: 5px;
                font-size: 22px;
                font-weight: 500;
            }
        }
    }
    &--members {
        .create-session--speakers--header {
            .create-session--speakers--header--name {
                h3 {
                    word-break: break-word;
                }
            }
        }
        .create-session--speakers--container {
            height: auto;
            margin-top: 15px;
            .create-session--moderators--container--item {
                margin-top: 7px !important;
            }
        }
        .inner-container--det--content--more {
            margin-top: 10px;
            a {
                font-size: 14px;
                font-weight: 500;
                color: var(--primary);
                text-decoration: none;
            }
        }
        &:after {
            position: absolute;
            top: 5%;
            right: 10px;
            width: 0.5px;
            height: 80%;
            content: "";
            background-color: var(--card-divider-color);
            opacity: 0.5;
        }
    }
    &--contact {
        h3 {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
            color: var(--card-text-color);
            word-break: break-word;
            i {
                padding-bottom: 5px;
                font-size: 22px;
                font-weight: 500;
            }
        }
        .custom-contact-item {
            margin-bottom: 20px;
            &--content {
                i {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--card-second-text-color);
                }
                p {
                    font-size: 12px;
                    font-weight: 700;
                    color: var(--card-text-color);
                }
            }
        }
        .social-icons {
            .btn {
                width: 36px;
            }
        }
        .contact-btn {
            position: relative;
            height: auto;
            min-height: 36px;
            padding-left: 35px !important;
            i {
                position: absolute;
                left: 7px;
                font-size: 18px;
            }
        }
    }
    .stream-player {
        iframe {
            width: 100% !important;
            height: 600px;
        }
        video {
            width: 100% !important;
            height: 100%;
        }
    }
    .fa-video:before {
        content: "\e007";
    }
}
