.exhibitors-header {
    &--detail {
        &--buttons {
            .back-btn {
                i {
                    &::before {
                        content: "\e017";
                    }
                }
            }
        }
        &--title {
            h1 {
                font-size: 42px;
                font-weight: 700;
                line-height: 50px;
                color: var(--card-text-color);
            }
        }
    }
    &--banner {
        .sponsor {
            position: absolute;
            bottom: 20px;
            left: 20px;
            display: flex;
            align-items: center;
            width: 160px;
            height: 90px;
            overflow: hidden;
            border-radius: var(--card-border-radius);
            i {
                display: block;
                width: inherit;
                height: 100%;
                background-color: var(--light-clr);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        img {
            width: inherit;
            min-height: 120px;
        }
    }
}

.exhibitor-detail {
    .stream-player {
        iframe {
            width: 100% !important;
            height: 600px;
        }
        video {
            width: 100% !important;
            height: 100%;
        }
    }
    .fa-video:before{
        content: "\e007";
    }
}