@import "../../../../assets/scss/variables";

.form-group {
    .show-password {
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        width: 36px;
        height: 36px;
        color: var(--input-fg-clr);
        cursor: pointer;

        svg {
            margin: auto;
            color: var(--input-fg-clr);
        }
    }

    .show-password.invalid {
        right: 30px;
    }
}
