.waveformContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 20px;
  width: 100%;
  background: transparent;
  justify-content: space-between;
  .playButton {
    position: relative;
    .range {
      display: block;
      position: absolute;
      bottom: 40px;
      left: 5px;
      .volumeRange {
        position: relative;
        input {
          position: absolute;
          transform: rotate(270deg);
          left: -50px;
          bottom: 42px;

        }
      }
    }
    .disableRange {
      display: none;
    }
    i {
      font-size: 28px;
      margin: 0 5px;
      color: var(--navigation-item-text-color);
      &:hover {
        color: var(--navigation-item-text-color--hover) !important;
        cursor: pointer;
      }
    }
  }
  .wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    .wave {
      width: 100%;
      height: 40px;
      margin-top: 0;
    }
  }
  img {
    width: 100%;
  }
  #audio-canvas {
    width: 100%;
  }
  &.not-playing {
    canvas {
      display: none;
    }
  }
}
