@import "./../../../AppModule/assets/scss/variables";
@import "./../../../AppModule/assets/scss/screens-sizes";

.waveformContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  min-height: 50px;
  background-color: var(--background-music-player-background-color);
  border-radius: 5px;
  @include media("mcbk-1") {
    min-height: 40px;
  }
  @include media("mcbk-2") {
    min-height: 40px;
  }
  &.not-playing {
    canvas {
      display: none;
      margin-bottom: 20px;
      margin-right: 2px;
    }
  }
  .img-wrapper {
    margin: 0 10px;
    img {
      width: 100%;
    }
  }
  .playButton {
    width: 25px;
    padding-top: 3px;
    .range {
      display: block;
      .volumeRange {
        position: relative;
        div {
          position: absolute;
          transform: rotate(270deg);
          right: -75px;
          bottom: 70px;
          background-color: var(--background-music-player-background-color);
          border-radius: 5px;
          box-shadow: 0 12px 38px rgba(155, 167, 186, 0.5);
          padding: 5px;
          z-index: 10000;
          input[type="range"] {
            width: 75px;
            margin: 0 10px;
          }
        }
        .btn-volume {
          flex-direction: row-reverse;
          display: flex;
          justify-content: center;
          height: 50px;
          width: 150px;
          i {
            margin: 10px 0;
            transform: rotate(90deg);
            font-size: 20px;
          }
        }
      }
    }
    .disableRange {
      display: none;
    }
    i {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: var(--navigation-item-text-color);
      &:hover {
        color: var(--navigation-item-text-color--hover) !important;
        cursor: pointer;
      }
      &.fa-volume-up {
        font-size: 20px;
      }
      &.fa-volume-mute {
        font-weight: 500;
      }
    }
    .audio-volume {
      display: flex;
      align-items: center;
      width: 25px;
    }
  }
  canvas {
    width: 70%;
    @include media("mcbk-2") {
      width: 63%;
    }
  }
  .wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    .wave {
      width: 100%;
      height: 40px;
      margin-top: 0;
    }
  }
}
