@import "../../../../assets/scss/variables";

.custom-checkbox {
    display: flex;
    align-items: center;

    &.flex-sm-row {
        height: 61px;
        padding: 14px;
        background-color: var(--light-clr);
        border-radius: 5px;
        box-shadow: 0 3px 9px var(--box-shadow-box-clr);

        .normal-label {
            font-size: 14px;
            font-weight: 400;
            color: var(--secondary);
        }
    }

    .normal-label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 700;
        color: var(--secondary);
        text-transform: capitalize;
    }

    input {
        &+label {
            background-color: var(--primary-20);

            &::before {
                background-color: var(--primary-30);
            }
        }

        &[type="checkbox"]:checked+label {
            background-color: var(--primary-20);

            &::before {
                background-color: var(--primary);
            }
        }
    }

    label {
        width: 72px;
        height: 36px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s;
    }

    [type="checkbox"]+label::before {
        position: absolute;
        top: 3px;
        display: block;
        width: 34px;
        height: 30px;
        content: "";
        border-radius: 4px;
        transition: all 0.2s;
        appearance: none;
    }

    [type="checkbox"]:not(:checked)+label::before {
        transform: translateX(3px);
    }

    [type="checkbox"]:checked {
        &+label::before {
            transform: translateX(36px);
        }
    }
}